@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

.List_items_decoration_decimal{
  list-style-type:decimal;
}
body.m-content--skin-light2{
  background-color: #ffffff !important;
}

.checkout_box{
  /*display: none;*/
  width: 1180px;
  height: 900px;
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  border-radius: 8px;
  /*margin: 90px auto;*/
  box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.2) !important;
  overflow: hidden;
}
.checkout_logo{
  position: absolute;
  left: 4%;
  top: 2%;
}
.box1{
  /*width: 764px;*/
  height: 900px;
  padding: 34px;
}
.box2{
  /*width: 416px;*/
  height: 900px;
  box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffffff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
  padding: 109px 40px 37px 40px;
}
.Were-almost-there{
  font-family: 'Open Sans',sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-align: left;
  color: #4c4c4c;
  padding-left: 10px;
}
.shipping_box{
  width: 336px;
  height: 577px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
}
.card_box{
  width: 336px;
  height: 577px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
}
.shipping_heading{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: #4c4c4c;
  padding-left: 10px;
}
.footer_box{
  /*width: 1182px;*/
  width: 100%;
  height: 64px;
  background-image: linear-gradient(128deg, #f9de00 -16%, #f5b700 79%);
  margin-left: -36px !important;
  margin-bottom: -34px !important;
  position: absolute;
  bottom: 3.8%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.footer_responsive{
  display: none;
  width: 100%;
  height: 64px;
  background-image: linear-gradient(128deg, #f9de00 -16%, #f5b700 79%);
  margin-left: -10px !important;
  position: absolute;
  bottom: 0;
}
.powerd_by_checkout{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: right;
  color: #4c4c4c;
  padding-right: 4%;
}
.footer_responsive.powerd_by_responsive{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}
.label_checkout{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: left;
  float: left;
  color: #777777;
  padding-left: 8px;
}
#cardNo1{
  position: absolute;
  top: 45%;
  left: 10%;
  background-color: transparent;
  border: none;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.9;
  letter-spacing: 6.4px;
  text-align: left;
  color: rgba(255, 255, 255, 0.85);
  width: 100%;
}
#CardName{
  position: absolute;
  top: 75%;
  left: 10%;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.22px;
  text-align: right;
  color: rgba(255, 255, 255, 0.85);
}
#cardExp{
  position: absolute;
  top: 75%;
  left: 78%;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: right;
  color: rgba(255, 255, 255, 0.85);
}
.card_svg{
  position: absolute;
  top: 10%;
  right: 8%;
}
.alert_text{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}
.Contact-Information{
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  /*line-height: 3.33;*/
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  margin-bottom: 0;
}
.bold_text_checkout {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  /*line-height: 2;*/
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.btn-edit_info_checkout{
  width: 176px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}
.products-heading_checkout{
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: 0.38px;
  text-align: left;
  color: #4c4c4c;
}
.product_box_checkout{
  width: 48px;
  height: 32px;
  background-color: #ffd95a;
  border-radius: 15px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.2;
  //line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}
.product_name_checkout{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  padding-top: 6px;
}
.product_price_checkout{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #4c4c4c;
  padding-top: 6px;
}
.products_list_height {
  //height: 270px;
  height: 272px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 330px;
  padding-right: 20px;
}
.products_list_height::-webkit-scrollbar-track
{
  border-radius: 10px;
}
.products_list_height::-webkit-scrollbar
{
  width: 3px;
  background-color: #eee;
}
.products_list_height::-webkit-scrollbar-thumb
{
  border-radius: 40px;
  background-color: #919191;
}
.Shipping-Handling{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-bottom: .5rem;
}
.Shipping-price{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #4c4c4c;
  margin-bottom: .5rem;
}
.Grand-Total {
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}
.Grand-Price{
  font-family: 'Open Sans',sans-serif;
  font-size: 37px;
  //font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: right;
  color: #4c4c4c;
}
.btn-pay{
  /*width: 336px;*/
  width: 100%;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #adadad;
  background-color: #e8e8e8;
}
.m-checkbox.m-checkbox--state-brand > span {
  width: 20px;
  height: 20px;
  border: solid 2px #4c4c4c !important;
}
.m-checkbox.m-checkbox--state-brand > span:after {
  border: solid #dfa300;
}
.m-checkbox.m-checkbox--state-brand > input:checked ~ span{
  border: 2px solid #ffda00 !important;
}
.terms{
  margin-top: 3rem;
}
.terms p {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-left: 2%;
}
.terms a{
  color: #ffbb01;
  text-decoration: underline;
}
.terms a:hover,.terms a:focus{
  color: #ffbb01;
  text-decoration: underline;
}
.modal-lg{
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-close-modal{
  position: absolute;
  right: 2%;
  top: 10px;
}
.modal-term-service{
  padding: 40px;
}
.term_of_service{
  font-family: 'Open Sans',sans-serif;
  font-size: 31px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffa701;
}
.welcome_hr{
  opacity: 0.2;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.para_term{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.26px;
  text-align: left;
  color: #4c4c4c;
}
.first{
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.32px;
}
.second{
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.19px;
  color: #ffa701;
}
.third{
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
}
.four{
  font-family: 'Open Sans',sans-serif;
  color: #35bab6;
}
.m-checkbox--state-brand.pull-left.mb-0{
  width: 100%;
}

/*---- Loader box----*/
.checkout_box_loader{
  width: 1180px;
  height: 900px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16) !important;
  border: solid 2px #eeeeee;
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  /*margin: 90px auto;*/
}
.account-transfer-success {
  padding: 86px 0px 21px 0px;
}
.account-transfer-success .title {
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}
.account-transfer-success .title {
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}
.Transaction-Successfull {
  height: 0px;
  font-family: 'Open Sans',sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}
.loader-state {
  height: 42px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.22px;
  text-align: center;
  color: #777777;
}
.descriptor-name {
  height: 22px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #777777;
}
.progress1 {
  width: 230px;
  height: 230px;
  margin: 80px auto 138px auto;
  cursor: pointer;
  text-align: -moz-center;
}
.loader-image {
  position: absolute;
  top: 52%;
  right: 43%;
  z-index: 999;
}
.progress-circle {
  transform: rotate(-90deg);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.25) !important;
  border-radius: 50%;
}
.progress-circle-back {
  fill: #f4f4f4;
  stroke: #f4f4f4;
  stroke-width: 6px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.25) !important;
}
.progress-circle-prog {
  fill: #f4f4f4;
  stroke: #00cc6e;
  stroke-width: 6px;
  /*stroke-dasharray: 0 999;*/
  stroke-dashoffset: 0px;
  transition: stroke-dasharray 0.7s linear 0s;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.25) !important;
}
.success--image {
  display: none;
  margin: 35px auto 43px auto;
  cursor: pointer;
  text-align: center;
  transition: all 2s ease;
  animation-duration: 4s;
}
.error--image{
  display: none;
  margin: 35px auto 43px auto;
  text-align: center;
}
.hand-circle {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  margin-left: 41%;
  border: solid 6px #00cc6e;
  background: white;
}
.hand-image {
  width: 85%;
  margin-top: 10%;
}
.v-loader-btn {
  width: 240px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}
.img--hide{
  display: none !important;
}
.img--show{
  display: block !important;
}
.loader_qc_logo{
  margin-top: 110px;
}
/*.footer_checkout_loader{*/

/*}*/
.text_checkout_loader{
  font-family: 'Open Sans',sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-align: center;
  color: #4c4c4c;
}
.note_text_checkout{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.22px;
  text-align: center;
  color: #777777;
  margin-bottom: .5rem;
}
.desperate_name{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #777777;
}
.products_list_height .row:nth-child(n+2) {
  margin-top: 2rem;
}
.btn_shopping_back{
  width: 228px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffd95a;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}
.last_success_img{
  position: absolute;
  top: 55%;
  right: 43%;
  z-index: 999;
}

// edit info section

.edit_info_sec{
  width: 1180px;
  height: 900px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16) !important;
  border: solid 2px #eeeeee;
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  /*margin: 90px auto;*/
}
.edit_info_img{
  text-align: center;
}
.edit_info_text{
  font-family: 'Open Sans',sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-align: center;
  color: #454545;
}
.alert_circle {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  margin-left: 41%;
  background: white;
}
.alert_img{
  position: absolute;
  top: 52%;
  right: 42.5%;
  z-index: 999;
}
.btn-yes{
  width: 135px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.1;
  //line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #616161;
}
.btn-no{
  width: 135px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 1px #ffd95a;
  background-color: #ffd95a;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.1;
  //line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4a4a4a;
}
.footer_checkout_loader{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  position: absolute;
  top: 110%;
  left: 40%;
}
.footer_left_image{
  position: absolute;
  bottom: -40px;
  left: -35px;
  z-index: 2;
}
.col_zindex{
  z-index: 10;
}
.footer_quickcard{
  width: 15%;
}
.footer_quickcard_loader{
  width: 15%;
}

@media screen and (min-height: 901px) {
  .checkout_box{
    margin: 10vh auto;
  }
}

//------ Responsive start-----//
@media only screen and (min-width: 350px) and (max-width: 370px){
  .credit-card{
    position: relative;
    left: -15px;
  }
  .card_svg{
    right: 5%;
  }
  #cardNo1{
    letter-spacing: 6px;
    left: 5%;
  }
  #CardName{
    left: 5%;
  }
  #cardExp{
    left: 80%;
  }
  .alert_img {
    position: absolute;
    top: 45%;
    right: 30%;
    z-index: 999;
  }
  .edit_info_sec{
    height: 640px;
  }
  .checkout_box_loader{
    height: 700px;
  }
  .hand-circle {
    margin-left: 15% !important;
  }
  .loader-image {
    top: 48% !important;
    right: 30% !important;
  }
  .locked_image {
    top: 44.5% !important;
  }
}
@media only screen and (min-width: 410px) and (max-width: 420px){
  .credit-card{
    width: 325px;
  }
  #cardNo1{
    letter-spacing: 7px;
    width: 100%;
  }

  .alert_img {
    position: absolute;
    top: 45%;
    right: 32%;
    z-index: 999;
  }
  .checkout_box_loader,.edit_info_sec{
    height: 735px;
  }
  .alert_circle {
    margin-left: 20% !important;
  }
}
@media only screen and (max-width: 577px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    //width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 7px;
  }
  .checkout_logo{
    left: 33%;
    top: 3%;
  }
  .checkout_box{
    width: 100%;
    height: auto;
  }
  .row{
    margin-left: 0;
    margin-right: 0  ;
  }
  .box1{
    padding: 0;
    width: 100%;
    height: auto;
    margin-top: 25%;
  }
  .box2{
    padding: 24px 10px;
    width: 100%;
    height: auto;
    border-radius: 0;
    padding-bottom: 23%;
  }
  .shipping_box,.card_box{
    width: 100%;
    height: auto;
  }
  .footer_box{
    display: none;
  }
  .footer_responsive{
    display: block;
  }
  .powerd_by_checkout{
    text-align: center;
  }
  .col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.ml-0{
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-top: 3rem;
  }
  .checkout_box_loader,.edit_info_sec{
    width: 100%;
    //height: auto;
    border-radius: 0;
    box-shadow: none;
  }
  .footer_checkout_loader{
    display: none;
  }
  .loader_qc_logo{
    margin-top: 50px;
  }
  .edit_info_text{
    font-size: 24px;
  }
  .alert_circle{
    margin-left: 15%;
  }
  .product-responsive{
    width: 20%;
    flex: 20%;
    float: left;
  }
  .product-name-responsive{
    width: 50%;
    flex: 50%;
  }
  .product-price-responsive{
    width: 30%;
    flex: 30%;
    padding-right: 0;
  }
  .products_list_height{
    width: 100%;
  }
  .col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none
  }

  .col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%
  }

  .col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%
  }

  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 0;
  }

  .col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%
  }

  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%
  }

  .col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%
  }

  .col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%
  }

  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%
  }

  .col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%
  }

  .col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%
  }

  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%
  }
  .text_checkout_loader{
    font-size: 24px;
    width: 265px;
  }
  .account-transfer-success {
    padding: 60px 0px 21px 0px;
  }
  .loader-image {
    position: absolute;
    top: 49.5%;
    right: 32%;
    z-index: 999;
  }
  .hand-circle{
    margin-left: 20%;
  }
  .last_success_img {
    position: absolute;
    top: 54%;
    right: 32%;
    z-index: 999;
  }
  .locked_image{
    top: 46.5% !important;
  }
  .footer_left_image{
    display: none;
  }
  .footer_quickcard{
    width: 15%;
  }
}

.new_card{
  text-align: left !important;
}

.error {
  font-family: 'Open Sans',sans-serif;
  color: red;
  margin-bottom:0.1rem;

}
//************* Start new Api Checkout design CSS ***************//
.api_new_box{
  margin: 0 auto;
}
.api_checkout_box{
  width: 1242px;
  height: 844px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  padding-left: 141px;
  padding-right: 141px;
  padding-top: 63px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.api_amount_box{
  width: 960px;
  height: 96px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-left: 8px solid #ffd95a;
  margin-bottom: 24px;
}
.api_billing_info{
  width: 960px;
  height: 534px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 24px;
}
.api_card_input{
  width: 960px;
  height: 486px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 24px;
}
.api_amount_img{
  margin: 20px 24px 20px 40px;
  float: left;
}
.api_due_amount{
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-top: 35px;
  margin-bottom: 34px;
}
.api_bold_amount{
  font-family: "Open Sans",sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  //line-height: 0.5;
  letter-spacing: normal;
  text-align: right;
  color: #00cc6e;
  margin-right: 40px;
  margin-top: 21px;
  margin-bottom: 20px;
}
.billing_info_api_heading{
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.32px;
  text-align: left;
  color: #4c4c4c;
}
.steps_api{
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.32px;
  text-align: right;
  color: #adadad;
}
.api_checkout_hr{
  border-top: 1px solid #cacaca !important;
}
.alert_text_api{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-top: 1.3rem;
}
.btn-next-api{
  width: 123px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffd95a;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
  float: right;
  margin-top: 1rem;
}
.btn-back-api{
  width: 123px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffffff;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
  float: left;
  margin-top: 1rem;
}

.card_box_api{
  width: 337px;
  height: 197px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(122deg, #040404 -2%, #414148 94%);
  margin: 0 auto;
}
.VALID-THRU_api {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: right;
  color: rgba(255, 255, 255, 0.85);
}
.dots_api{
  letter-spacing: 8px !important;
  width: 100% !important;
  background: transparent !important;
  border: 0 !important;
  font-family: 'Source Sans Pro',sans-serif;
  left: 4% !important;
  font-size: 20px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 0.9 !important;
  text-align: left !important;
  color: rgba(255, 255, 255, 0.85) !important;
}
.credit-user-name_api{
  position: relative !important;
  top: 0% !important;
  left: 0% !important;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 12px !important;
  font-weight: 300 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.5 !important;
  letter-spacing: 0.22px !important;
  text-align: left !important;
  color: rgba(255, 255, 255, 0.85) !important;
}
.margin-top-4-5rem{
  margin-top: 4.5rem !important;
}
.date-exp_api{
  position: relative !important;
  top: 0% !important;
  left: 0% !important;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 17px !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.06 !important;
  letter-spacing: normal !important;
  text-align: right !important;
  color: rgba(255, 255, 255, 0.85) !important;
}
.m-switch.m-switch--primary:not(.m-switch--outline) input:empty ~ span:after {
  opacity: 1 !important;
}
.footer_api_box{
  width: 1242px;
  height: 64px;
  background-image: linear-gradient(126deg, #f9de00 -13%, #f5b700 78%);
  position: absolute;
  left: -126px;
  bottom: -175px;
}
.footer_left_api_img{
  position: absolute;
  bottom: -175px;
  left: -126px;
  z-index: 2;
}
.api_hide{
  display: none;
}
.api_show{
  display: block;
}
.api_loader-image {
  position: absolute;
  top: 50%;
  right: 43.5%;
  z-index: 999;
}
.api_checkout_box_loader{
  width: 1242px;
  height: 850px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  margin-top: 1rem;
}
.api_footer_checkout_loader{
  position: absolute;
  top: 105%;
  left: 40%;
}
//************* End new Api Checkout design CSS *****************//

.height-48{
  height: 48px !important;
}
