accounts.scss.qc_loader{
    margin-top: 14%;
    height: 500px;
}
.login-bg {
    height: 100vh;
    //background-image: url("https://quickard.s3-us-west-2.amazonaws.com/loader.svg");
    background-image: image_url("v2/login/loader.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.background_image{
    /*background-image: url("../../../../assets/img/FullBG.svg");*/
    background-repeat: no-repeat;
    background-size: cover;
}

.qc_loader{
    margin-top: 12%;
    height: 500px;
}
.no_entries{
    text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;
}
.display_none {
    display: none !important;
}
.clickable_row{
    cursor: pointer !important;
}

.has-error{
    font-size: 18px;
    color: red;
}
.loader{
    display: none;
    padding-left: 340px;

}
.loader_1{
    display: none;
    padding-left: 160px;
    padding-top: 200px;

}
#buy_giftcard{
    overflow-x: hidden;
    height: 600px;
    overflow-y: auto;
}
.risk-score-section{
    background-color: white;
    /*border: 2px solid darkgrey;*/
    border-radius: 5px;
    min-width: 100%;
    /*min-height: 150px;*/
}
.risk-score-ip-section{
    font-weight:bold;
    font-size:13px;
}
.bold-minfraud{
    font-weight: bold;
}
#search_div{
    padding-left: 595px;
}
#memo{
    border-radius: 5px;
    height: 100px;
}
#tip_memo{
    border-radius: 5px;
    height: 100px;
}
#transfer_amount-error{
    width: auto;
    padding-top:80px;
}
#tip_amount-error{
    width: auto;
    padding-top:80px;
}
#scrollbar{
    margin-left: 22%;
    /*margin-left: 50%;*/
}
#wallet_error{
    font-size: 18px;
    color: red;
}
/*.margin-top-9{*/
/*    margin-top: -9px;*/
/*}*/
#amount-error {
    top: 61px !important;
    margin-left: 20px !important;
    width: 100%;
    text-align: left;
}
#p2c_amount-error{
    top: 60px !important;
    width: 100%;
    text-align: left;
}
#check_amount-error {
    top: 58px !important;
    width: 100%;
    text-align: left;
}
.ok--btn-2 {
    width: 98px;
}
#trans_memo{
    word-break: break-all;
}
.account-transfer-success .number{
    word-break: break-word;
}
#p2cerrormessage .alert-body{
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#p2cerrormessage .account-information {
  width: 370px;
  height: 27px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 26px;
  margin-top: 20px;
}
#p2cerrormessage .loader-svg{
  margin-left: 29px;
  margin-top: 10px;
}

#p2cerrormessage .confirm-modal-btn{
  padding-bottom: 2em !important;
}

#errormessage .alert-body{
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#errormessage .account-information {
  width: 370px;
  height: 27px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 26px;
  margin-top: 20px;
}
#errormessage .loader-svg{
  margin-left: 29px;
  margin-top: 10px;
}

#errormessage .confirm-modal-btn{
  padding-bottom: 2em !important;
}

#checkerrormessage .alert-body{
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#checkerrormessage .account-information {
  width: 370px;
  height: 27px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 26px;
  margin-top: 20px;
}
#checkerrormessage .loader-svg{
  margin-left: 29px;
  margin-top: 10px;
}

#checkerrormessage .confirm-modal-btn{
  padding-bottom: 2em !important;
}

.in_progress{
  background-color: orange;
}

#giftcardmessage .alert-body{
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#giftcardmessage .account-information {
  width: 370px;
  height: 27px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 26px;
  margin-top: 20px;
}
#giftcardmessage .loader-svg{
  margin-left: 29px;
  margin-top: 10px;
}
.gc_amount_details-gc{
  margin-top: 44px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}
.total{
  font-size: 16px;
  font-weight: 600;
  color: #35bab6;
}
.for-modal-range
{
  top: 13% !important;
  right: auto !important;
  left: 8% !important;
}
.loader_2{
  display: block;
  padding-top: 0px;
  padding-left: 80px;
  width: 35% !important;

}
.merchant_list_data{
  display: none;
}
.agent_list_data{
  display: none;
}
#myTable {
  height: 630px;
  overflow-y: hidden;
  padding-right: 5px;
}
#myTable:hover {
  overflow-y: auto;
}
#myTable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #cacaca;
}
#myTable::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.pad_5{
  padding-left: 5px!important;
}
#agent_list {
  height: 630px;
  overflow-y: hidden;
  padding-right: 5px;
}
#agent_list:hover {
  overflow-y: auto;
}
#agent_list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #cacaca;
}
#agent_list::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
