span#amount_error1 , div#amount_limit_error2 , div#check_amount-error , #check_recipient-error , #check_name-error, #check_description-error{
    color: red;
    font-weight: 600;
}
#check_description{
	border-radius: 5px;
    height: 100px;
}
.has-danger label.col-form-label, .has-danger label.form-control-label, .has-danger label:not([class]){
	    color: #212529;
}

#ConfimCheckModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
.message {
    color: red;
}
label {
    margin-bottom: .5rem !important;
}
.icon_inside_input_field > i {
    position: absolute !important;
    display: block !important;
    transform: translate(0, -50%) !important;
    top: 23px !important;
    pointer-events: none !important;
    width: 45px !important;
    text-align: center !important;
    font-weight: unset !important;
    font-size: 16px !important;
}
.total_amount_div {
    display: none;
}
.after_message{
    display: none;
}

/*.form-control[disabled] {

    background-color: white !important;
}*/
.in_progress{
        background-color: orange;
}
div#tango_memo {
    display: inline-block;
    width: auto;
    word-break: break-all;
}
.wd_loader_img {
    top: 52% !important;
}
#newcheckModal .alert-body{
    display: none;
    width: 850px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-left: 20px;
}
#newcheckModal .account-information {
    width: 370px;
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 26px;
    margin-top: 16px;
}
/*#newcheckModal .loader-svg{
    margin-left: 29px;
    margin-top: 10px;
}*/
#newcheckModal .confirm-modal-btn{
    padding-bottom: 2em !important;
}

#amount_error1{
    padding-left: 12px;
    padding-bottom: 5px;
}