.cursor-not-allowed{
    cursor: not-allowed;
}
.loc-account-box .p-left-total-fund {
    border-radius: 8px 0px 0px 8px;
    background-color: #f7f7f7;
    border-left: 6px solid #ffd95a;
    padding: 23px 25px 17px 17px;
    display: flex;
}

.loc-account-box .p-total-price {
    background: #ffd95a;
    padding: 18px 25px 16px 17px;
    border-radius: 0px 8px 8px 0px;
    width: fit-content;
}

.view_more_text{
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.19px;
    text-align: left;
    color: #35bab6;
    text-decoration: underline;
}

.p-withdraw-btn{
    width: 126px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}

.simple-24-bold-rgba{
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);

}

.p-m-input{
    width: 280px;
    height: 48px;
    border-radius: 28px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #efefef;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.p-input-group{
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #efefef;
    background-color: #ffffff;
}

.p_v1{
    width: 1px;
    height: 630px;
    border-left: solid 1px #adadad;
    background-color: #ffffff;
}
.p_v2{
    width: 1px;
    height: 700px;
    border-left: solid 1px #adadad;
    background-color: #ffffff;
}

.p-simple-14-normal-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: normal;
    color: #777777;
}

.margin-top-20{
    margin-top: -15px;
}

.p-graph-box{
    height: 223px;
    border: solid 1px #f1f1f1;
    background-color: #ffffff;
    padding: 1em 1em;
    border-radius: 4px;
    min-height: 316px;
    max-height: available;
    min-width: 368px;
    max-width: available;
}

.simple-16-bold-adadad{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #adadad;
}

.simple-16-normal-adadad{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #adadad;
}
.light-dark-color{
    color: #777777 !important;
}
.price{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.36px;
    text-align: right;
    color: #707070;
}
.lh-center{
    line-height: 5.5rem !important;
}
.padding-top-2rem{
    padding-top: 2rem !important;
}