// Place all the styles related to the v2/merchant/profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.display-none{
  display: none;
}
.bg-white-profile{
  background-color: white !important;
}
.profile-update-btn{
  width: 151px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #ffd95a;
  background-color: #ffd95a !important;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
  margin-top: 1%;
}
.mirchant_profile {
  padding-top: 2.75em;
  padding-bottom: 3.75em;
}
.red-color{
  color: red;
}
.account-id-main-profiile{
  opacity: 0.5;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #adadad;
  padding-left: 2%;
}
.active-pad{
  padding-left: 40px;
}
.inactive-text{
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #D45858;
}
.active-text{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #00CC6E;
}
.password_tooltips_icon{
  margin-left: 3.2px;
}
.password_sugg{
  bottom: 0px !important;
}

.tooltip_show{
  display: block !important;
}

.tooltip_hide{
  display: none !important;
}