//= require intlTelInput

$(document).ready(function () {
    $("form#vt-form").keypress(function (e) {
        //Enter key
        if (e.which == 13) {
            return false;
        }
    });
    delete_product();
    validateVirtualTerminalForm('vt-form');

    $(".on_select").on("click focusin", function () {
        $(this).select();
    });
    $(".on_select").on('keypress',function(e){
        if ($(this).val().length == 1 && e.which == 48 && $(this).val() == "0"){
            $(this).val('');
        }
    });
    $(".quantity_reg").inputmask('Regex', {regex: "^[0-9]+$"});
    $(".ez_dollar").inputmask('Regex', {regex: "^[0-9]{1,99}(\\.\\d{1,2})?$"});
    $(document).on("keyup", ".valid_percent", function () {
        $(".valid_percent").inputmask('Regex', {regex: "^(?:\\d{1,2}(?:\\.\\d{1,2})?|100(?:\\.0?0)?)$"});
    });
    $(document).on("keyup", ".ez_dollar", function () {
        $(".ez_dollar").inputmask('Regex', {regex: "^[0-9]{1,99}(\\.\\d{1,2})?$"});
    });
    $("#phone_number").inputmask('Regex', {regex: "^[0-9]+$"});
    $("#b_zip").inputmask('Regex', {regex: "^[0-9]+$"});
    $("#reload").on('click', function () {
        window.location.reload();
    });
    $("#wallet_id").on('change', function () {
        if($(".select_account").hasClass('has-danger') && $(this).val() != ""){
            $(".select_account").removeClass('has-danger');
            $("#wallet_id-error").remove();
        }
        if($(this).find(':selected').data('location-status') == true){
            $("#location_error").html("<b>Location is Blocked</b>");
            $(".virtual-btn").prop("disabled", true);
        }else{
            $("#location_error").html("");
            $(".virtual-btn").prop("disabled", false);
        }
    });
    $(".virtual-btn").click(function(){
        validateVirtualTerminalForm('vt-form');
        $('.working').show();
        $('.first--text').show();
        $('.last--text').hide();
        $('.success--image').hide();
        p2c(0);
        if($("#vt-form").valid()){
            $("#VirtualTerminalSuccessModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            setTimeout(p2c(10), 200);
        }else{
            $("#vt-form").validate();
            if($(".select_account").hasClass('has-danger')){
                error = $("#wallet_id").next();
                $("#wallet_id").next().remove();
                $("#wallet_id").next().after(error);
            }
            if($(".select_country").hasClass('has-danger')){
                error = $("#b_country").next();
                $("#b_country").next().remove();
                $("#b_country").next().after(error);
            }
            if($(".select_state").hasClass('has-danger')){
                error = $("#b_state").next();
                $("#b_state").next().remove();
                $("#b_state").next().after(error);
            }
            $(".form-error").show().html("<b>Please fill all fields!</b>").fadeOut(3000);
        }
    });
    $("#sub_total").prop("readonly", true);
    $("#grand_total").prop("readonly", true);
    $(".product_amount").prop("readonly", true);

    $("#add_another_item").on('click',function () {
        var count = $(this).data("count");
        add_new_item(count,"","","","0.0");
        new_count = parseInt(count) + 1;
        $(this).data("count",new_count);
        delete_product();
    });
    $(document).on("click",".delete_product", function () {
        var id = $(this).data("id");
        $(".main_product_"+id).remove();
        setting_sub_total();
        delete_product();
    });

    $(document).on('keyup','.calculate_amount',function () {
        var id = $(this).data("id");
        qty = parseInt($("#qty_"+id).val());
        unit_price = parseFloat($("#unit_price_"+id).val());
        if(qty > 0 && unit_price > 0){
            $("#amount_"+id).val((qty * unit_price).toFixed(2));
            setting_sub_total();
        }
    });

    $(document).on('change','.dollar_percent_button',function () {
        field = $(this).data("type");
        if($(this).prop("checked") == true){
            $("#"+field+"_method").val('percent');
            $("#"+field+"_sign").text('').text('%');
            $("#"+field).addClass("valid_percent");
            $("#"+field).val("0");
            $("#"+field).removeClass("ez_dollar");
        }else{
            $("#"+field+"_method").val('dollar');
            $("#"+field+"_sign").text('').text('$');
            $("#"+field).removeClass("valid_percent");
            $("#"+field).addClass("ez_dollar");
            $("#"+field).val("0");
        }
        calculation_grand_total(field)
    });

    $(".calculation_grand_total").on('keyup',function () {
        var field = $(this).data("type");
        calculation_grand_total(field);
    })
    $(document).on('click', '#apply_tax', function () {
        calculation_grand_total("");
    });

    $(".card_no").inputmask('Regex', {regex: "^[0-9 •]+$"});
});
function setting_sub_total() {
    var inputs = $(".product_amount");
    var sub_total = 0;
    for (var i = 0; i < inputs.length; i++) {
        sub_total = parseFloat($(inputs[i]).val()) + sub_total;
    }
    $("#sub_total").val(sub_total.toFixed(2));
    $("#grand_total").val(sub_total.toFixed(2));
    calculation_grand_total('discount')
}

function calculation_grand_total(field) {
    total_amount = parseFloat($("#sub_total").val());

    discount_minus = 0;
    if($("#discount").val().length > 0) {
        discount_minus = parseFloat($("#discount").val());
    }
    discount_method = $("#discount_method").val();

    tax_plus = 0;
    if($("#tax").val().length > 0) {
        tax_plus = parseFloat($("#tax").val());
    }
    tax_method = $("#tax_method").val();

    fee_plus = 0;
    // if($("#fee").val().length > 0) {
    //     fee_plus = parseFloat($("#fee").val());
    // }
    fee_method = $("#fee_method").val();

    shipping_handling_plus = 0;
    if($("#shipping_handling_fee").val().length > 0) {
        shipping_handling_plus = parseFloat($("#shipping_handling_fee").val());
    }
    shipping_handling_method = $("#shipping_handling_method").val();
    late_fee_plus = 0;
    if($("#late_fee").length){
        if($("#late_fee").val().length > 0) {
            late_fee_plus = parseFloat($("#late_fee").val());
        }
        late_fee_method = $("#late_fee_method").val();
        if (late_fee_method == "percent" && late_fee_plus > 0) {
            late_fee_plus = parseFloat(total_amount * late_fee_plus / 100);
        }
    }

    if (discount_method == "percent" && discount_minus > 0) {
        discount_minus = parseFloat(total_amount * discount_minus / 100);
    }
    if (tax_method == "percent" && tax_plus > 0) {
        if ($('#apply_tax').is(":checked")) {
            apply_tax_total_amount = total_amount + parseFloat($("#shipping_handling_fee").val());
            tax_plus = parseFloat(apply_tax_total_amount * tax_plus / 100);
        }else{
            tax_plus = parseFloat(total_amount * tax_plus / 100);
        }
    }
    if (fee_method == "percent" && fee_plus > 0) {
        fee_plus = parseFloat(total_amount * fee_plus / 100);
    }
    total_discount = parseFloat($('#discount').val());
    sub_total = parseFloat($('#sub_total').val());
    method = $('#discount_method').val();
    if(total_discount > sub_total && method !="percent"){
        alert('Discount should be less than the subtotal');
        $('#discount').val(0);
        setting_sub_total();
    }
    new_grand_total = ((total_amount + tax_plus + fee_plus + late_fee_plus + shipping_handling_plus) - discount_minus ).toFixed(2);
    $("#grand_total").val(new_grand_total);
}

var search_with = null;
$(document).on('keyup','#customer_name',function () {
    search_with = "customer_name";
    var search = $("#customer_name").val();
    $("#name").val(search);
    if(search.length >= 3){
        getUsers(search)
    }
    // else{
    //     set_customer_info("", $("#phone_number").val(), "", "", "", "", "", "", "",search)
    // }
});
$(document).on('change click blur paste keyup','#phone_number',function () {
    search_with = "phone_number";
    var phone = $("#phone_number").val();
    var phone_code = $(".selected-dial-code").text();
    var  code = phone_code.slice(1)
    var search = code + phone
    if(search.length > 5){
        getUsers(search)
    }else{
        $("#verified_user_id").val('');
        $("#existing_user").val('');
    }

});
$(document).on('change keyup','#phone_number',function () {
    $('#phone-error').html("");
    var phone = $("#phone_number").val();
    var phone_code = $(".selected-dial-code").text();
    var  code = phone_code.slice(1)
    var search = code + phone
    if(search.length > 5) {
        $.ajax({
            url: "/v2/merchant/sales/check_phone_number",
            type: "GET",
            data: {phone_number: search},
            success: function (data) {
                if (data.valid == true){
                    $('#phone-error').html("");
                }else{
                    $('#phone-error').html("Invalid Phone Number");

                }

            }
        })
    }
});


$(document).on('change click','li.country',function () {
    $("#phone_number").val('');
    $('#phone-error').text('')
})
function getUsers(search){
    $("#"+search_with).catcomplete({
        minLength: 3,
        maxShowItems: 15,
        source: function (request, response) {
            $.ajax({
                url: "/v2/merchant/sales/customer_search",
                type: "GET",
                data: {query: search, type: "sales", search_with: search_with},
                success: function (data) {
                    if (data.users.length > 0){
                        response(data.users);
                    }

                    // else{
                    //     if (search_with == "phone_number"){
                    //         set_customer_info("", search, "", "", "", "", "", "", "",$("#name").val())
                    //     }else{
                    //         set_customer_info("", $("#phone_number").val(), "", "", "", "", "", "", "",search)
                    //     }
                    // }
                },
                error: function (data) {
                    // if (search_with == "phone_number"){
                    //     set_customer_info("", search, "", "", "", "", "", "", "",$("#name").val())
                    // }else{
                    //     set_customer_info("", $("#phone_number").val(), "", "", "", "", "", "", "",search)
                    // }
                }
            });
        },
        select: function(e, ui) {
        }
    })
        ._renderItem = function (ul, item) {
        return $("<li></li>")
            .data("item.autocomplete", item);
    };
}
$( function() {
    $.widget( "custom.catcomplete", $.ui.autocomplete, {
        _create: function() {
            this._super();
            this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
        },
        _renderMenu: function( ul, items ) {
            var that = this;
            $.each( items, function( index, item ) {
                if(search_with == "phone_number"){
                    ul.append( "<li class='ui-autocomplete-category' data-id='"+ item.id +"' data-email='"+ item.email +"' data-phone='"+ item.phone_number +"' data-name='"+ item.name +"'>" + item.phone_number + "</li>" );
                }else{
                    ul.append( "<li class='ui-autocomplete-category' data-id='"+ item.id +"' data-email='"+ item.email +"' data-phone='"+ item.phone_number +"' data-name='"+ item.name +"'>" + item.name + "  (" + item.phone_number + ")</li>" );
                }
            });
            ul.parent().css('position','relative');

<!--            $(".searched_dropdown").empty().append(ul);-->
<!--            ul.addClass('add_class');-->
<!--            if (ul.hasClass('ui-menu')) {-->
<!--            } else {-->
<!--                ul.addClass('ui-menu').addClass('ui-widget').addClass('ui-widget-content');-->
<!--                ul.attr('tabindex', '0');-->
<!--            }-->
        }
    });
} );

<!--$(document).on('click',".searched_dropdown li.ui-autocomplete-category", function () {-->
$(document).on('click',".ui-autocomplete-category", function () {
    set_customer_info($(this).data("phone"), $(this).data("email"), "true", $(this).data("id"), $(this).data("name"))
    $.ajax({
        url: "/v2/merchant/sales/customer_address",
        type: "GET",
        data: {id: $(this).data("id")},
        success: function (data) {
            $('#b_suit').val(data.billing.suit);
            $('#b_street').val(data.billing.street);
            $('#b_zip').val(data.billing.zip);
            $('#b_city').val(data.billing.city);
            $('#temp_b_state').val(data.billing.state);
            $('#b_country').selectpicker('val', data.billing.country);
<!--            $('#b_state').selectpicker('val', data.billing.state);-->
            $('#b_street').prop('readonly', true);
            $('#b_suit').prop('readonly', true);
            $('#b_city').prop('readonly', true);
            $('#b_zip').prop('readonly', true);
            $('#b_country').prop('disabled', true);
            $('#b_country').selectpicker('refresh');
            $('#b_state').prop('disabled', true);
<!--            $('#b_state').selectpicker('refresh');-->
            // $(".address_section").empty().append(data);
        },
        error: function (data) {
        }
    });

    $("#customer_name").val($(this).data("name"));
<!--    $('#customer_name').prop('readonly',true);-->
    $(this).parent().hide();
    remove_errors();
});
function set_customer_info(phone_number, email, existing_user, verified_user_id, name) {
    $('.intl-tel-input').remove();
    $('#phone_number').remove();
    $('#phone_parent').append('<input type="text" class="form-control invoice-input m-input" id="phone_number" name="phone_number" value="+'+ phone_number +'" required>');

    // $('#phone_number').prop('val',phone_number);
    $('#email').val(email);
    $("#existing_user").val(existing_user);
    $('#verified_user_id').val(verified_user_id);
    $('#name').val(name);

    $("#phone_number").intlTelInput({
        formatOnInit: true,
        separateDialCode: true,
        customPlaceholder: function(selectedCountryPlaceholder, selectedCountryData) {
            country=selectedCountryPlaceholder;
            country=country.replace(/[^0-9\. ]/g,'').replace(/\W/gi,'');
            $('#phone_code').val(Object.values(selectedCountryData)[2]);
            space_remove(Object.values(selectedCountryData)[2]);
            if(selectedCountryData.iso2 == 'us') {
                country = "555-555-5555"
            }
            return  country;
        },
        excludeCountries: ['ba','cf','cd','cg','do','gq','pf', 'gw','mk','mg','nc','kp','mf','pm','vc','st','ae'],
        // utilsScript: "<%= asset_path 'libphonenumber/utils.js' %>"
    });
    $("#phone_number").trigger('change');
    $('.middle-edit').show();

}

function add_new_item(number,description,qty,unit_price,amount) {
    $('#add_another_item_div').before(
        '  <div class="row main_product_'+number+' more_than_one">\n' +
        '    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">\n' +
        '      <div class="form-group m-form__group">\n' +
        '        <input type="text" value="'+ description +'" id="description_'+ number +'" name="product['+ number +'][description]" autocomplete="new-password" placeholder="Product Name" class="form-control invoice-input m-input" required>\n' +
        '      </div>\n' +
        '    </div>\n' +
        '    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">\n' +
        '      <div class="form-group m-form__group">\n' +
        '        <div class="input-icon icon_inside_input_field">\n' +
        '           <span>#</span>\n'+
        '        <input type="text" value="'+ qty +'" id="qty_'+ number +'" data-id="'+ number +'" name="product['+ number +'][qty]" autocomplete="new-password" class="form-control invoice-price-input m-input calculate_amount quantity_reg" placeholder="0" required>\n' +
        '       </div>\n' +
        '      </div>\n' +
        '    </div>\n' +
        '    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">\n' +
        '      <div class="form-group m-form__group">\n' +
        '        <div class="input-icon icon_inside_input_field">\n' +
        '          <span>$</span>\n' +
        '            <input type="text" value="'+ unit_price +'" id="unit_price_'+ number +'" data-id="'+ number +'" autocomplete="new-password" name="product['+ number +'][unit_price]" class="form-control invoice-price-input m-input calculate_amount ez_dollar" placeholder="0.0" required>\n' +
        '        </div>\n' +
        '      </div>\n' +
        '    </div>\n' +
        '    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">\n' +
        '      <div class="form-group m-form__group">\n' +
        '        <div class="input-icon icon_inside_input_field">\n' +
        '          <span>$</span>\n' +
        '            <input type="number" value="'+ amount +'" id="amount_'+ number +'" name="product['+ number +'][amount]" class=" form-control invoice-price-input m-input product_amount" placeholder="$" required>\n' +
        '        </div>\n' +
        '      </div>\n' +
        '    </div>\n' +
        '    <div class="col-lg-1">\n' +
        '      <a class="cursor-pointer delete_product" data-id="'+number+'">\n' +
        '        <img class="clear_invoice_btn" src="https://quickard.s3-us-west-2.amazonaws.com/clear_btn.svg">\n' +
        '      </a>' +
        '    </div>\n' +
        '  </div>')
    $(".product_amount").prop("readonly", true);
    $(".quantity_reg").inputmask('Regex', {regex: "^[0-9]+$"});
    $(".ez_dollar").inputmask('Regex', {regex: "^[0-9]{1,99}(\\.\\d{1,2})?$"});
    $(".valid_percent").inputmask('Regex', {regex: "^(?:\\d{1,2}(?:\\.\\d{1,2})?|100(?:\\.0?0)?)$"});
}
function remove_errors() {
    if($("#b_street").val() != ""){
        if($("#b_street").next().hasClass("form-control-feedback")){
            $("#b_street").next().remove();
        }
        if($("#b_street").parent().hasClass("has-danger")){
            $("#b_street").parent().removeClass('has-danger');
        }
    }
    if($("#customer_name").val() != ""){
        if($("#customer_name").next().hasClass("form-control-feedback")){
            $("#customer_name").next().remove();
        }
        if($("#customer_name").parent().hasClass("has-danger")){
            $("#customer_name").parent().removeClass('has-danger');
        }
    }
    if($("#b_state").val() != ""){
        if($("#b_state").next().hasClass("form-control-feedback")){
            $("#b_state").next().remove();
        }
        if($("#b_state").parent().hasClass("has-danger")){
            $("#b_state").parent().removeClass('has-danger');
        }
    }
    if($("#b_city").val() != ""){
        if($("#b_city").next().hasClass("form-control-feedback")){
            $("#b_city").next().remove();
        }
        if($("#b_city").parent().hasClass("has-danger")){
            $("#b_city").parent().removeClass('has-danger');
        }
    }
    if($("#b_zip").val() != ""){
        if($("#b_zip").next().hasClass("form-control-feedback")){
            $("#b_zip").next().remove();
        }
        if($("#b_zip").parent().hasClass("has-danger")){
            $("#b_zip").parent().removeClass('has-danger');
        }
    }
    if($("#email").val() != ""){
        if($("#email").next().hasClass("form-control-feedback")){
            $("#email").next().remove();
        }
        if($("#email").parent().hasClass("has-danger")){
            $("#email").parent().removeClass('has-danger');
        }
    }
    if($("#phone_number").val() != ""){
        if($("#phone_number").next().hasClass("form-control-feedback")){
            $("#phone_number").next().remove();
        }
        if($("#phone_number").parent().hasClass("has-danger")){
            $("#phone_number").parent().removeClass('has-danger');
        }
    }
}
$(document).on('change',"#b_country", function () {
    if($(this).val() != ""){
        $.ajax({
            url: '/v2/merchant/sales/country_data',
            data: {country: $(this).val()},
            method: 'GET',
            success: function (response) {
                $("#b_state").empty();
                var states = response["states"];
                // if (jQuery.isEmptyObject(states)){
                //     $('#state').prop('disabled', true);
                //     $('#state').selectpicker('refresh');
                //
                // }else {
                // $('#state').prop('disabled', false);
                $.each(states, function (key, value) {
                    $("#b_state").append('<option value=' + key + '>' + value + '</option>');
                });
                status = $('#b_country').attr('disabled');
                var bstatesval = $("#temp_b_state").val();
                if(bstatesval.length > 0){
                    $('#b_state').val(bstatesval);
                    $("#temp_b_state").val('');
                }
                if (status == "disabled"){
                    $('#b_state').prop('disabled',true);
                    $('#b_state').selectpicker('refresh');
                }else{
                    $('#b_state').prop('disabled',false);
                    $('#b_state').selectpicker('refresh');
                }
            }
        });
    }else{
        $('#b_state').prop('disabled', true);
        $('#b_state').selectpicker('refresh');
    }

});
$(document).on('click',".edit-text", function () {
    if ($('#b_state').prop('disabled')){
        $('#b_state').prop('disabled', false);
        $('#b_state').selectpicker('refresh');
    }else if(!$('#b_state').prop('disabled')){
        $('#b_state').prop('disabled', true)
        $('#b_state').selectpicker('refresh');
    }
    if ($('#b_country').prop('disabled')){
        $('#b_country').prop('disabled', false);
        $('#b_country').selectpicker('refresh');
    }else if(!$('#b_country').prop('disabled')){
        $('#b_country').prop('disabled', true)
        $('#b_country').selectpicker('refresh');
    }
    $('#customer_name').prop('readonly',true);
});
$(document).ready(function () {
    $('.middle-edit').hide();

    // $('#country').prop('disabled', true);
    // $('#country').selectpicker('refresh');
    // $('#state').prop('disabled', true);
    // $('#state').selectpicker('refresh');
});
$(document).ready(function () {

    $("#phone_number").intlTelInput({
        formatOnInit: true,
        separateDialCode: true,
        customPlaceholder: function(selectedCountryPlaceholder, selectedCountryData) {
            country=selectedCountryPlaceholder;
            country=country.replace(/[^0-9\. ]/g,'').replace(/\W/gi,'');
            // $('#phone_code').val(Object.values(selectedCountryData)[2]);
            if(selectedCountryData.iso2 == 'us') {
                country = "555-555-5555"
            }
            return  country;
        },
        excludeCountries: ['ba','cf','cd','cg','do','gq','pf', 'gw','mk','mg','nc','kp','mf','pm','vc','st','ae'],
        // utilsScript: "<%= asset_path 'libphonenumber/utils.js' %>"
    });
});

$(document).on('submit',"#vt-form", function () {
    var phone_code = $("#phone_number").intlTelInput("getSelectedCountryData").dialCode;
    $('#phone_code').val(phone_code);
    $('#b_state').prop('disabled', false);
    $('#b_country').prop('disabled', false);
    $('.virtual-btn').prop('disabled', true);
    $(this).submit(function (e) {
        e.preventDefault();
        return false;
    });
    return true;

});

$("#vt-form").validate({
    focusInvalid: false,
    invalidHandler: function(form, validator) {

        if (!validator.numberOfInvalids())
            return;

        if($(".error-message").text() != ""){
            $('html, body').animate({
                scrollTop: $('.error-message').offset().top - 150
            }, 500);
        }
        else{
            $('html, body').animate({
                scrollTop: $(validator.errorList[0].element).offset().top - 150
            }, 500);
        }

    }
});

function validateVirtualTerminalForm(role) {
    $(function() {
        var formRules = {
            rules: {
                "name": {
                    required: true
                },
                "phone_number": {
                    required: true
                },
                "email": {
                    required: true
                },
                "billing[street]": {
                    required: true
                },
                "billing[suit]": {
                    required: true
                },
                "billing[city]": {
                    required: true
                },
                "billing[country]": {
                    required: true
                },
                "billing[state]": {
                    required: true
                },
                "billing[zip]": {
                    required: true
                },
                "wallet_id": {
                    required: true
                },
                "AccountNo": {
                    required: true,
                    minlength: 15
                },
                "card_name":{
                    required: true
                },
                "exp_date":{
                    required: true
                },
                "card_cvv": {
                    required: true
                }
            },
            messages: {
                "name": {
                    required: "Please enter Customer Name"
                },
                "phone_number": {
                    required: "Please enter Customer Phone Number"
                },
                "email": {
                    required: "Please enter Customer Email"
                },
                "billing[street]": {
                    required: "Please enter Customer Address"
                },
                "billing[suit]": {
                    required: "Please enter Street Address"
                },
                "billing[city]": {
                    required: "Please enter City"
                },
                "billing[country]": {
                    required: "Please select a Country"
                },
                "billing[state]": {
                    required: "Please select a State"
                },
                "billing[zip]": {
                    required: "Please enter Zip Code"
                },
                "wallet_id": {
                    required: "Please select an Account"
                },
                "AccountNo": {
                    required: "Please enter Card Number",
                    minlength: "Please enter at least 13 characters"
                },
                "card_name":{
                    required: "Please enter Name on Card"
                },
                "exp_date":{
                    required: "Please enter Card Expiry"
                },
                "card_cvv": {
                    required: "Please enter Card CVV"
                }
            },

        };
        // $.extend(formRules, config.validations);
        $('#' + role).validate(formRules);
    });
};
function delete_product() {
    if($(".delete_product").length == 1){
        $(".delete_product").hide();
    }else if($(".delete_product").length > 1){
        $(".delete_product").show();
    }

}

$("#cardNoVt").on("keyup",function () {
    $("#cardNoSafeVt").val(this.value);
});

$("#cardNoVt").on("blur keyup",function () {
    var card_no=$("#cardNoSafeVt").val();
    card_no=card_no.replace(/\s/g, '');
    if (card_no != "" && card_no.length >= 6) {
        $.ajax({
            url: "/checkout/get_card_information",
            type: 'POST',
            data: {card_number: card_no},
            success: function (data) {
                var scheme = data["scheme"]
                if (scheme == "mastercard") {
                    $('.logo-card').prop('src', "<%= asset_path('v2/merchant/icons/master_card_without_line.png') %>");
                } else if (scheme == "discover") {
                    $('.logo-card').prop('src', "<%= asset_path('v2/merchant/icons/discover.png') %>");
                } else if (scheme == "jcb") {
                    $('.logo-card').prop('src', "<%= asset_path('v2/merchant/icons/jcb.png') %>");
                }else if (scheme == "visa") {
                    $('.logo-card').prop('src', "<%= asset_path('v2/merchant/icons/visa.svg') %>");
                }else if (scheme == "amex") {
                    $('.logo-card').prop('src', "<%= asset_path('v2/merchant/icons/american_express.png') %>");
                }
            },
            error: function (data) {

            }
        });
    }else if(card_no == ""){
        $('.logo-card').prop('src', "<%= asset_path('v2/merchant/icons/master_card_without_line.png') %>");
    }
});

$("#card_exp").on("blur",function () {
    var input = $(this).val();
    var match = input.match(/^(0[1-9]|1[0-2])\/?([0-9]{4}|[0-9]{2})$/);
    if (!match){
        $("#expiry_error").html("Invalid Expiry Date!")
        return;
    }else{
        $("#expiry_error").html("");
    }
});
$(document).ready(function(){
    $(document).on("cut copy paste",'#phone_number',function(e) {
        e.preventDefault();
    });
});
$("#cardNoVt").on("focus",function () {
    showCardValueVt();
});

$("#cardNoVt").on("blur",function () {
    hideCardValueVt(this.value);
});

$("#cardNoVt").on("keypress change select blur keyup",function (event) {
//     formatCardNumber(ev, this);
    if (isNaN(event.key) && !isAllowedKey(event) && !(event.type == "change" && $("#cardNoVt").val() != "")) {
        event.preventDefault();
    } else {
        var code = event.keyCode ? event.keyCode : event.which;
        if (code != 8) {
            if($("#cardNoVt").val().length > 14) {
                var position = this.selectionStart;
                new_value = $("#cardNoVt").val().replace(/\W/gi, '').replace(/^(.{4})(.{4})(.{4})(.*)$/, "$1 $2 $3 $4");
                $("#cardNoVt").val(new_value);
                if($("#cardNoVt").val().length != 19) {
                    this.setSelectionRange(position, position);
                }
            }
            else {
                new_value = $("#cardNoVt").val().replace(/\W/gi, '').replace(/(.{4})/g, '$1 ');
                $("#cardNoVt").val(new_value);
            }
        }
    }
    limit(event, this, 19);
});

function showCardValueVt() {
    document.getElementById("cardNoVt").value = document.getElementById("cardNoSafeVt").value;
    // document.getElementById("cardNo1").value = document.getElementById("cardNoSafe").value;
}

function hideCardValueVt(val) {
    $("#cardNoSafeVt").val(val);
    var len = val.length;
    if (len >= 14) {
        const regex = /\d{4}(?= \d{1})/g;
        const substr = "••••";
        new_value = val.replace(regex, substr);
        $("#cardNoVt").val(new_value);
        $("#cardNo1").val(new_value);
    }
}
$("#cardNoVt").on("focusout",function () {
    var card_no = $("#cardNoVt").val();
    card_no = card_no.replace(/\s/g, '');
    if(card_no.length < 13){
        $("#card_no_error").text("Please enter at least 13 characters")
    }
});
$("#cardNoVt").on("keyup",function () {
    var card_no = $("#cardNoVt").val();
    card_no = card_no.replace(/\s/g, '');
    if(card_no.length >= 13){
        $("#card_no_error").text("")
    }
});
$("#email").on("focusout",function () {
    var settings = $('#vt-form').validate().settings;
    settings.rules.email = {pattern: "^[^@]+@[a-zA-Z0-9._-]+\\.+([a-z]{2,})+$"};
    settings.messages.email = "Please enter a valid Email";
});