.login-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.new_logo_img {
  width: 90%;
}
.effect-top {
  width: 80%;
  position: fixed;
  top: -95%;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
.effect-top img {
  width: 100%;
}
.background_image_login {
  height: 100%;
  background-color: #f6f6f6;
  background-image: url("assets/images/merchant/new_login_gray_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  overflow: hidden;
}
.grey-left-side {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-right: 30%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.login-box {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("assets/images/merchant/yellow_bg_login.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 40px 60px 140px;
}
.login-box__form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.term-footer {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.term-footer p {
  margin-bottom: 0;
}
.m-login__logo {
  width: 100%;
  text-align: center;
}
.m-login__form-action {
  margin-top: 10px;
}
#login_div {
  width: 100%;
}
.form-group {
  padding: 8px 0;
  width: 100%;
}
.login-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.forgot-pass {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .login-box {
    width: 100%;
  }
  .grey-left-side {
    display: none;
  }
}

@media (max-height: 800px) {
  .background_image_login {
    min-height: 750px;
    overflow-y: auto;
  }
}
