risk_dots_text.qc_loader{
  margin-top: 14%;
  height: 500px;
}
.login-bg {
  height: 100vh;
  //background-image: url("https://quickard.s3-us-west-2.amazonaws.com/loader.svg");
  background-image: image_url("v2/login/loader.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.background_image{
  /*background-image: url("../../../../assets/img/FullBG.svg");*/
  background-repeat: no-repeat;
  background-size: cover;
}

.qc_loader{
  margin-top: 12%;
  height: 500px;
}
.no_entries{
  text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;
}
.display_none {
  display: none !important;
}
.clickable_row{
  cursor: pointer !important;
}

.has-error{
  font-size: 16px;
  color: red;
}
.loader{
  display: none;
  padding-left: 230px;
  width: 70%;

}
.loader_1{
  display: none;
  padding-top: 45px;
  width: 100% !important;

}
.loader_2{
  display: none;
  padding-top: 60px;
  width: 70% !important;
  margin-left: 60px;

}
#buy_giftcard{
  overflow-x: hidden;
  height: 600px;
  overflow-y: auto;
}
.risk-score-section{
  background-color: white;
  /*border: 2px solid darkgrey;*/
  border-radius: 5px;
  min-width: 100%;
  /*min-height: 150px;*/
}
.risk-score-ip-section{
  font-weight:bold;
  font-size:13px;
}
.bold-minfraud{
  font-weight: bold;
}
#search_div{
  padding-left: 595px;
}
#memo{
  border-radius: 5px;
  height: 100px;
}
#tip_memo{
  border-radius: 5px;
  height: 100px;
}
#transfer_amount-error{
  width: auto;
  padding-top:80px;
}
#tip_amount-error{
  width: auto;
  padding-top:80px;
}
#scrollbar{
  //margin-left: 22%;
  /*margin-left: 50%;*/
}
#wallet_error{
  font-size: 18px;
  color: red;
}
/*.margin-top-9{*/
/*    margin-top: -9px;*/
/*}*/
#amount-error {
  top: 61px !important;
  margin-left: 20px !important;
  width: 100%;
  text-align: left;
}
#p2c_amount-error{
  top: 60px !important;
  width: 100%;
  text-align: left;
}
#check_amount-error {
  top: 58px !important;
  width: 100%;
  text-align: left;
}
.ok--btn-2 {
  width: 98px;
}
#trans_memo{
  word-break: break-all;
}
.account-transfer-success .number{
  word-break: break-word;
}
#p2cerrormessage .alert-body{
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#p2cerrormessage .account-information {
  width: 370px;
  height: 27px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 26px;
  margin-top: 20px;
}
#p2cerrormessage .loader-svg{
  margin-left: 29px;
  margin-top: 10px;
}

#p2cerrormessage .confirm-modal-btn{
  padding-bottom: 2em !important;
}

#errormessage .alert-body{
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#errormessage .account-information {
  width: 370px;
  height: 27px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 26px;
  margin-top: 20px;
}
#errormessage .loader-svg{
  margin-left: 29px;
  margin-top: 10px;
}

#errormessage .confirm-modal-btn{
  padding-bottom: 2em !important;
}

#checkerrormessage .alert-body{
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#checkerrormessage .account-information {
  width: 370px;
  height: 27px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 26px;
  margin-top: 20px;
}
#checkerrormessage .loader-svg{
  margin-left: 29px;
  margin-top: 10px;
}

#checkerrormessage .confirm-modal-btn{
  padding-bottom: 2em !important;
}

.in_progress{
  background-color: orange;
}

#giftcardmessage .alert-body{
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#giftcardmessage .account-information {
  width: 370px;
  height: 27px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 26px;
  margin-top: 20px;
}
#giftcardmessage .loader-svg{
  margin-left: 29px;
  margin-top: 10px;
}
.gc_amount_details-x{
  margin-top: 35px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.total{
  font-size: 16px;
  font-weight: 600;
  color: #35bab6;
}
.for-modal-range
{
  top: 13% !important;
  right: auto !important;
  left: 8%;
  //left: 8% !important;
  display: block !important;
}
.color-red{
  color: red;
}
.filter-option-inner12233{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: left;
  color: #777777;
}
.bootstrap-select.form-control:not([class*=col-]) {
  //width: 98% !important;
}
.display_block{
  display: block;
}
.customize-drop{
  width: 260px;
  margin-left: 15px;

}
#graph_dropdown{
  width: 87% !important;
  z-index: 999;
}
.bg-color-white{
  background: white !important;
}
.width-auto{
  width: auto !important;
}
.red-color{
  color: red;
}
#bank_id-error{
  position: absolute;
  top: 50px;
}
.ach_amount_details{
  position: absolute;
  padding-top: 25px;
}



/*------------ New transaction Detail Design CSS start----------*/
.mb-24{
  margin-bottom: 24px;
}
.page-title_transaction{
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  /*line-height: 1.11;*/
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}
.risk_refund_button{
  font-family: "Open Sans", sans-serif;
  width: 126px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #d45858;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.26px;
  text-align: center;
  color: #ffffff;
}

.risk_accept_button{
  font-family: "Open Sans", sans-serif;
  width: 126px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffd95a;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}
.events-button_transaction{
  font-family: "Open Sans", sans-serif;
  width: 108px;
  height: 48px;
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a !important;
  background-color: #ffffff !important;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(216, 216, 216, 0.2);
  border-radius: 4px;
}

.simple-12-bold-4c4c4c{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #4c4c4c;
}

.risk-score{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffa701;
}

.risk_dots_text{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}

.simple-18-bold-4c4c4c{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}

.go_to_risk_analysis_text{
  font-family: "Open Sans", sans-serif;
  width: 188px;
  height: 48px;
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #ffd95a;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  bottom: 4em;
  right: 2em;
}
.display-flex{
  display: flex;
}
.risk-product-details{
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgba(216, 216, 216, 0.2);
}

.risk-odd-product-details{
  margin-top: 10px;
  border-radius: 4px;
}

.box-padding{
  padding: 16px 0px 0px 0px;
}
.position-22{
  position: relative;
  left: 22px;
}



.green-progress-bar{
  width: 210px !important;
  height: 16px !important;
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: #00cc6e;
}
.orange-progress-bar{
  margin-left: 10px;
  width: 134px !important;
  height: 16px !important;
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: #ffa701;
}
.pink-progress-bar{
  width: 75px !important;
  height: 16px!important;
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: rgba(255, 167, 1, 0.25);
}

.dark-pink-progress-bar{
  margin-left: 10px;
  width: 215px !important;
  height: 16px !important;
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: rgba(212, 88, 88, 0.25);
}

.progress_bar_toggle{
  position: absolute;
  left: 43%;
  top: 135px;
}
.risk_analysis_progress_bar{
  width: 654px;
  height: 24px;
  border-radius: 81px;
  -webkit-backdrop-filter: blur(30px);
  border: solid 1px #e8e8e8;
  background-color: #f7f7f7;
}

.risk_analysis_progress_bar .progress-bar{
  margin-top: 3px;
  margin-left: 3px;
}
.position-2x{
  position: relative;
  top: 2px;
}
.position-right-22{
  position: relative;
  right: 22px;
}
.simple-24-bold-text-dark span{
  color: #d45858;
}
.risk_imp_note{
  height: 201px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 24px;
  border-left: 8px solid #ffd95a;
}
.risk_note_heading{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: 0.26px;
  text-align: left;
  color: #4a4a4a;
}
.risk_note_detail{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}
.transaction_heading_risk{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: 0.22px;
  text-align: left;
  color: #4c4c4c;
  margin-bottom: 0;
}
.transaction_bottom_risk{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.22px;
  text-align: left;
  color: #4c4c4c;
}
.Payment-Information{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.16px;
  text-align: left;
  color: #adadad;
}
.Total_Amount_risk{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: 0.22px;
  text-align: left;
  color: #4c4c4c;
}
.Total_Amount_risk_number{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.22px;
  text-align: right;
  color: #4c4c4c;
}
.Total_Amount_risk_red{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.22px;
  text-align: right;
  color: #f77474;
}
.Total_Net_risk{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: 0.22px;
  text-align: left;
  color: #4c4c4c;
}
.card_info_name{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: 0.22px;
  text-align: left;
  color: #4c4c4c;
  margin-bottom: 0;
}
.card_info_user_name{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.22px;
  text-align: left;
  color: #4c4c4c;
}
.bottom_hr{
  border-top: 2px solid #adadad;
  width: 100%;
}
.transaction_product_box{
  height: 300px;
  overflow: hidden;
  padding-right: 20px;
}
.transaction_product_box:hover{
  overflow-y: scroll;
}
.transaction_product_box::-webkit-scrollbar-track
{
  border-radius: 10px;
}
.transaction_product_box::-webkit-scrollbar
{
  width: 5px;
  background-color: transparent;
}

.transaction_product_box::-webkit-scrollbar-thumb
{
  border-radius: 40px;
  background-color: #919191;
}
.customer_info_box {
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  background-color: #ffffff;
  margin-bottom: 1rem;
  padding: 24px;
}
/*------------New transaction Detail Design CSS End----------*/
.chargeback-open-cases .cl_4 {
  border-left: 1px dotted #e2e2e2;
  border-left-width: 3px;
  height: 95%;
  margin-top: 1.25em;
  display: block;
}
/*------------Tip/Reserve transaction Detail Design CSS Start----------*/


.simple-20-bold-77777{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.b_hr {
  height: 1px;
  border-top: solid 1px #cacaca;
  margin-bottom: 1.3rem;
  width: 100%;
  margin-top: 70px;
}
.simple-18-bold-777777{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.18px;
  text-align: left;
  color: #777777;
}
.transaction-table td, .transaction-table th {
  padding: .75rem 3.5rem .75rem .7rem ;
  text-align: right ;
}
.transaction-table thead th{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #4c4c4c;
}
.transaction-table tbody tr td{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4c4c4c;
}
.t_hr {
  height: 1px;
  border-top: solid 1px #cacaca;
  margin-bottom: 1.3rem;
  width: 100%;
  margin-top: 30px;
}
.transaction-table tr td:last-child {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #4c4c4c !important;
}
.transaction-table  tr td:not(:last-child)
{
  padding-top:17px;
}
.credit-card-table thead th{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #4c4c4c;
}
.credit-card-table tbody tr td{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4c4c4c;
}
.credit-card-table tr th:first-child {
  width:15%;
}
.credit-card-table > thead > tr > th:nth-child(2) {
  width:17%;
}
.credit-card-table > thead > tr > th:nth-child(3) {
  padding-left:145px;
  width: 35%;
}
.credit-card-table > tbody > tr > td:nth-child(3) {
  padding-left:145px;
}
.credit-card-table > thead > tr > th:nth-child(4) {
  padding-left:22px;
}
.credit-card-table > tbody > tr > td:nth-child(4) {
  padding-left:22px;
}
.credit-card-table  tr td:not(:last-child)
{
  padding-top:16px;
}
.gatway-info-table thead th{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #4c4c4c;
}
.gatway-info-table tbody tr td{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4c4c4c;
}
.gatway-info-table tr th:first-child {
  width:23%;
}
.gatway-info-table > thead > tr > th:nth-child(2) {
  width:20.6%;
}
.gatway-info-table > thead > tr > th:nth-child(3) {
  width:24.7%;
}
.simple-14-normal-text-4c4c4c{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.14px;
  color: #4c4c4c;
}
.simple-14-bold-77777{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.refund-button{
  width: 126px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #d45858;
  font-family: 'Open Sans',Sans-Serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: #ffffff;
}
.events-button{
  width: 108px;
  height: 48px;
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #ffd95a !important;
  background-color: #ffffff !important;
  font-family: 'Open Sans',Sans-Serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.refund-events-buttons{
  position: relative;
  top: 35px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(216, 216, 216, 0.2);
  border-radius: 4px;
}
.simple-12-bold-4c4c4c{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #4c4c4c;
}
.risk-score{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffa701;
}
.risk_dots_text{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}
.simple-18-bold-4c4c4c{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}
.go_to_risk_analysis_text{
  width: 188px;
  height: 48px;
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #ffd95a;
  background-color: #ffffff;
  font-family: 'Open Sans',Sans-Serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  bottom: 4em;
  right: 2em;
}
.display-flex{
  display: flex;
}
.risk-product-details{
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgba(216, 216, 216, 0.2);
}
.risk-odd-product-details{
  margin-top: 10px;
  border-radius: 4px;
}
.box-padding{
  padding: 16px 0px 0px 0px;
}
.position-22{
  position: relative;
  left: 22px;
}
.risk_refund_button{
  width: 126px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #d45858;
  font-family: 'Open Sans',Sans-Serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: #ffffff;
}
.risk_accept_button{
  width: 126px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #ffd95a;
  background-color: #ffd95a;
  font-family: 'Open Sans',Sans-Serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}
.green-progress-bar{
  width: 210px !important;
  height: 16px !important;
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: #00cc6e;
}
.orange-progress-bar{
  margin-left: 10px;
  width: 134px !important;
  height: 16px !important;
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: #ffa701;
}
.pink-progress-bar{
  width: 75px !important;
  height: 16px!important;
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: rgba(255, 167, 1, 0.25);
}
.dark-pink-progress-bar{
  margin-left: 10px;
  width: 215px !important;
  height: 16px !important;
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: rgba(212, 88, 88, 0.25);
}
.progress_bar_toggle{
  position: absolute;
  left: 375px;
  top: 128px;
}
.risk_analysis_progress_bar{
  width: 654px;
  height: 24px;
  border-radius: 81px;
  -webkit-backdrop-filter: blur(30px);
  border: solid 1px #e8e8e8;
  background-color: #f7f7f7;
}
.risk_analysis_progress_bar .progress-bar{
  margin-top: 3px;
  margin-left: 3px;
}
.transaction_detail_box{
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffffff;
  margin-bottom: 3rem;
  padding: 24px;
}
.customer_info_box{
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-bottom: 1rem;
  padding:24px;
}
#risk_analysis{
  display: none;
}
/*------------Tip/Reserve transaction Detail Design CSS End----------*/
/*------------Account Transfer txn Detail Design CSS Start----------*/
.transfer_form_section{
  width: 270px;
  height: 267px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  padding:24px;
}
.mt-51{
  margin-top:51px;
}
.simple-16-bold-grash{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.16px;
  text-align: left;
  color: #adadad !important;
}
.simple-14-normal-grash{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.22px;
  text-align: left;
  color: #adadad;
}
.simple-16-bold-grash{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: 0.26px;
  text-align: left;
  color:#adadad;
}
.mt-32{
  margin-top: 13px;
}
.mt-110{
  margin-top:110%;
}
.mr-27{
  margin-left: 27px;
}
.position-right-10{
  position: relative;
  right: 10px;
}
.mt-24{
  margin-top: 24px;
}



//@media (min-width: 320px) and (max-width: 1400px) {
//  #m_chart_quick_stats_4_1_month_date{
//    max-width: 400px !important;
//    min-width: 350px !important;
//  }
//
//  #m_chart_quick_stats_4_2_month_date{
//    max-width: 400px !important;
//    min-width: 350px !important;
//  }
//  #m_chart_quick_stats_4_month_date{
//    min-width: 350px !important;
//    max-width: 400px !important;
//  }
//}
/*------------Account Transfer txn Detail Design CSS End----------*/
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: -20px;
}
#moderate_risk, #high_risk{
  display: none;
}
.anychart-credits-text{
  display: none;
}

/*           success refunds Model      */
#SuccessRefundModel{
  background-color: rgba(0, 0, 0, 0.4);
}
#SuccessRefundModel .modal-content{
  border-radius: 8px;
}
#SuccessRefundModel .modal-header {
  border-bottom: 1px solid #e9ecef !important;
  background-image: linear-gradient(to bottom, #ffe800, #ffda00);
  border-top-radius: 8px !important;
}
#SuccessRefundModel .modal-body {
  padding: 6em 0 !important;
}
#SuccessRefundModel .form-group input{
  max-width: 392px;
  height: 48px;
  border-radius: 25px;
  border: solid 2px #efefef;
  background-color: #ffffff;
}
#SuccessRefundModel .m-input-icon{
  max-width: 392px;
}
#SuccessRefundModel .modal-header{
  padding: 15px;
}
#SuccessRefundModel .modal-header .close{
  margin-top: 2px;
}
#SuccessRefundModel .modal_btn{
  margin-top: 3em;
}
#SuccessRefundModel .modal-body1{
  padding-top: 48px !important;
}
#SuccessRefundModel .modal-height{
  padding-bottom: 40px;
}
#SuccessRefundModel .Refund--Transaction {
  margin: 2px 0;
  font-family: 'Open Sans',sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}
#SuccessRefundModel  .hr-confirm{
  width: 730px;
  height: 1px;
  background-color: #d8d8d8;
}
#SuccessRefundModel .refund-p-trans {
  font-family: 'Open Sans',sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
  padding-top: 60px;
  padding-bottom: 50px;
}
#SuccessRefundModel .btn-yes1{
  width: 126px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px var(--light-gold);
  background-color: var(--light-gold);
}
#SuccessRefundModel .btn-text1 {
  font-family: 'Open Sans',sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}
/*           End success refunds Model      */
/*           End refunds Transaction Model      */
#RefundsTransactionModal,ConfirmAccountTransferModal{
  background-color: rgba(0, 0, 0, 0.7);
}
#RefundsTransactionModal .modal-header-text{
  font-family: 'Open Sans',sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  position: relative;
  right: 14px;
}
#RefundsTransactionModal,ConfirmAccountTransferModal .modal-content{
  border-radius: 8px;
}
#RefundsTransactionModal .modal-header {
  border-bottom: 1px solid #e9ecef !important;
  background-image: linear-gradient(to bottom, #ffe800, #ffda00);
  border-top-radius: 8px !important;
}
#RefundsTransactionModal .modal-body
{
  padding: 2rem;
  background-color: #f3f3f3 !important;
}
#RefundsTransactionModal .label--account
{
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  font-family: 'Open Sans',sans-serif;
  text-align: left;
  color: #777777;
  padding: 0px 10px;
}
#RefundsTransactionModal .btn--transfer {
  width: 173px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #ffd95a;
  background-color: #ffd95a;
}
#RefundsTransactionModal .transfer-money {
  width: 173px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}
#RefundsTransactionModal .close-reffunds {
  width: 111px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #ffd95a;
  background-color: #ffffff;
}
#RefundsTransactionModal .confirm--refunds {
  width: 126px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #f77474;
  background-color: #f77474;
}
#RefundsTransactionModal .Refund-dia-p {
  width: 126px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #ffffff;
}
/*           End refunds Transaction Model      */
#refund_description{
  display: none;
}
.transaction_refunded_button{
  font-family: "Open Sans", sans-serif;
  width: 126px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #6ac36a;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.26px;
  text-align: center;
  color: #ffffff;
}