.billing_information_box{
    height: 593px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding:24px
}

.m-wizard.m-wizard--2 .m-wizard__head {
    position: relative;
    margin: 1rem 0 3rem 0;
    padding: 0 5rem;
}


.m-wizard__form{
    margin-top: -55px;
}

.width-49-percent{
    width:49.33% !important;
}

.width-100-percent{
    width: 100%;
}

.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress{
    height: 2px !important;
}

.b-input{
    height: 48px;
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
}

.simple-16-bold-7070770{
    margin-left: 9px;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px !important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #777777;
}

.mt-25{
    margin-top: 25px;
}

.b_hr{
    height: 1px;
    border-top: solid 1px #cacaca;
    margin-bottom: 1.3rem;
}

.data-wizard-next-button{
    margin-top: 140px;
    width: 123px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffd95a !important;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;

}

.data-shipping-wizard-next-button{
    margin-top: 140px;
    width: 123px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffd95a !important;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;

}

.data-wizard-back-button{
    margin-top: 140px;
    width: 123px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a !important;
    background-color: #ffffff !important;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}

.simple-16-bold-text-4a4a4a{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8 !important;
    letter-spacing: 0.26px;
    color: #4a4a4a;
}

.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-number > span {
    background-color: #ffffff;
    border: none;
}
.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number > span > i {
    color: #eaeaea00;
}
.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--done .m-wizard__step-number > span {
    background-color:#ffa701;
    border: none;
}
.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__progress .progress .progress-bar {
    background-color:#ffa701;
}

.m-wizard__progress{
    position: relative;
    bottom: 1.2em;
}

.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number > span{
    width: 24px;
    height: 24px;
    border: solid 2px #a5a5a5;

}
.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number > span > i{
    font-size: 0.8rem;
}

.wizard_dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffa701;
    position: absolute;
}

.m-wizard__progress .progress{
    background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);;
}

.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress{
    height: 4px;
}

.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-number .wizard_dot{
    display: block;
}
.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step .m-wizard__step-number .wizard_dot{
    display: none;
}
.m_wizard_form_step_3 .m-wizard__step .m-wizard__step--current .m-wizard__step-number .wizard_dot{
    display: block;
}
.m_wizard_form_step_3  .m-wizard__step .m-wizard__step-number .wizard_dot{
    display: none;
}

.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps  .m-wizard__step--done .m-wizard__step-number > span:hover{
    background-color: #ffa701 !important;
}

.width-0-percent{
    width: 0.0%!important;
}

.width-42-percent{
    width: 42.6666%!important;
}

.width-66-percent{
    width: 66.6666% !important;
}

.border-none{
    border: none !important;
}

.background-fff{
    background: #fff !important;
}

.background-ffa701{
    background: #ffa701 !important;
}

.width-100-percent{
    width: 100% !important;
}

.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-number > span:hover{
    background: #fff;
}
.invoice_checkout_logo{
    position: absolute;
    left: 41%;
    top: 2%;
}
.pop_term_service {
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}

.color-fff {
    color: #fff !important;
}

.simple-20-bold-text-dark {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #4c4c4c;
}

.cvv-icon{
    position: relative;
    bottom: 3px;
}

.card_box_1{
    width: 288px;
    height: 169px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(122deg, #040404 -2%, #414148 94%);
}

.cardSecretNumber {
    left: 5% !important;
}

.VALID-THRU{
    position: relative;
    top: 86%;
    right: 39%;
    font-family: 'SourceSansPro';
    font-size: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}
.cardExp1 {
    position: absolute;
    top: 75%;
    left: 55% !important;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}

.top-margin-8{
    position: relative;
    top: 7px;
}

.background-ffa701 {
    background: #ffa701 !important;
}
.show{
    display: block !important;
}

.hide{
    display: none !important;
}
.progress-bar{
    height: 2px !important;
}
/*.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--done a.m-wizard__step-number:hover > span {*/
/*    background-color: transparent;*/
/*}*/

/*.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step a.m-wizard__step-number:hover > span {*/
/*    background-color: transparent;*/
/*}*/

/*.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current a.m-wizard__step-number:hover > span {*/
/*    background-color: transparent;*/
/*}*/
