@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
/* line 4, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
body.m-content--skin-light2 {
  background-color: #ffffff !important;
}

/* line 7, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.checkout_box {
  /*display: none;*/
  width: 1180px;
  height: 900px;
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  border-radius: 8px;
  /*margin: 90px auto;*/
  box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.2) !important;
  overflow: hidden;
}

/* line 17, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.checkout_logo {
  position: absolute;
  left: 4%;
  top: 2%;
}

/* line 22, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.box1 {
  /*width: 764px;*/
  height: 900px;
  padding: 34px;
}
.checkout2{
  margin: auto;
  margin-top: 36% !important;
}

/* line 27, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.box2 {
  /*width: 416px;*/
  height: 900px;
  box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffffff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
  padding: 109px 40px 37px 40px;
}

/* line 37, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.Were-almost-there {
  font-family: 'Open Sans',sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-align: left;
  color: #4c4c4c;
  padding-left: 10px;
}

/* line 49, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.shipping_box {
  width: 336px;
  height: 577px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
}

/* line 57, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.card_box {
  width: 336px;
  height: 577px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
}

/* line 65, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.shipping_heading {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.26px;
  text-align: left;
  color: #4c4c4c;
  padding-left: 10px;
}

/* line 77, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.footer_box {
  /*width: 1182px;*/
  width: 100%;
  height: 64px;
  background-image: linear-gradient(128deg, #f9de00 -16%, #f5b700 79%);
  margin-left: -36px !important;
  margin-bottom: -34px !important;
  position: absolute;
  bottom: 3.8%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* line 89, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.footer_responsive {
  display: none;
  width: 100%;
  height: 64px;
  background-image: linear-gradient(128deg, #f9de00 -16%, #f5b700 79%);
  margin-left: -10px !important;
  position: absolute;
  bottom: 0;
}

/* line 98, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.powerd_by_checkout {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: right;
  color: #4c4c4c;
  padding-right: 4%;
}

/* line 110, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.footer_responsive.powerd_by_responsive {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}

/* line 121, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.label_checkout {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: left;
  float: left;
  color: #777777;
  padding-left: 8px;
}

/* line 134, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.checkout_cardNo1 {
  position: absolute;
  top: 45%;
  left: 10%;
  background-color: transparent;
  border: none;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.9;
  letter-spacing: 6.4px;
  text-align: left;
  color: rgba(255, 255, 255, 0.85);
  width: 100%;
}

/* line 151, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.user-name {
  position: absolute;
  top: 75%;
  left: 10%;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.22px;
  text-align: right;
  color: rgba(255, 255, 255, 0.85);
}

/* line 165, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.date-exp {
  position: absolute;
  top: 75%;
  left: 78%;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: right;
  color: rgba(255, 255, 255, 0.85);
}

/* line 179, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.card_svg {
  position: absolute;
  top: 10%;
  right: 8%;
}

/* line 184, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.alert_text {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}

/* line 195, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.Contact-Information {
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  /*line-height: 3.33;*/
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  margin-bottom: 0;
}

/* line 207, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.bold_text_checkout {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  /*line-height: 2;*/
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

/* line 218, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.btn-edit_info_checkout {
  width: 176px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}

/* line 235, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.products-heading_checkout {
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: 0.38px;
  text-align: left;
  color: #4c4c4c;
}

/* line 246, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.product_box_checkout {
  width: 48px;
  height: 32px;
  background-color: #ffd95a;
  border-radius: 15px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}

/* line 262, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.product_name_checkout {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  padding-top: 6px;
}

/* line 274, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.product_price_checkout {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #4c4c4c;
  padding-top: 6px;
}

/* line 286, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.products_list_height {
  height: 260px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 330px;
  padding-right: 20px;
}

/* line 294, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.products_list_height::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* line 298, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.products_list_height::-webkit-scrollbar {
  width: 3px;
  background-color: #eee;
}

/* line 303, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.products_list_height::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: #919191;
}

/* line 308, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.Shipping-Handling {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-bottom: .5rem;
}

/* line 320, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.Shipping-price {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #4c4c4c;
  margin-bottom: .5rem;
}

/* line 332, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.Grand-Total {
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}

/* line 343, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.Grand-Price {
  font-family: 'Open Sans',sans-serif;
  font-size: 37px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: right;
  color: #4c4c4c;
}

/* line 355, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.btn-pay {
  /*width: 336px;*/
  width: 100%;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #adadad;
}

/* line 371, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.m-checkbox.m-checkbox--state-brand > span {
  width: 20px;
  height: 20px;
  border: solid 2px #4c4c4c !important;
}

/* line 376, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.m-checkbox.m-checkbox--state-brand > span:after {
  border: solid #dfa300;
}

/* line 379, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.m-checkbox.m-checkbox--state-brand > input:checked ~ span {
  border: 2px solid #ffda00 !important;
}

/* line 382, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.terms {
  margin-top: 3rem;
}

/* line 385, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.terms p {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-left: 2%;
}

/* line 397, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.terms a {
  color: #ffbb01;
  text-decoration: underline;
}

/* line 401, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.terms a:hover, .terms a:focus {
  color: #ffbb01;
  text-decoration: underline;
}

/* line 405, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.modal-lg {
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

/* line 409, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.btn-close-modal {
  position: absolute;
  right: 2%;
  top: 10px;
}

/* line 414, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.modal-term-service {
  padding: 40px;
}

/* line 417, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.term_of_service {
  font-family: 'Open Sans',sans-serif;
  font-size: 31px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffa701;
}

/* line 428, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.welcome_hr {
  opacity: 0.2;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

/* line 433, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.para_term {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.26px;
  text-align: left;
  color: #4c4c4c;
}

/* line 444, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.first {
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.32px;
}

/* line 450, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.second {
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.19px;
  color: #ffa701;
}

/* line 457, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.third {
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
}

/* line 461, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.four {
  font-family: 'Open Sans',sans-serif;
  color: #35bab6;
}

/* line 465, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.m-checkbox--state-brand.pull-left.mb-0 {
  width: 100%;
}

/*---- Loader box----*/
/* line 470, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.checkout_box_loader {
  width: 1180px;
  height: 900px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16) !important;
  border: solid 2px #eeeeee;
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  /*margin: 90px auto;*/
}

/* line 479, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.account-transfer-success {
  padding: 86px 0px 21px 0px;
}

/* line 482, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.account-transfer-success .title {
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}

/* line 493, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.account-transfer-success .title {
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}

/* line 504, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.Transaction-Successfull {
  height: 0px;
  font-family: 'Open Sans',sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}

/* line 516, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.loader-state {
  height: 42px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.22px;
  text-align: center;
  color: #777777;
}

/* line 528, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.descriptor-name {
  height: 22px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #777777;
}

/* line 540, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.progress1 {
  width: 230px;
  height: 230px;
  margin: 80px auto 138px auto;
  cursor: pointer;
  text-align: -moz-center;
}

/* line 547, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.loader-image {
  position: absolute;
  top: 52%;
  right: 43%;
  z-index: 999;
}

/* line 553, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.progress-circle {
  transform: rotate(-90deg);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25) !important;
  border-radius: 50%;
}

/* line 558, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.progress-circle-back {
  fill: #f4f4f4;
  stroke: #f4f4f4;
  stroke-width: 6px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25) !important;
}

/* line 564, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.progress-circle-prog {
  fill: #f4f4f4;
  stroke: #00cc6e;
  stroke-width: 6px;
  /*stroke-dasharray: 0 999;*/
  stroke-dashoffset: 0px;
  transition: stroke-dasharray 0.7s linear 0s;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25) !important;
}

/* line 573, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.success--image {
  display: none;
  margin: 35px auto 43px auto;
  cursor: pointer;
  text-align: center;
  transition: all 2s ease;
  animation-duration: 4s;
}

/* line 581, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.error--image {
  display: none;
  margin: 35px auto 43px auto;
  text-align: center;
}

/* line 586, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.hand-circle {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  margin-left: 41%;
  border: solid 6px #00cc6e;
  background: white;
}

/* line 594, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.hand-image {
  width: 85%;
  margin-top: 10%;
}

/* line 598, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.v-loader-btn {
  width: 240px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}

/* line 610, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.img--hide {
  display: none !important;
}

/* line 613, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.img--show {
  display: block !important;
}

/* line 616, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.loader_qc_logo {
  margin-top: 110px;
}

/*.footer_checkout_loader{*/
/*}*/
/* line 622, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.text_checkout_loader {
  font-family: 'Open Sans',sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-align: center;
  color: #4c4c4c;
}

/* line 633, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.note_text_checkout {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.22px;
  text-align: center;
  color: #777777;
  margin-bottom: .5rem;
}

/* line 645, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.desperate_name {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #777777;
}

/* line 656, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.products_list_height .row:nth-child(n+2) {
  margin-top: 2rem;
}

/* line 659, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.btn_shopping_back {
  width: 228px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffd95a;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}

/* line 676, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.last_success_img {
  position: absolute;
  top: 55%;
  right: 43%;
  z-index: 999;
}

/* line 685, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.edit_info_sec {
  width: 1180px;
  height: 900px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16) !important;
  border: solid 2px #eeeeee;
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  /*margin: 90px auto;*/
}

/* line 694, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.edit_info_img {
  text-align: center;
}

/* line 697, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.edit_info_text {
  font-family: 'Open Sans',sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-align: center;
  color: #454545;
}

/* line 708, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.alert_circle {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  margin-left: 41%;
  background: white;
}

/* line 715, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.alert_img {
  position: absolute;
  top: 52%;
  right: 42.5%;
  z-index: 999;
}

/* line 721, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.btn-yes {
  width: 135px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.1;
  letter-spacing: 0.26px;
  text-align: center;
  color: #616161;
}

/* line 739, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.btn-no {
  width: 135px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 1px #ffd95a;
  background-color: #ffd95a;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.1;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4a4a4a;
}

/* line 757, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.footer_checkout_loader {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  position: absolute;
  top: 110%;
  left: 40%;
}

/* line 771, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.footer_left_image {
  position: absolute;
  bottom: -40px;
  left: -35px;
  z-index: 2;
}

/* line 777, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.col_zindex {
  z-index: 10;
}

/* line 780, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.footer_quickcard {
  width: 10%;
}

/* line 783, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.footer_quickcard_loader {
  width: 15%;
}

@media screen and (min-height: 901px) {
  /* line 788, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .checkout_box {
    margin: 10vh auto;
  }
}
@media only screen and (min-width: 350px) and (max-width: 370px) {
  /* line 795, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .credit-card {
    position: relative;
    left: -15px;
  }

  /* line 799, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .card_svg {
    right: 5%;
  }

  /* line 802, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  #cardNo1 {
    letter-spacing: 6px;
    left: 5%;
  }

  /* line 806, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  #CardName {
    left: 5%;
  }

  /* line 809, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  #cardExp {
    left: 80%;
  }

  /* line 812, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .alert_img {
    position: absolute;
    top: 45%;
    right: 30%;
    z-index: 999;
  }

  /* line 818, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .edit_info_sec {
    height: 640px;
  }

  /* line 821, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .checkout_box_loader {
    height: 700px;
  }

  /* line 824, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .hand-circle {
    margin-left: 15% !important;
  }

  /* line 827, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .loader-image {
    top: 48% !important;
    right: 30% !important;
  }

  /* line 831, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .locked_image {
    top: 44.5% !important;
  }
}
@media only screen and (min-width: 410px) and (max-width: 420px) {
  /* line 836, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .credit-card {
    width: 325px;
  }

  /* line 839, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  #cardNo1 {
    letter-spacing: 7px;
    width: 100%;
  }

  /* line 844, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .alert_img {
    position: absolute;
    top: 45%;
    right: 32%;
    z-index: 999;
  }

  /* line 850, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .checkout_box_loader, .edit_info_sec {
    height: 735px;
  }

  /* line 853, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .alert_circle {
    margin-left: 20% !important;
  }
}
@media only screen and (max-width: 577px) {
  /* line 858, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 7px;
  }

  /* line 865, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .checkout_logo {
    left: 33%;
    top: 3%;
  }

  /* line 869, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .checkout_box {
    width: 100%;
    height: auto;
  }

  /* line 873, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 877, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .box1 {
    padding: 0;
    width: 100%;
    height: auto;
    margin-top: 25%;
  }

  /* line 883, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .box2 {
    padding: 24px 10px;
    width: 100%;
    height: auto;
    border-radius: 0;
    padding-bottom: 23%;
  }

  /* line 890, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .shipping_box, .card_box {
    width: 100%;
    height: auto;
  }

  /* line 894, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .footer_box {
    display: none;
  }

  /* line 897, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .footer_responsive {
    display: block;
  }

  /* line 900, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .powerd_by_checkout {
    text-align: center;
  }

  /* line 903, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.ml-0 {
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-top: 3rem;
  }

  /* line 908, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .checkout_box_loader, .edit_info_sec {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  /* line 914, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .footer_checkout_loader {
    display: none;
  }

  /* line 917, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .loader_qc_logo {
    margin-top: 50px;
  }

  /* line 920, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .edit_info_text {
    font-size: 24px;
  }

  /* line 923, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .alert_circle {
    margin-left: 15%;
  }

  /* line 926, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .product-responsive {
    width: 20%;
    flex: 20%;
    float: left;
  }

  /* line 931, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .product-name-responsive {
    width: 50%;
    flex: 50%;
  }

  /* line 935, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .product-price-responsive {
    width: 30%;
    flex: 30%;
    padding-right: 0;
  }

  /* line 940, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .products_list_height {
    width: 100%;
  }

  /* line 943, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 949, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  /* line 955, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 960, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 965, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 970, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 0;
  }

  /* line 976, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 981, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 986, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 991, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 996, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 1001, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 1006, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 1011, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 1015, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .text_checkout_loader {
    font-size: 24px;
    width: 265px;
  }

  /* line 1019, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .account-transfer-success {
    padding: 60px 0px 21px 0px;
  }

  /* line 1022, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .loader-image {
    position: absolute;
    top: 49.5%;
    right: 32%;
    z-index: 999;
  }

  /* line 1028, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .hand-circle {
    margin-left: 20%;
  }

  /* line 1031, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .last_success_img {
    position: absolute;
    top: 54%;
    right: 32%;
    z-index: 999;
  }

  /* line 1037, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .locked_image {
    top: 46.5% !important;
  }

  /* line 1040, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .footer_left_image {
    display: none;
  }

  /* line 1043, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
  .footer_quickcard {
    width: 15%;
  }
}
/* line 1049, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_new_box {
  margin: 0 auto;
}

/* line 1052, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_checkout_box {
  width: 1242px;
  height: 844px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  padding-left: 141px;
  padding-right: 141px;
  padding-top: 63px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 1063, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_amount_box {
  width: 960px;
  height: 96px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-left: 8px solid #ffd95a;
  margin-bottom: 24px;
}

/* line 1072, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_billing_info {
  width: 960px;
  height: 534px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 24px;
}

/* line 1080, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_card_input {
  width: 960px;
  height: 486px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 24px;
}

/* line 1088, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_amount_img {
  margin: 20px 24px 20px 40px;
  float: left;
}

/* line 1092, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_due_amount {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-top: 35px;
  margin-bottom: 34px;
}

/* line 1105, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_bold_amount {
  font-family: "Open Sans",sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: right;
  color: #00cc6e;
  margin-right: 40px;
  margin-top: 21px;
  margin-bottom: 20px;
}

/* line 1120, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.billing_info_api_heading {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.32px;
  text-align: left;
  color: #4c4c4c;
}

/* line 1131, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.steps_api {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.32px;
  text-align: right;
  color: #adadad;
}

/* line 1142, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_checkout_hr {
  border-top: 1px solid #cacaca !important;
}

/* line 1145, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.alert_text_api {
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-top: 1.3rem;
}

/* line 1157, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.btn-next-api {
  width: 123px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffd95a;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
  float: right;
  margin-top: 1rem;
}

/* line 1175, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.btn-back-api {
  width: 123px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffffff;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
  float: left;
  margin-top: 1rem;
}

/* line 1195, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.card_box_api {
  width: 337px;
  height: 197px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(122deg, #040404 -2%, #414148 94%);
  margin: 0 auto;
}

/* line 1204, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.VALID-THRU_api {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: right;
  color: rgba(255, 255, 255, 0.85);
}

/* line 1215, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.dots_api {
  letter-spacing: 8px;
  width: 100%;
  background: transparent;
  border: 0;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.9;
  text-align: left;
  color: rgba(255, 255, 255, 0.85);
}

/* line 1229, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.credit-user-name_api {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.22px;
  text-align: left;
  color: rgba(255, 255, 255, 0.85);
}

/* line 1240, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.date-exp_api {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: right;
  color: rgba(255, 255, 255, 0.85);
}

/* line 1251, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.m-switch.m-switch--primary:not(.m-switch--outline) input:empty ~ span:after {
  opacity: 1 !important;
}

/* line 1254, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.footer_api_box {
  width: 1242px;
  height: 64px;
  background-image: linear-gradient(126deg, #f9de00 -13%, #f5b700 78%);
  position: absolute;
  left: -126px;
  bottom: -175px;
}

/* line 1262, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.footer_left_api_img {
  position: absolute;
  bottom: -175px;
  left: -126px;
  z-index: 2;
}

/* line 1268, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_hide {
  display: none;
}

/* line 1271, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_show {
  display: block;
}

/* line 1274, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_loader-image {
  position: absolute;
  top: 50%;
  right: 43.5%;
  z-index: 999;
}

/* line 1280, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_checkout_box_loader {
  width: 1242px;
  height: 850px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  margin-top: 1rem;
}

/* line 1287, /opt/quickcard-merchant-dashboard/app/assets/stylesheets/merchant/checkout.scss */
.api_footer_checkout_loader {
  position: absolute;
  top: 105%;
  left: 40%;
}