/*

    *= require v2/merchant/vendors_bundle
    *= require merchant/jquery.multiselect
  	*= require v2/merchant/style_bundle
  	*= require v2/merchant/datatables_bundle
  	*= require v2/merchant/responsive
  	*= require v2/merchant/custom_notification


*/
@import "intlTelInput";
.cursor-pointer{cursor: pointer}
.margin-top-20px{margin-top: 20px}
.extra_tr{height: 55px}
.event-none{
  pointer-events: none;
}
.see-more {
  display: none;
}
#activityDivID:hover + .see-more {
  display: inline-block;
}
.z-index99999{
  z-index: 99999;
}