#newP2CModal .alert-body {
    display: none;
    width: 760px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-left: 20px;
}.alert-body .row {
     padding: 15px 29px 0px 25px;
 }
#newP2CModal .account-information {
    width: 370px;
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 26px;
    margin-top: 16px;
}
#buyGiftCardModal .alert-body {
    display: none;
    width: auto;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
#buyGiftCardModal .account-information {
    width: 370px;
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 26px;
    margin-top: 16px;
}
#confirm_p2c{
    width: auto;
}
#newP2CModal .modal-header{
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    /*border-radius: 8px !important;*/
}

#newP2CModal .modal-header {
    padding: 15px;
}

#newP2CModal{
    background-color: rgba(0, 0, 0, 0.4);
}
#newP2CModal .modal-content{
    border-radius: 8px;
}

#newP2CModal .modal-body {
    padding: 1em 0 !important;
}
#newP2CModal .form-group input{
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
#newP2CModal .form-group input[disabled] {
    border-color: #f4f5f8;
    color: #6f727d;
    background-color: #f4f5f8;
}
#newP2CModal .m-input-icon{
    max-width: 392px;
}

#newP2CModal .modal-header{
    padding: 15px;
}
#newP2CModal .modal-header .close{
    margin-top: 2px;
}
#newP2CModal .modal_btn{
    margin-top: 3em;
}
.form-control-feedback
{
    color: #f4516c;
}
#newP2CModal label{
    color: #777777;
    margin-left: 0.5rem;
    font-weight: bold;
}
#newcheckModal .my-modal-header{
    position: relative;
    right: 9px;
}
.my-modal-header{
    font-family: 'Open Sans',sans-serif;
    font-size: 2em;
    margin: 2px 0;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    z-index: 1053;
}
/*-------- confirm p2c modal*/
#ConfimP2cModal .modal-header{
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    /*border-radius: 8px !important;*/
}

#ConfimP2cModal .modal-header {
    padding: 15px;
}

#ConfimP2cModal{
    background-color: rgba(0, 0, 0, 0.4);
}
#ConfimP2cModal .modal-content{
    border-radius: 8px;
}

#ConfimP2cModal .modal-body {
    padding: 1em 0 !important;
}
#ConfimP2cModal .form-group input{
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
#ConfimP2cModal .m-input-icon{
    max-width: 392px;
}

#ConfimP2cModal .modal-header{
    padding: 15px;
}
#ConfimP2cModal .modal-header .close{
    margin-top: 2px;
}
#ConfimP2cModal .modal_btn{
    margin-top: 3em;
}

#ConfimP2cModal label{
    color: #777777;
    margin-left: 0.5rem;
    font-weight: bold;
}
/* end*/
.Add-New-Debit-Card {
    width: 194px;
    height: 27px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.Caminho-4835 {
    width: 24px;
    height: 24px;
    border: solid 2px #4c4c4c;
}
.T_Amount {
    font-size: 12px;
    font-weight: 600;
    color: #35bab6;
}
#trans_to{
    width: 139px;
    height: 22px;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#trans_to1{
    width: 139px;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.border-right{
    border-right: 6px solid #35bab6!important;
}
.lab-side{
    object-fit: contain;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.eval-badge{
    width: 37%;
    height: 32px;
     padding: 9% 20%;
    border-radius: 20px;
     border-radius: 15px;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.war{
    background-color: #ffd95a;
}
#TipConfirmAccountTransferModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#TipConfirmAccountTransferModal .modal-header-text {
    font-family: 'Open Sans',sans-serif;
    font-size: 2em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    position: relative;
    right: 20px;
}
#TipConfirmAccountTransferModal .modal-header .close {
    margin-top: 2px;
}
/*----*/
#AchConfirmModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#AchConfirmModal .modal-header-text {
    font-family: 'Open Sans',sans-serif;
    font-size: 2em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    position: relative;
}
#AchConfirmModal .modal-header .close {
    margin-top: 2px;
}
.no-radius{
    border-radius: 0px !important;
}
.sidelock-icons{
    position: relative;
    float: right;
    top: -38px;
    right: 20px;
}
#exampleTextarea{
 border-radius: 5px;
 height: 100px;
}
.m-subheader__title{
    font-family: 'Open Sans',sans-serif;
}
.listing_datatable th {
    font-weight: 600;
}
#newcheckModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#newcheckModal .modal-header-text {
    font-family: 'Open Sans',sans-serif;
    font-size: 2em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#newcheckModal .modal-header .close {
    margin-top: 2px;
}
#newcheckModal .alert-box {
    height: 85px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

#newcheckModal .box-shade {
    border-left: 8px solid #d45858;
}
#newcheckModal .important-note {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #d45858;
    padding: 7px;
}
.important-note-text{
    margin-left: 40px;
}
.circle_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100px;
    border: 2px solid black;
    background-color: #ffffff;
}
.newbulkbox {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    height: 50%;
}
.side_note{
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
#customer_dispute_evidences_attributes_0_document{
    opacity: 0;
}
#filename .file_div{
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-top: 6px
}
#file-doc{
    padding: 0px 15px;
}
.action{
    display: inline;
    padding: 0px 6px;
}
.title_div{
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.33;
    letter-spacing: 0.38px;
    text-align: left;
    color: #4c4c4c;
}
#editBulkModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#editBulkModal .modal-header-text {
    font-family: 'Open Sans',sans-serif;
    font-size: 2em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#editBulkModal .modal-header .close {
    margin-top: 2px;
}
.edit_bulk label{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #777777;
    padding-left: 10px;
}
#deleteBulkModal .center_bulk_heading{
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
#deleteBulkModal .price {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.36px;
    color: #707070;
    display: block;
    text-align: left;
}
#deleteBulkModal .brown {
    background-color: rgba(216, 216, 216, 0.2);
    padding: 15px;
    border-radius: 0px;
}
#deleteBulkModal .simple {
    padding: 8px;
}
#deleteBulkModal .brown {
    padding: 8px;
}
.bulk_btn_confirm{
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a !important;
    background-color: #ffd95a !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.account_export{
    width: 150px;
    height: 48px;
    position: absolute;
    right: 50px;
    top: -11px;
    font-family: 'Open Sans',sans-serif;
    background-image: linear-gradient(to bottom, #f7f7f7, #e8e8e8);
}
.account_status_icon{
    margin: 0px 5px;
}
.wd_loader_img {
    position: absolute;
    top: 54%;
    right: 45%;
    z-index: 999;
}
.gift_wd_loader_img {
    position: absolute;
    top: 51%;
    right: 46%;
    z-index: 999;
}
.ach_success{
    top: 51% !important;
}