

#SystemNotificationModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#SystemNotificationModal .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    position: relative;
    right: 14px;
}
#SystemNotificationModal .whoops{
    font-size: 36px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #35bab6;
}
#SystemNotificationModal .wrong-here {
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
#SystemNotificationModal .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#SystemNotificationModal .log-out-modal {
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: right;
    color: #4c4c4c;
}
#WithdrawModal .drop-width{
    width: 93% !important;
}
.email-cvc{
    background-color: #ffffff !important;
}
.faq-page{
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 24px;
}
/*.tabs-width{*/
/*    width: 350px;*/
/*}*/
.nav-item-width{
    width: 345px !important;
}
.No-data-available {
    width: 222px;
    height: 23px;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: center;
    color: #777777;
}
.no-data{
    width: 251px;
    object-fit: contain;
    margin-top: 10%;
}
#ResetPasswordModel{
    background-color: rgba(0, 0, 0, 0.4);
}
#ResetPasswordModel .modal-content{
    border-radius: 8px;
}
#ResetPasswordModel .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}

#ResetPasswordModel .modal-body {
    padding: 6em 0 !important;
}
#ResetPasswordModel .form-group input{
    max-width: 392px;
    height: 48px;
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
#ResetPasswordModel .m-input-icon{
    max-width: 392px;
}
#ResetPasswordModel .modal-header{
    padding: 15px;
}
#ResetPasswordModel .modal-header .close{
    margin-top: 2px;
}
#ResetPasswordModel .modal_btn{
    margin-top: 3em;
}
#ResetPasswordModel .modal-body1{
    padding-top: 48px !important;
}
#ResetPasswordModel .modal-height{
    padding-bottom: 40px;
}
#ResetPasswordModel .sixty-days{
    width: 622px;
    height: 46px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
#ResetPasswordModel .btn-width-reset{
    width: 232px !important;
}
#ResetPasswordModel unseen-eye{
    width: 16px;
    height: 13px;
    object-fit: contain;
}
#ResetPasswordModel .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#ResetPasswordModel.log_out_maint{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
#SystemNotificationModal .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#SystemNotificationModal .log_out_maint{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
#ResetPasswordModel .Current-Password {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    padding-left: 12px;
    color: #4a4a4a;
}
.search-jump{
    margin-top: -5px;
}
#GeneralErrorMsgModal .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#GeneralErrorMsgModal .close-btn{
    width: 89px;
}
.trash-radius{
    border-radius: 30px !important;
}
.change-btn-pass{
    width: 232px;
    height: 48px;
    border-radius: 120px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #d6d6d6 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    border-color: #d6d6d6 !important; ;
}
 /*     profile new page   */
.account-id-profile {
    width: 145px;
    height: 22px;
    opacity: 0.5;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #adadad;
}
.active-pro {
    width: 44px;
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #00cc6e;
}

/*   End  profile new page   */

/*     ACH $   Echeck unpaid       */
.unpaid-padding{
    padding-left: 25px !important;
}
.unpaid-width{
    width: 56px;
}
.ach-echeck{
    flex: 0 0 20% !important;
    max-width: 20% !important;
}
/*      End ACH $ Echeck unpaid       */
/*         ACH in-process  */
.in-process{
    margin-top: -10px;
}
/*       End  ACH in-process  */

.m-checkbox > input:checked ~ span {
    background-color: #ffffff;
}
.bold--text{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: normal;
    text-align: left;
    color: #777777 !important;
}
.dropdown-menu  > .dropdown-item:hover, .dropdown-menu  > li > a:hover >label {
    background: #ffd95a;
    font-weight: bold;
}
.drop-width-cutomize{
    width: 235px !important;
}
/*         cookies         */
.cookie-body{
    width: 664px;
    height: 156px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    /*   padding: 16px 30px;*/
    padding: 16px 0;
}
.coockie-p{
    /* width: 600px;
     height: 39px;*/
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.22px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
.cookie-linkp{
    /*    width: 464px;
        height: 81px;*/
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.22px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
.cookie-btn{
    width: 126px;
    height: 32px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px var(--light-gold);
    background-color: var(--light-gold);
}
.I-Agree {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c !important;
    padding-top: 3px;
}
.agree-pad{
    padding-left: 17%;
}
.cookie-flex{
    display: flex;
}
div.cookie-overlay{
    position: fixed;
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    z-index: 9999;
}
.cookie-center{
    padding-top: 32px;

}
button.close1 {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close1 {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
/*      End   cookies         */
.doller-icon-charge {
    width: 49px;
    bottom: 10px !important;
}
.case-won-icon{
    width: 49px;
    top: 7px !important;
}
.batch-table-w{
    width: 10%;
}
.total-ach-set{
    margin-left: -14px;
}
.last-right{
    text-align: right;
}

/*
@media screen and (max-width: 1599px) and (min-width: 1400px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 156px;
    }
    .margin-ve-4{
        margin-right: -40px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 156px !important;
    }
    .daterangepicker .ranges li.active {
        width: 117px !important;
    }
}
@media screen and (max-width: 1799px) and (min-width: 1600px){
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 210px !important;
    }
    .daterangepicker .ranges li.active {
        width: 170px !important;
    }
}
@media screen and (max-width: 1999px) and (min-width: 1800px){
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 240px !important;
    }
    .daterangepicker .ranges li.active {
        width: 185px !important;
    }
}
@media screen and (max-width: 2199px) and (min-width: 2000px){
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 270px !important;
    }
    .daterangepicker .ranges li.active {
        width: 220px !important;
    }
}
@media screen and (max-width: 2399px) and (min-width: 2200px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 255px;
    }
    .margin-ve-4{
        margin-right: -40px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 250px !important;
    }
    .daterangepicker .ranges li.active {
        width: 205px !important;
    }
}
@media screen and (max-width: 2699px) and (min-width: 2400px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 255px;
    }
    .margin-ve-4{
        margin-right: -80px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 250px !important;
    }
    .daterangepicker .ranges li.active {
        width: 205px !important;
    }
}
@media screen and (max-width: 3000px) and (min-width: 2700px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 255px;
    }
    .margin-ve-4{
        margin-right: -8rem;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 250px !important;
    }
    .daterangepicker .ranges li.active {
        width: 205px !important;
    }
}*/

.search-d-width{
    width: 156px !important;
}
.pad-sep{
    padding-left: 30px;
    padding-right: 13px;
}
.drop-logo{
    padding: 0 0.7rem !important;
}
#daily-batch .daterangepicker.dropdown-menu {
    right: 31.4884px !important;
}
#merchant-perfo .daterangepicker.dropdown-menu {
    right: 31.4884px !important;
}
#agent-perfo .daterangepicker.dropdown-menu {
    right: 31.4884px !important;
}
/*#daily-batch .form-control{
    padding: 0.65rem 0.6rem !important;
}
#merchant-perfo .form-control{
    padding: 0.65rem 0.6rem !important;
}
#agent-perfo .form-control{
    padding: 0.65rem 0.6rem !important;
}*/
.Select--Period{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
}

/*
@media screen and (max-width: 1599px) and (min-width: 1400px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 156px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 156px !important;
    }
    .daterangepicker .ranges li.active {
        width: 117px !important;
    }
    .margin-ve-4{
        margin-right: -40px;
    }
}
@media screen and (max-width: 1799px) and (min-width: 1600px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 156px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 156px !important;
    }
    .daterangepicker .ranges li.active {
        width: 117px !important;
    }
}
@media screen and (max-width: 1999px) and (min-width: 1800px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 156px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 156px !important;
    }
    .daterangepicker .ranges li.active {
        width: 117px !important;
    }
}
@media screen and (max-width: 2199px) and (min-width: 2000px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 156px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 156px !important;
    }
    .daterangepicker .ranges li.active {
        width: 117px !important;
    }
}
@media screen and (max-width: 2399px) and (min-width: 2200px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 156px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 156px !important;
    }
    .daterangepicker .ranges li.active {
        width: 117px !important;
    }
}
@media screen and (max-width: 2699px) and (min-width: 2400px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 156px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 156px !important;
    }
    .daterangepicker .ranges li.active {
        width: 117px !important;
    }
}
@media screen and (max-width: 3000px) and (min-width: 2700px){
    .search-width-t{
        width: 115px;
    }
    .drop-logo{
        padding: 0 1rem !important;
    }
    .search-d-width{
        width: 156px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 999 !important;
        width: 156px !important;
    }
    .daterangepicker .ranges li.active {
        width: 117px !important;
    }
}
*/
.drop-with-items{
    width: 94% !important;
}
.drop-list-w{
    height: 250px !important;
}
.drop-logo-items{
    margin: 2%;
    margin-right: 2px;
}
.list-items-h{
    height: 48px;
}
.list-items-h:hover {
    height: 48px;
}
.drop-list-w:hover{
    min-height: 240px;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.drop-list-w::-webkit-scrollbar-track
{
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.mail-name-pad{
    padding: 45px !important;
}
.email-pre-p{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #777777;
}
.hello--merchant{
    font-size: 24px !important;
}
.drop-list-w::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.drop-list-w::-webkit-scrollbar-thumb
{
    border-radius: 40px;
    background-color: #919191;
}
.list-font-clr{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c !important;
}
.list-items-hide{
    overflow-x: scroll;
    overflow-y: hidden;
}
.list-items-hide::-webkit-scrollbar-track
{
    border-radius: 2px;
    margin-left: 15px;
    margin-right: 15px;
}
.list-items-hide::-webkit-scrollbar
{
    width: 2px;
    height: 8px;
    background-color: transparent;
}

.list-items-hide::-webkit-scrollbar-thumb
{
    border-radius: 40px;
    background-color: #919191;
}
.hover-font-change {
    height: 40px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /*    line-height: 1.69;*/
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.hover-font-change2 {
    height: 25px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /*    line-height: 1.69;*/
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.dis-non{
    display: none !important;
}
#void_detail .modal-header, #p2c_detail .modal-header,#echeck_detail .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    padding: 20px 32px 5px 32px !important;
}