.m-body .m-content {
    padding: 10px 30px 0 30px;
}
.m-content_space{
    padding: 40px 30px 0 30px !important;
}
/*------- Invoices css Start-------*/
.bootstrap-select > .dropdown-toggle:after{
    top: 40% !important;
    right: 1.5rem !important;
    font-size: 19px;
}
.select_number{
    display: inline-flex;
}
.m-portal_datatable{
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
}
.listing_datatable{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
.dataTables_length label{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
    display: inline-flex;
}
.gift_btn-status {
    width: 110px;
    height: 40px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #4c4c4c;
}
.btn_status{
    width: 110px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
}

.btn_status:active,.btn_status:focus{
    background-color: #ffd95a;
}
.status_label{
    width: 100%;
}
/*.m-checkbox .datatable_status_filter:after{*/
/*    top: 40% !important;*/
/*    left: 40% !important;*/
/*}*/
.m-dropdown__arrow--adjust_icon{
    margin-top: -11px !important;
}
.m-nav__item_hover_design{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #4c4c4c !important;
    text-align: center;
}
.m-nav__item_hover_design a:hover{
    background-color: #ffe795;
    border-radius: 20px;
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #4c4c4c !important;
    text-align: center;
}
.m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-arrow, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-icon, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-arrow, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-icon, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-text{
    color: #4c4c4c !important;
}
.invoices_dropdown{
    width: auto !important;
    height: auto !important;
}
.search_input_datatable{
    width: 280px;
    height: 48px;
    border-radius: 28px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
.m-input-icon_datatable{
    width: auto;
    float: right;
}
.filter-option-inner{
    line-height: 1.8;
}
.jump_to_div{
    width: 30%;
}
.pagination_dropdown{
    width: 94px !important;
    height: 48px !important;
}
.table{
    padding: 1rem;
}
.odd{
    background-color: rgba(216, 216, 216, 0.2);
}
.even{
    background-color: white;
}
.badge{
    width: 93px;
    height: 32px;
    padding: 0 !important;
    border-radius: 20px;
    /*border-radius: 15px;*/
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.paid{
    background-color: #76deae;
}
.pending{
    background-color: #77c5ef;
}
.paid_wire{
    background-color: blue;
}
.draft{
    background-color: #dcdada;
    color: #828282;
}
.past_due{
    background-color: #f77474;
}
.canceled{
    background-color: #9fa2a7;
}
.table-bordered td, .table-bordered th{
    border: transparent;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.55rem + 2px) !important;
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
.show_record_number_datatable{
    font-family: 'Open Sans',Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
.dataTables_pager{
    display: -webkit-inline-flex;
}
.page-item.active .page-link{
    width: 32px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #777777;
    border-color: #777777;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: white;
}
.page-link{
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: #4c4c4c;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
}
.jump_to{
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: right;
    /*text-align: left;*/
    color: rgba(0, 0, 0, 0.5);
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100%;
}
.dropdown-toggle{
    width: 100% !important;
}
.bootstrap-select .dropdown-menu{
    width: 100% !important;
    z-index: 9;
}
.dropdown-menu{
    border-radius: 30px!important;
    /*border-radius: 8px!important;*/
    max-height: 452.547px;
    overflow: hidden;
    min-height: 0px;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    /*transform: translate3d(0px, 37px, 0px);*/
}
.dropdown-menu.show{
}
.bootstrap-select .dropdown-menu.inner > li.selected > a, .bootstrap-select .dropdown-menu.inner > li:hover > a{
    border-radius: 24px;
    background-color: #ffd95a;
}
.paginate_button a:hover{
    color: #4c4c4c;
}
.filter{
    padding: 0;
    position: relative;
    right: 0;
    width: 110px;
    height: 40px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
}
.status_drop_down{
    width: 190px !important;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    height: auto !important;
}
.m-dropdown__wrapper{
    z-index: 101;
}
.filter .m-dropdown .m-dropdown--inline .m-dropdown--arrow .m-dropdown--align-right{
    background-color: transparent;
    border-radius: 25px;
}
.status_text{
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    /*padding-left: 15px;*/
}

.action_dropdown{
    width: 147px !important;
}
.drop_down_width{
    width: 5.2vw !important;
}
.first_last{
    width: 74px;
    /*width: 71px;*/
    height: 32px;
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
}
.merchant_invoices_bg{
    /*min-width: 1216px;*/
    min-height: 190px;
    border-radius: 8px;
    background-image: linear-gradient(333deg, #ffe800 63%, #ffda00 29%);
}
.merchant_name p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: 0.48px;
    text-align: center;
    color: #4c4c4c;
}
.pay_with p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.58px;
    text-align: left;
    color: #4c4c4c;
}
.selection_box{
    min-height: 478px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 4%;
}
.product_box{
    height: 478px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 4%;
}
.invoices_box {
    border-radius: 8px 0px 0px 8px;
    background-color: #f7f7f7;
    padding: 13px 17px 13px 17px;
}
.invoices_box_2 {
    border-radius: 0px 8px 8px 0px;
    background-color: #f7f7f7;
    padding: 13px 17px 13px 17px;
    border-right: 6px solid #35bab6;
}
.invoices_box .placeholder {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.invoices_box_2 .price{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.36px;
    text-align: right;
    color: #707070;
}
.btn_quick_card{
    width: 190px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.merchant_hr{
    width: 100%;
}
.last_text{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: center;
    color: #777777;
}
.last_text span{
    color: #35bab6;
    text-decoration: underline;
}
/*------- Invoices css End-------*/

/*------- Customer List Start-------*/
.customer_link{
    color: #35bab6;
    text-decoration: underline;
}
/*------- Customer List End-------*/

/*------- Charge Backs End-------*/
.charge_back_widget{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
.icon-div {
    padding: 10px 0px;
    text-align: center;
    border-radius: 4px;
    height: 56px;
    background-color: #f1f1f1;
}
.small_chargeback{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 2.5;*/
    letter-spacing: normal;
    text-align: left;
    color: rgba(112, 112, 112, 0.7);
}
.price_chargeback{
    font-family: "Open Sans",Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.dispute{
    background-color: #ffd95a;
    color: #4c4c4c;
}
.charge_back_badge{
    width: 140px;
    height: 32px;
}
.flaticon-interface-2{
    line-height: 2.1;
}
/*------- Charge Backs End-------*/

/*------- Exported start-------*/
.failed{
    background-color: #828282;
}
.new_message tbody tr td .new{
    width: 30px;
    height: 16px;
    border-radius: 8px;
    background-color: #d45858;
    font-family: "Open Sans",Sans-Serif;
    font-size: 8px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    /*line-height: 3.75;*/
    letter-spacing: 0.16px;
    text-align: center;
    color: #ffffff;
}
/*------- Exported End-------*/

/*------- Profile Start-------*/
.cutom_tootltip{
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff !important;
}
.cutom_tootltip1{
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff !important;
}
.m-tooltip.tooltip .tooltip-inner {
    /*font-size: 16px;*/
    padding: 7px !important;
    border-radius: 5px !important;
    min-width: 55px;
    height: 35.3px;
    background-color: #4c4c4c !important;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff !important;
}

/*------- Exported End-------*/

/*------- Funding Start-------*/
.label_funding{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c !important;
}
.select_account button{
    height: 48px !important;
    border-radius: 25px !important;
}
.search_exported{
    width: 111px;
    height: 48px;
    border-radius: 28px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
/*------- Funding End-------*/

/*------- Reserve Transaction End-------*/
.btn-exported{
    width: 149px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
}
.btn-exported-text{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.approved_badge_reserve{
    width: 142px;
    height: 32px;
    border-radius: 25px;
    background-color: #76deae;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.refund_badge{
    width: 142px;
    height: 32px;
    border-radius: 25px;
    background-color: #f77474;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.partial_refund{
    width: 142px;
    height: 32px;
    border-radius: 25px;
    background-color: #77c5ef;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.cr_approved{
    width: 48px;
    height: 32px;
    border-radius: 25px;
    /*border-radius: 15px;*/
    background-color: #76deae;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.cr_approved:hover,.cr_rejected:hover,.cr_default:hover,.cr_expired:hover{
    text-decoration: none;
}
.cr_rejected{
    width: 48px;
    height: 32px;
    border-radius: 25px;
    background-color: #f77474;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.cr_default{
    width: 48px;
    height: 32px;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffd95a;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
.for_day_left{
    font-family: "Open Sans",Sans-Serif;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #f77474;
}
.cr_expired{
    width: 48px;
    height: 32px;
    border-radius: 25px;
    background-color: #9fa2a7;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.block_icon{
    width: 48px;
    height: 32px;
}
.btn-search_table_head{
    width: 149px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.transaction_type{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}

/*------- Reserve Transaction End-------*/

/*------- Contact Info Start-------*/
.contact_info{
    font-family: "Open Sans",Sans-Serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.contact_info_box{
    width: 584px;
    height: 224px;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
}
.email_detail{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 0;
}
.contact_detail{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
/*------- Contact Info End-------*/

/*------- Accounts Start-------*/
.transaction_detail{
    /*min-width: 704px;*/
    min-height: 243px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 2%;
}
.transaction_heading{
    font-family: "Open Sans",Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: 0.24px;
    text-align: left;
    color: #4c4c4c;
}
.transaction_hr{
    width: 100%;
}
.customer_name_phone{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
    margin-bottom: 0;
}
.customer_detail_phone{
    font-family: "Open Sans",Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
    margin-bottom: 0;
}
.email_wallet{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 0;
}
.email_wallet span{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 0;
}
.customer_detail_phone span{
    font-weight: normal;
}
.product_detail_transaction{
    /*min-width: 496px;*/
    min-height: 645px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 4%;
}
.gateway_credit_card_info{
    /*min-width: 340px;*/
    min-height: 374px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 4%;
}
.product_heading{
    font-family: "Open Sans",Sans-Serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.18px;
    text-align: left;
    color: #777777;
}
.product_numbers{
    min-width: 40px;
    min-height: 32px;
    border-radius: 15px;
    background-color: #ffd95a;
}
.product_numbers p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    /*line-height: 1.71;*/
    letter-spacing: 1.4px;
    text-align: center;
    color: #4c4c4c;
    margin-bottom: 0;
}
.product_name p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.14px;
    text-align: left;
    color: #4c4c4c;
}
.product_price p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.14px;
    text-align: right;
    color: #4c4c4c;
    padding-right: .5rem;
}
.tx_amount{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
.tx_numbers{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: 0.22px;
    text-align: right;
    color: #777777;
}
.left-total-fund {
    border-radius: 8px 0px 0px 8px;
    background-color: #f7f7f7;
    border-left: 6px solid #ffd95a;
    padding: 13px 25px 13px 17px;
}
.right-total-fund {
    border-radius: 0px 8px 8px 0px;
    background-color: #ffd95a;
    padding: 13px 25px 13px 17px;
}
.total_amount{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.price_transaction{
    font-family: "Open Sans",Sans-Serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    /*line-height: 2;*/
    letter-spacing: 0.32px;
    text-align: right;
    color: #4c4c4c;
}
.product_listing_transaction{
    min-height: 240px;
    max-height: 250px;
    overflow: hidden;
}
.product_listing_transaction:hover{
    min-height: 240px;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.product_listing_transaction::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.product_listing_transaction::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.product_listing_transaction::-webkit-scrollbar-thumb
{
    border-radius: 40px;
    background-color: #919191;
}
.gateway{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    /*line-height: 2.14;*/
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
    padding: 1%;
    margin-bottom: 0;
}
.quickcard{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: 0.22px;
    text-align: right;
    color: #777777;
    padding: 1%;
    margin-bottom: 0;
}
.quickcard span{
    color: #35bab6;
    text-decoration: underline;
}
.gateway_credit_card_info .odd{
    border-radius: 8px;
}
.risk_analysis_box{
    /*min-width: 1224px;*/
    min-height: 776px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 1%;
}
.risk_heading{
    font-family: "Open Sans",Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: 0.24px;
    text-align: left;
    color: #4c4c4c;
}
.ip_address{
    font-family: "Open Sans",Sans-Serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.18px;
    text-align: left;
    color: #777777;
}
.dots_text{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.btn_refund_transaction{
    width: 111px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #d45858;
    background-color: #d45858;
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #ffffff !important;
}
.btn_accepted_transaction{
    width: 111px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
/*------- Accounts End-------*/

/*------- Fixing Start-------*/
.echecks_modal{
    /*width: 840px;*/
    min-height: 85px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-left: 6px solid #d45858;
    padding: 2%;
}
.important_note_echecks{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #d45858;
    margin-bottom: 0;
}
.important_note_echecks span{
    font-weight: normal;
}
.calender_image{
    width: 48px;
    height: 40px;
    object-fit: contain;
}
.btn_transfer_fund{
    width: 171px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5 !important;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
@media (min-width: 105px){
    .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-aside-right, .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-wrapper {
        margin-bottom: 0 !important;
    }
}
@media screen and (max-width: 3000px) and (min-width: 2001px){
    .modal-range
    {
        top: 28% !important;
        right: 26% !important;
        left: 33% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 24.5% !important;*/
    /*}*/
}
@media screen and (max-width: 2000px) and (min-width: 1901px){
    .modal-range
    {
        top: 28% !important;
        right: 25% !important;
        left: 32% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 29.5% !important;*/
    /*}*/
}
@media screen and (max-width: 1900px) and (min-width: 1801px){
    .modal-range
    {
        top: 28% !important;
        right: 23% !important;
        left: 31% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 26.5% !important;*/
    /*}*/
}
@media screen and (max-width: 1800px) and (min-width: 1701px){
    .modal-range
    {
        top: 28% !important;
        right: 22% !important;
        left: 30% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 27.5% !important;*/
    /*}*/
}
@media screen and (max-width: 1700px) and (min-width: 1685px){
    .modal-range
    {
        top: 28% !important;
        right: 21% !important;
        left: 29% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 29% !important;*/
    /*}*/
}
@media screen and (max-width: 1684px) and (min-width: 1680px){
    .modal-range
    {
        top: 28% !important;
        right: 21% !important;
        left: 29% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 30.6% !important;*/
    /*}*/
}
@media screen and (max-width: 1679px) and (min-width: 1601px){
    .modal-range
    {
        top: 28% !important;
        right: 21% !important;
        left: 29% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 29% !important;*/
    /*}*/
}
@media screen and (max-width: 1600px) and (min-width: 1501px){
    .modal-range
    {
        top: 28% !important;
        right: 19% !important;
        left: 27.5% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 30% !important;*/
    /*}*/
}
@media screen and (max-width: 1500px) and (min-width: 1400px){
    .modal-range
    {
        top: 28% !important;
        right: 17% !important;
        left: 26% !important;
    }
   /* .daterangepicker .ranges .range_inputs {
        right: 29% !important;
    }*/
    /*.daterangepicker{
        padding: 0 !important;
    }*/
}
@media screen and (max-width: 1399px) and (min-width: 1300px){
    .modal-range
    {
        top: 28% !important;
        right: 13% !important;
        left: 24% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 31.5% !important;*/
    /*}*/
}
@media screen and (max-width: 1299px) and (min-width: 1200px){
    .modal-range
    {
        top: 28% !important;
        right: 10% !important;
        left: 21% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*!*    right: 32.5% !important;*!*/
    /*!*}*!*/

}
.export_button{
    position: absolute;
    right: 0;
}
.export-chargeback{
    width: 133px;
    height: 48px;
    border-radius: 24px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.credit_card_images{
    width: 97%;
}
.card_number_image{
    padding: 1rem 1.2rem !important;
}
.charge_back_table{
    background-color: white;
}
.charge_back_table.table td, .charge_back_table.table th{
    border-top: transparent;
}
.charge_back_table table thead tr th{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 2.86;*/
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.case_th{
    width: 8%;
}
.account_th{
    width: 12%;
}
.charge_back_hover:hover{
    border: 3px solid #ffda00;
    margin-top: 2%;
}
#ach_detail .modal-header, #p2c_detail .modal-header,#echeck_detail .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    padding: 20px 32px 5px 32px !important;
}
.ach_heading{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
.sub_name{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.btn_ach_close{
    min-width: 111px;
    min-height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.p2c_card_dd{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}
.select_card{
    background-color: #fff;
    height: 48px !important;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    border: 2px solid #ebedf2;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
    width: 100%;
}
.select_card:disabled{
    background-color: #efefef !important
}
/*------- fixing End-------*/

/*------- Welcome start-------*/
.term_services_welcome{
    width: 808px;
    min-height: 3132px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 48px 40px;
}
.term_of_service{
    font-family: 'Open Sans',sans-serif;
    font-size: 31px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffa701;
}
.send_email_term{
    width: 153px;
    height: 32px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.send_email_term:hover{
    text-decoration: none;
}
.welcome_hr{
    opacity: 0.2;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.para_term{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.first{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.32px;
}
.second{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.19px;
    color: #ffa701;
}
.third{
    font-weight: bold;
}
.four{
    color: #35bab6;
}
.agree_btn{
    width: 100px;
    /*height: 32px;*/
    font-family: 'Open Sans',sans-serif;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffd95a;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 2;*/
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
.mail_box_first,.mail_box_second{
    padding: 24px;
}
.first_heading{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 2;*/
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
.m-profile-input:focus{
    border:2px solid rgb(53, 186, 182) !important;
}
#mobile_phone_error,#email_error{
    display: none;
}
.responsive-profiles-label{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left !important;
    color: #4c4c4c;
}
.btn_send{
    width: 100px;
    font-family: 'Open Sans',sans-serif;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffd95a;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
.another_email{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
    text-decoration: underline;
}
.mail_box_second{
    display: none;
}
.m-wizard.m-wizard--2 .m-wizard__head{
    padding: 0 !important;
}
.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress{
    width: 100% !important;
}
.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step {
    width: auto !important;
    padding: 0 !important;
}
.welcome_faq{
    width: 808px;
    min-height: 749px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 24px;
}
.faq_heading{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
.nav-pills{
    float: left;
    display: block;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    width: 245px;
    /*min-height: 80px;*/
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 3px #ffd95a;
    background-color: transparent !important;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c !important;
}
.bulk_check_box{
    min-width: 1223px;
    min-height: 186px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 24px;
}
.bulk_check_heading{
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.38px;
    text-align: left;
    color: #4c4c4c;
}
.bulk_check_hr{
    width: 100%;
}
.account_detail_bulk{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    /*line-height: 1.38;*/
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.balance_div{
    width: 254px;
    min-height: 48px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
    background-color: #f7f7f7;
    border-right: 6px solid #35bab6;
    padding: 14px;
}
.balance_bulk{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.amount_bulk{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.18px;
    text-align: right;
    color: #4c4c4c;
}
.btn-status{
    width: 110px;
    height: 40px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-size: 14px;
    /*font-weight: normal;*/
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.status_drop_down_new{
    width: 160px;
    min-height: 180px !important;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    padding: 17px;
    border-radius: 4px !important;
    margin-top: 2%;
}
/*.m-checkbox_chargeback > span:after{*/
/*    top: 40%;*/
/*    left: 40%;*/
/*}*/
.icon_charge_back{
    line-height: 0 !important;
    font-size: 16px;
    font-weight: bold;
}
.m-checkbox_chargeback{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.m-dropdown--open > .btn-status{
    background-color: #ffd95a;
}

.btn-customize{
    width: 235px;
}
.cross_align{
    position: absolute;
    right: 15px;
    top: 15px;
}
.pagination_dropdown .dropdown-menu.inner > li > a{
    text-align: center !important;
}
.popover{
    z-index:1060;
}
/*------- Welcome End-------*/
/*------- virtual terminal card start -------*/
/*#cardNo1{
    position: absolute;
    top: 28%;
    left: 8%;
    letter-spacing: 5px;
    width: 130%;
    background: transparent !important;
    border: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    text-align: left;
    color: rgba(255, 255, 255, 0.85) !important;
}
.credit-user-name{
    position: absolute;
    top: 40%;
    left: 8%;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.22px;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
}
.date-exp{
    position: absolute;
    top: 40%;
    left: 52%;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}*/

/*------- virtual terminal card End -------*/
/*----------profile page update start ------------*/
.btn-update-profile{
    width: 150px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.gift_card_back{
    width: 111px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
/*----------profile page update End ------------*/

/*----------invoices modal preview start ------------*/
.Billing-Info {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}
.Customer-Address {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
    margin-bottom: 8px;
}
.Nowhere-Blvd {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: #777777;
    margin-bottom: 8px;
}
.Memo-text{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}
/*----------invoices modal preview End ------------*/

/*---------- virtual terminal card div start ------------*/
.card_box{
    width: 288px;
    height: 169px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(122deg, #040404 -2%, #414148 94%);
    margin-top: 8rem;
}
.VALID-THRU {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}
.dots{
    letter-spacing: 6px;
    width: 100%;
    background: transparent;
    border: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
}
.credit-user-name{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.22px;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
}
.date-exp{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}
.m-switch.m-switch--primary:not(.m-switch--outline) input:empty ~ span:after {
    opacity: 1 !important;
}
/*---------- virtual terminal card div end ------------*/

/*---------- virtual terminal phone drop down start ------------*/
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag{
    background-color: transparent !important;
}
.intl-tel-input.allow-dropdown .flag-container:focus .selected-flag{
    border: 0px solid white !important;
}
.intl-tel-input.separate-dial-code .selected-flag{
    background-color: transparent !important;
}
.intl-tel-input .selected-flag .iti-flag{
    display: none;
}
.intl-tel-input.separate-dial-code .selected-dial-code {
    padding-left: 10% !important;
    padding-top: 5% !important;
}
.intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px !important;
    width: 13px !important;
    height: 8px !important;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    border-top: 8px solid #555 !important;
}
.intl-tel-input .country-list {
    position: absolute;
    z-index: 2;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px !important;
    list-style: none;
    text-align: left;
    padding: 2px 10px !important;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    border-radius: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #777777;
    min-width: 420px;
}
.intl-tel-input .country-list .country.highlight {
    background-color: #ffd95a !important;
    padding: 10px 15px !important;
    border-radius: 25px;
}
.intl-tel-input .country-list
{
    overflow: hidden !important;
}
.intl-tel-input .country-list:hover
{
    overflow-y: auto !important;
}
.intl-tel-input .country-list::-webkit-scrollbar-track
{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.intl-tel-input .country-list::-webkit-scrollbar
{
    width: 8px;
    background-color: transparent;
}

.intl-tel-input .country-list::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    background-color: #919191;
}
.intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}
.intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name
{
    font-weight: bold;
    color: #777777;
}
.intl-tel-input .country-list .country .dial-code
{
    color: #777777;
    font-weight: bold;
}
/*---------- virtual terminal card div end ------------*/

/*------------Permissions Create CSS Start----------*/
.new_permissions_box{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 24px;
}
.m-checkbox.m-checkbox--state-brand.permissions_checkbox > input:checked ~ span{
    border: 2px solid #ffbb01 !important;
}
.m-checkbox.m-checkbox--state-brand.permissions_checkbox > input:hover ~ span{
    border: 2px solid #ffbb01 !important;
}
ul{
    list-style-type: none;
}
.nested{
    border-left: 3px solid #dedede;
    margin-left: 8px;
    padding-left: 23px;
}
.simple_checks{
    font-weight: normal !important;
}
.m-checkbox.m-checkbox--state-brand.m-checkbox--solid > span{
    border: solid 2px #adadad !important;
    background-color: #e8e8e8 !important;
}
.btn_create_permission{
    width: 195px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #e8e8e8;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #adadad;
    margin-left: 37%;
}
.l_shape{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 33.5%;
    left: 57px;
}
.l_shape_1{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 41%;
    left: 57px;
}
.l_shape_2{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 48.5%;
    left: 57px;
}
.l_shape_3{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 56%;
    left: 57px;
}
.l_shape_4{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 57.5%;
    left: 57px;
}
.l_shape_5{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 65%;
    left: 57px;
}
.back_to_permission_list{
    width: 251px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    float: right;
}
.Update_Permission{
    width: 251px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.Accounting_Team_back{
    width: 250px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    margin-left: 35%;
}
/*------------Permissions Create CSS End----------*/

.popover-body{
    font-family: "Open Sans", sans-serif;
}
/*---------- tables Line height issues start ------------*/
.table_line_height th{
    padding: 0 .75rem .75rem .75rem !important;
    line-height: 1.3;
}
.table_line_height td{
    padding: .75rem .75rem .50rem .75rem !important;
    line-height: 2.5 !important;
}
.timeUtc{
    line-height: 1.5 !important;
}
/*---------- tables Line height issues end ------------*/
/*---------- FAQ Start CSS ------------*/
.tabs-width {
    width: 370px;
    height: 365px;
    overflow: hidden;
    border-right: 2px solid #e2e2e2;
}
.pl_pr{
    padding-left: 40px;
    padding-right: 40px;
}
.tabs-width:hover{
    overflow-x:hidden;
    overflow-y: scroll;
}
.tabs-width::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.tabs-width::-webkit-scrollbar
{
    width: 5px;
    background-color: transparent;
}

.tabs-width::-webkit-scrollbar-thumb
{
    border-radius: 40px;
    background-color: #919191;
}
.heading_tab_text{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.para_tab_text p{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.para_tab_text p span{
    font-weight: bold;
}
.para_tab_text p .arrow_span{
    font-weight: bold;
    color: #ffc703;
}
.img_tab{
    border-left: 2px solid #ffd95a;
    padding-left: 40px;
}
.pl-40{
    padding-left: 40px;
}
/*---------- FAQ End CSS ------------*/
.pointer_issue{
    pointer-events: none;
}

.memo_height{
    height: 100px;
    border-radius: 8px;
}

/*---------- new merchant design start ------------*/
.sub_total_name{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
    margin-bottom: 1rem;
}
.sub_total_value{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: #777777;
    margin-bottom: 1rem;
}
.last_text{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
    margin-top: 1rem;
}
.last_text span{
    color: #35bab6;
    text-decoration: underline;
}
.select_box_height{
    /*min-height: 360px;*/
    /*max-height: 360px;*/
}
.mt-30{
    margin-top: 30px;
}
/*---------- new merchant design end ------------*/

.ach_padding_24{
    padding: 24px !important;
}
/*---------- partner wallet start ------------*/
.partner_wallet{
    height: 112px !important;
    padding: 24px !important;
}
.personal_width{
    width: 18% !important;
}
/*---------- partner wallet end   ------------*/


.status_new_dropdown .m-dropdown__wrapper .m-dropdown__inner{
    height: auto !important;
}

.status_new_dropdown{
    width: 160px !important;
    margin-left: -50px !important;
}
.m-dropdown.m-dropdown--arrow .m-dropdown__arrow.m-dropdown__arrow--left, .m-dropdown.m-dropdown--arrow.m-dropdown--up .m-dropdown__arrow.m-dropdown__arrow--left{
    left: 70% !important;
    margin-left: 0 !important;
}

/*---------- Welcome Start   ------------*/
.bs-popover-auto[x-placement^=bottom], .bs-popover-bottom{
    display: none !important;
}
.welcome_alert_messages{
    position: absolute;
}

/*.wel---come*/
/*{*/
/*    transform: translate3d(580px, 138px, 0px) !important;*/
/*}*/
.wel---come:hover{
    display: block;
}

.bs-popover-bottom{
    transform: translate3d(815px, 104px, 0px) !important;
}
.para_term p a {
    color: #0a8cf0;
    text-decoration: underline;
}
/*---------- Welcome End   ------------*/
/*---------- Charge back attachment start   ------------*/
.charge_back_attachment{
    width: 296px;
    /*height: 48px;*/
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffffff;
}
.chageback_loader{
    height: 5px;
    border-radius: 10px;
    background-color: #efefef;
}
.progress_bar_chageback{
    background-color: #ffd95a;
}
/*---------- Charge back attachment End   ------------*/

.pointer_cursor{
    cursor: pointer
}
.loader_notification {
  width: 100px;
  height: 100px;
}

#older_panel .loader_notification_div .loader_notification{
    margin-left: 4rem;
}
#day_bef_yes_panel .loader_notification_div .loader_notification{
    margin-left: 4rem;
}


.see_more_noti {
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffa701;
    background: none;
    box-shadow: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}
button#older_more {
    padding: 10px 0px;
}

.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
.dropdown.bootstrap-select.form-control.m-bootstrap-select.m-bootstrap-select--pill.m_.text-center.pagination_dropdown {
    padding: 0px !important;
}
.dropdown-menu.show {
    min-width: 90px !important;
}
select#filter {
    position: absolute;
}
/*.bootstrap-select>.dropdown-toggle:after {*/
/*    font-family: FontAwesome !important;*/
/*    content: "\f0dd" !important;*/
/*}*/
/*.dropdown.bootstrap-select.form-control.m-bootstrap-select.m-bootstrap-select--pill.m_.pagination_dropdown {*/
/*    display: contents;*/
/*}*/