/*
*= require v2/merchant/custom
*= require v2/merchant/custom1
*= require v2/merchant/custom_2
*= require v2/merchant/custom_3
*= require v2/merchant/custom_4
*= require v2/merchant/custom_5
*= require v2/merchant/custom_partnerWallet_2
*= require v2/merchant/sale_batches
*= require v2/merchant/accounts
*= require v2/merchant/custom_sys
 */

.partner-dropdown .dropdown-menu.show
{
  display: none !important;
}
.pdf_bg_header{
  background-image: url(assets/images/v2/merchant/invoice/invoice_bg.svg);
}