

.partner-td{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.partner-rg{
    width: 78px;
    height: 19px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}
.partner-id {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
/*            virtual terminal           */

.virtual-padding{
    padding-top: 45px;
}
.middle-edit{
    width: 128px;
    height: 32px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
}
.icon-pen{
    position: relative;
    bottom: 8px;
}
.edit-text1{
    position: relative;
    bottom: 0.5em;
}
.virtual-btn{
    width: 162px !important;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
}
.billing-info{
    width: 129px;
    height: 33px;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    padding-top: 7px;
}
.m-switch.m-switch--primary:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #34c522 !important;
}
.credit-card{
    width: 288px;
    height: 169px;
    object-fit: contain;
}
.credit-shade{
    width: 288px;
    height: 169px;
    border-radius: 12px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(122deg, #040404 -2%, #414148 94%);
}
.input-field{
    height: 48px;
    border-radius: 25px;
    /*border: solid 2px #dbdbdb;*/
    background-color: #ffffff;
}
.small-field{
    max-width: 120px;
    height: 48px;
    border-radius: 25px;
    border: solid 2px #efefef;
}
.grand-total1{
    max-width: 200px !important;
}
.grand-font{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #adadad;
}
#VirtualTerminalSuccessModal .loader-image{
    position: absolute;
    top: 55%;
    right: 45%;
    z-index: 999;
}
#VirtualTerminalSuccessModal .loader-state{

    height: 42px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: center;
    color: #777777;

}
#VirtualTerminalSuccessModal .descriptor-name{

    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #777777;
}
#VirtualTerminalSuccessModal .v-loader-btn{
    width: 240px !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
#VirtualTerminalSuccessModal .Transaction-Successfull {
    height: 0px;
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
#VirtualTerminalSuccessModal .hand-circle{
    border-radius: 50%;
    width: 143px;
    height: 143px;
    margin-left: 40%;
    border: solid 6px #00cc6e;
}
#VirtualTerminalSuccessModal .hand-image{
    margin-top: 25%;
    margin-left: 10px;
}
#VirtualTerminalErrorModal .Back-circle {
    width: 143px;
    height: 143px;
    margin-left: 40%;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    background-color: #d45858;
}
#VirtualTerminalErrorModal .loader-state_error{
    height: 42px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: center;
    color: #777777;
}
#VirtualTerminalErrorModal .Linha-357 {
    width: 56.6px;
    height: 56.6px;
    border: solid 8px #ffffff;
}
.logo-up{
    position: absolute;
    left: 51%;
    top: 5%;
}
#VirtualTerminalErrorModal .cross-logo{
    object-fit: contain;
    margin-left: 24%;
    width: 78.1px;
    height: 142.1px;
}
.discount-rate {
    width: 412px;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.18px;
    text-align: left;
    color: #777777;
}
.discount-rate1 {
    width: 412px;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.18px;
    text-align: left;
    color: #777777;
}
.price-fee{
    height: 30px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: 0.22px;
    text-align: right;
    color: #777777;
}
.awain-height{
    height: 24px;
}
.awain-height2{
    height: 60px;
}
.footer--text{
    width: 739px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
}
.title-margin{
    margin-left: -10px;
}
.hover-font {
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /*    line-height: 1.69;*/
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}

/*             General Error Msg Modal              */
#GeneralErrorMsgModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#GeneralErrorMsgModal .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    position: relative;
    right: 14px;
}
#GeneralErrorMsgModal .whoops{
    font-size: 36px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #35bab6;
}
#GeneralErrorMsgModal .wrong-here {
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
#GeneralErrorMsgModal .following-text{
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
#GeneralErrorMsgModal .error-body{
    width: 516px;
    height: 143px;
    border-radius: 8px;
    background-color: #ffffff;
}
#GeneralErrorMsgModal .ERROR-3003 {
    height: 33px;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.38px;
    text-align: center;
    color: #4c4c4c;
    padding-top: 30px;
}
#GeneralErrorMsgModal .error-box{
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    padding-top: 24px;
}
#GeneralErrorMsgModal .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#GeneralErrorMsgModal .contact--info {
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4c4c4c;
}
#GeneralErrorMsgModal .phone-icon{
    width: 48px;
    height: 48px;
    object-fit: contain;
    text-align: right;
}
#GeneralErrorMsgModal .Merchant-Support {
    width: 136px;
    height: 4px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-left: -5px;
}
#GeneralErrorMsgModal .right-phone
{
    margin-left: 69px;
}
#GeneralErrorMsgModal .copy-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4c4c4c;
    margin-left: 10px;
}
#GeneralErrorMsgModal .clock-align{
    margin-left: 0px;
}
#GeneralErrorMsgModal .Available-from {
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-left: -15px;
}
#GeneralErrorMsgModal .time-error {
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-left: -15px;
}
.display_block{
    display: block !important;
}
.disabled{
    background: #dbdbdb !important;
}
.intl-tel-input.separate-dial-code .selected-dial-code{
    display: table-cell;
    padding-left: 30px;
    /*position: absolute;*/
    left: 40px;
    height: 100%;
    padding-top: 7%;
}
.intl-tel-input.selected-flag .iti-arrow{
    left: 30px;
}
.intl-tel-input.separate-dial-code .selected-flag {
    width: 43px;
}
.intl-tel-input {
    display: block;
}
.readonly_fields:read-only {
    background: #f2f2f2 !important;

}
.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
    height: 3em !important;
}
.card_details{
    max-width: 100% !important;
}
.select_account .m-bootstrap-select.bootstrap-select.m-bootstrap-select--pill > .dropdown-toggle{
    max-width: 100% !important;
}
