.limit_margin{
  margin-top: 50px;
}
#gft_amount_input_error{
  position: absolute;
}
.sent_wd_loader_img{
    top: 100px;
    position: relative;
    z-index: 99999;
    left: 35px;
}
.fixed_amount_field{
    background: lightgrey;
}
.fixed_amount_field:focus{
    background: lightgrey;
}
.balance
{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
    font-family: 'Open Sans',sans-serif;
    padding: 15px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #707070;
    border-right: 6px solid #35bab6;
}
.padding_top_20{
    padding-top: 20px;
}
.price {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.36px;
    text-align: right;
    color: #707070;
}