.readonly_fields1{
    background: #f2f2f2 !important
}
.margin-top-60px{
    margin-top: 60px !important;
}
.hr_2{
    width: 100%;
    border: 0;
    margin-top: 18px;
    border-top: 2px solid #eee;
}
.invoices_dropdown{
    border-radius: 25px !important;
}
.has-danger label.col-form-label, .has-danger label.form-control-label, .has-danger label:not([class]) {
    color: red;
}
.has-danger .form-control-feedback {
    color: red;
}
.form-control-feedback {
    color: red;
}
.on_select{
    background-color: #ffffff !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey !important;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  lightgrey !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:  lightgrey !important;
}
.invoice-input{
    color: #2a2b2f
}
.invoice-price-input{
    color: #2a2b2f
}
.trans_error {
    height: 42px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: center;
    color: #777777;
}
.Back-circle {
    width: 143px;
    height: 143px;
    margin-left: 40%;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    background-color: #d45858;
}
.cross-logo{
    object-fit: contain;
    margin-left: 24%;
    width: 78.1px;
    height: 142.1px;
}
#invoice_memo{
    color: #2a2b2f;
    border-radius: 5px;
    height: 100px;
}
#invoice_id{
    background: #f4f5f8 !important;
}
input:-moz-read-only { /* For Firefox */
    background: #f4f5f8 !important;
}
#due_date_for_invoices, #date_to_send_invoices{background-color: white !important;}

input:read-only {
    background: #f4f5f8 !important;
}
.fee-box{padding: 3%;
    border: 1px solid;
    margin-top: 7%;
    border-radius: 3px;}
.approve_invoice_box{border: 1px solid lightgray; border-radius: 6px}


.shadow{
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.45);
    border-radius: 4px;
}
.row_data{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#edit_invoice_number{
    color: #0d6aad;
}
.invoice_number_label{
    position: absolute;
    top: 30px
}
.dashboard-body{background: #f2f2f2}
.dashboard-section1{min-height: 300px;}
.dashboard-section1-1{min-height: 295px;background: white}
.dashboard-section1-2{margin-top:5px;min-height: 255px;background: white}

.dashboard-section2{min-height: 280px;}
.dashboard-section2-1{min-height: 275px;background: white}
.dashboard-section2-2{min-height: 275px;background: white}

.margin-top-35px{margin-top: 35px}
.text-larger{font-size: larger}
#total_invoiced_amount{
    font-size: 29px;
    font-weight: 600;
    color: #40527B;
    font-family: serif;}
#total_invoiced_symbol{
    font-size: 27px;
    font-weight: 600;
    margin-left: 2px;
    color: #3BCAAA;}
#total_invoiced_percentage{
    font-size: 12px;
    margin-top: 15px;
    color: #80D134;
}
#outstanding_symbol{
    font-size: 27px;
    font-weight: 600;
    color: #FDA727;
}
#colleted_symbol{
    font-size: 27px;
    font-weight: 600;
    color: #2d67EC;
}
#total_amount_past_due_symbol{
    font-size: 17px;
    font-weight: 600;
    color: #2d67EC;
}
#total_amount_outstanding_symbol{
    font-size: 17px;
    font-weight: 600;
    color: #FDA727;
}
#outstanding{
    font-size: 12px;
    position: absolute;
    top: 12px;
    color: black !important;
    font-weight: 100 !important;
}
#client_txt{
    font-size: 12px;
}
#outstanding_amount{
    font-size: 23px;
    font-weight: 600;
    color: #40527B;
    font-family: serif;
}
.no-margin-bottom{
    margin-bottom: 0px !important;
}
.dashboard-table{
    border: 2px solid darkgray;
}
.dashboard-table thead{
    border-bottom: 3px solid darkgray;
}
.logo_img{
    width:80px !important;
    height:80px !important;
}
.vertical_align_middle{vertical-align: middle !important;}
#modal-dialog1{
    max-width: 40%
}
#modal-header1{
    background-color: rgba(0, 0, 0, 0.03);
}
#modal-title1{
    position: relative; top: -5px;padding-left: 6%;padding-right: 6%;
}
#heading4{
    text-align: center
}
#heading5{
    text-align: center
}
#close_2{
    padding: 0px !important;padding-top: 15px !important;
}
#card_header1{
    border-bottom: 0px;
}
#card_header2{
    border-bottom: 0px;
}
.logo-modal-title {
    padding: 13px !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}



/*//invoice_form starts*/

.no-padding{padding: 0px}
.no-padding-left{padding-left: 0px}
.no-padding-right{padding-right: 0px}
.display-none{display: none}
.display-block{display: block}
.no-margin-bottom{margin-bottom: 0px !important;}
.text-align-center{text-align: center}
.cursor-pointer{cursor: pointer}
.cursor-not-allowed{cursor: not-allowed}
/*.iti-arrow{display: none}*/
.margin-top-20px{margin-top: 20px}
.font-12-px{font-size: 12px}
#counter{position: relative;bottom: 25px;left: 82%; opacity: 0.5}
.red-color{color: red}
.green-color{color: #28a745 !important}
.cancel-button-color{background-color: #595959;color: white}
.cancel-button-color:hover{background-color: #595959;color: white}
.border-radius-zero{border-radius: 0px}
.width-7-percent{width: 7%}
.width-10-percent{width: 10%}
#view_invoice{margin-right: 1px}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/*for adding icon in input fields*/
.icon_inside_input_field {
    position: relative;
}
.search-field{width: 24%;}
.width-30-percent{width: 30%;}
.display-inline-block{display: inline-block !important;}

.payee_checkbox + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

.payee_checkbox {
    display: none;
}

.payee_checkbox + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
//display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
//padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

.payee_checkbox + label:active:before {
    transform: scale(0);
}

.payee_checkbox:checked + label:before {
    background-color: rgb(93, 85, 126);
    border-color: rgb(93, 85, 126);
    color: #fff;
}

.payee_checkbox:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

.payee_checkbox:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}





/*Checkboxes styles*/
.checkbox_template {
    display: none;
}

.checkbox_template + label {
    margin-top: 5px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: black;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox_template + label:last-child {
    margin-bottom: 0;
}

.checkbox_template + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.checkbox_template:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* checkbox end */

.change_fee_method {
    position: absolute;
    display: none;
    z-index: 99999;
    background: rgb(255, 255, 255);
    padding: 20px 36px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}
.margin-top-15px{margin-top: 15px}
.with-90-percent{width: 90%}

.highcharts-credits{
    display: none;
}
#date_picker{
    width:160%!important;
    left: -11%
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot");
    src: url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
    url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2") format("woff2"),
    url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg")
}

.datepicker{
    padding-left: 20px;
    font-size: 17px;
}
.timepicker-picker{
    font-size: 17px;
}
.timepicker-hours{
    font-size: 17px;
    font-weight: 600;
    margin-top: 27%;
}
.timepicker-minutes{
    font-size: 17px;
    font-weight: 600;
    margin-top: 27%;
}
.hour{
    border: 2px solid lightgray;
    cursor: pointer;
}
.minute{
    border: 2px solid lightgray;
    cursor: pointer;
}
.glyphicon-chevron-up:before {
    content: "\e113" !important;
}

.btn-schedule {
    border: none;
    width: 100%;
}
.btn-schedule1 {
    border: none;
    width: 100%;
}
#sub_error{
    color: red;display: none;
    margin-top: 41px;
    margin-right: 138px;
}
.error{
    color: red !important;
}
#myschedule{
    position: absolute;
    margin-left: 158px;
}
.date-margin{
    margin-right: 160px;
}
/*//invoice_form end*/

/*//.modal-title{*/
/*//  color: black*/
/*//}*/
.clos_btn {
    margin-right: 5px!important;
}
.schedule_modal{
    color:black!important;
}
.title{
    color: black;
}
.select_date_margin{
    margin-top: -45px !important;
}
.btn_group {
    margin-left: -0.4%;
}
.imgThumbnail {
    width: 20% !important;
    height: 20% !important;
//float: left;
    height: 100px;
    width: 100px;
    position:relative;
}
.closeDiv {
//position: absolute;
    width: 20px;
    height: 21px;
    background-color: rgb(35, 179, 119);
    float: right;
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 7px rgb(74, 72, 72);
    text-align: center;
    margin: 5px;
    position: relative;
    right: 55%;
}
.pDiv {
    float:left;
    width:100%
}
.divThumbnail {
    position: relative;
    display: block;
    margin: 5px;
}
.m-bootstrap-select.bootstrap-select.m-bootstrap-select--pill > .dropdown-toggle {
    max-width: 420px;
    height: 48px!important;
    border-radius: 1.5625rem !important;
}




.discount-text{
    margin-top: 30px !important;
}
.m-input:focus{
    outline: none;
}
.btn__invoice{
    width: auto;
    height: 48px;
    line-height: 1.6;
    padding-left:3.125em;
    margin-right: 25px;
    padding-right:3.125em;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c !important;
}
.btn__preview{
    width: auto;
}
.icon_inside_input_field {
    position: relative;
}
.m-invoice-textarea {   resize: none;
    height: 141px;
    border-radius: 8px;
}



/*email_preview*/
.modal-merchant-name-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: 0.48px;
    text-align: center;
    color: #4c4c4c;
}
.modal-welcome-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight:bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
.invoice-order-text{
    font-weight: normal;
}
.pdf-preview-modal-body{
    margin:0px 80px;
    background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
}
#pdfPreviewModal .modal-dialog{
    max-width: 937px !important;
}
.simple-24-bold-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.38px;
    color: #777777;
}
.simple-16-normal-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    color: #777777;
}
.z-cart-logo{
    width: 215px;
    height: 184px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffffff !important;
    padding-top: 50px;
}
.ach-logo{
    width: 215px;
    height: 184px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffffff !important;
    padding-top: 30px;
}
.credit-debit-logo{
    width: 215px;
    height: 184px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffffff !important;
    padding-top: 25px;
}
.ach-text{
    font-family: 'Gotham Rounded',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #4c4c4c;
}
.payment-part{
    margin: 20px;
}
.invoice-part{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin: 20px 30px 20px 20px;
    padding: 20px;
}
.simple-14-bold-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}
.simple-14-normal-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #777777;
}
.btn_pdf{
    width: 81px;
    height: 32px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.7;
    letter-spacing: normal;
    color: #4c4c4c;
}
.invoice-h-line{
    width: 100%;
    margin-top: 2px !important;
}
.invoice-line{
    width: 100%;
    margin-top: 18px;
}
.invoice-title-line{
    width: 100%;
    margin-top: 1px;
}
.invoice-link-text{
    color: #35bab6 !important;
    text-decoration: underline;
}
.invoice-powered-by-text{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.invoice-pdf-btn{
    width: 148px;
    height: 48px;
}
.invoice-pdf-cancel-btn{
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.invoice-pdf-cancel-btn:hover{
    background-color: #ffffff;
}

/*customer_name select2 customize*/
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 26px !important;
    position: absolute;
    top: 22px !important;
    right: 7px !important;
    width: 20px !important;
}
.select2-container--default .select2-selection--single{
    max-width: 420px !important;
    height: 48px !important;
    border-radius: 1.5625em !important;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single{
    border-color: #efefef !important;
}

/*change payment option color in preview modal*/
.color-lightgray{
    background-color: lightgray !important;
}
.color-blue{
    color: blue !important;
}
.ui-menu
{
    width: 420px !important;
    padding: 10px 10px;
    border-radius: 30px;
    position: absolute !important;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #efefef;
    background-color: #ffffff;
    z-index: 9999;
}
.ui-menu::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}

.ui-menu::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #cacaca;
}
.ui-menu li{
    list-style:none;
    cursor: pointer;
    padding: 0px 7px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.43;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
}
.ui-menu li:hover{
    list-style:none;
    border-radius: 24px;
    background-color: #ffd95a;
}
.disabled-hide > .bootstrap-select .dropdown-menu li .disabled{
    display: none !important;
}
.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
    height: 3em !important;
}
.intl-tel-input.separate-dial-code .selected-dial-code{
    display: table-cell;
    padding-left: 30px;
    /*position: absolute;*/
    left: 40px;
    height: 100%;
    padding-top: 7%;
}
.intl-tel-input.selected-flag .iti-arrow{
    left: 30px;
}
.intl-tel-input.separate-dial-code .selected-flag {
    width: 43px;
}
.intl-tel-input {
    display: block;
}
#wallet_id-error{
    position: absolute;
    top: 48px;
}
#wallet_id-error{
    position: absolute;
    top: 48px;
}
#s_country-error{
    position: absolute;
    padding-top: 50px;
}
#b_country-error{
    position: absolute;
    padding-top: 50px;
}
.ui-helper-hidden-accessible{
    display: none;
}
.invoice-account-field{
    max-width: 430px !important;
}
.color-black{
    color: black;
}