div#description_memo {
  word-wrap: break-word !important;
  width: auto !important;
  height: auto !important;
}

.less_zero{
  display: none;
}

.no_display {
  display: none !important;
}
.after_message{
  display: none;
}
.drop-down{
  transform: translate3d(15px, 78px, 0px) !important;
}
.down-status{
  transform: translate3d(25px, 40px, 0px) !important;
}
