.readonly_fields1{
    background: #f2f2f2 !important
}
.has-danger label.col-form-label, .has-danger label.form-control-label, .has-danger label:not([class]) {
    color: red !important;
}
.has-danger .form-control-feedback {
    color: red !important;
}
#card_cvv-error{
    color: red !important;
}
.on_select{
    background-color: #ffffff !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey !important;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  lightgrey !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:  lightgrey !important;
}
input:-moz-read-only { /* For Firefox */
    background: #f4f5f8 !important;
}

.form-control input:read-only {
    background: #f4f5f8 !important;
}

.ui-menu
{
    max-height: 200px;
    min-height: 50px;
    overflow-y: auto;
    position: absolute !important;
    width: 420px !important;
    padding: 10px 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #efefef;
    background-color: #ffffff;
}
.ui-menu::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}

.ui-menu::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #cacaca;
}
.ui-menu li{
    list-style:none;
    cursor: pointer;
    padding: 0px 7px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.43;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
}
.ui-menu li:hover{
    list-style:none;
    border-radius: 24px;
    background-color: #ffd95a;
}
.cursor-pointer{cursor: pointer}
.cursor-not-allowed{cursor: not-allowed}
.disabled-hide > .bootstrap-select .dropdown-menu li .disabled{
    display: none !important;
}
#card_no_error{
    color: red;
}