/*add this css in accounts.scss when the design is final*/
.highcharts-yaxis-labels{
    display: none !important;
}
.highcharts-axis-title, .highcharts-title, .highcharts-credits, .highcharts-legend-item{
    display: none !important;
}
.highcharts-grid {
    display: none;
}