// Place all the styles related to the v2/merchant/settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intl-tel-input.separate-dial-code .selected-dial-code{
  display: table-cell;
  padding-left: 7px;
  //position: absolute;
  left: 40px;
  height: 100%;
  padding-top: 30%;
}
.intl-tel-input.selected-flag .iti-arrow{
  left: 30px;
}
.intl-tel-input.separate-dial-code .selected-flag {
  width: 43px;
}
.intl-tel-input {
  display: block;
}
.progress {
  display: none;
  width: 450px;
}
.intl-tel-input.selected-flag .iti-arrow{
  left: 30px;
}
.intl-tel-input.separate-dial-code .selected-flag {
  width: 43px;
}
.intl-tel-input {
  display: block;
}
.intl-tel-input.separate-dial-code .selected-dial-code{
  display: table-cell;
  padding-left: 7px;
  //position: absolute;
  left: 40px;
  height: 100%;
  padding-top: 30%;
}
.intl-tel-input.selected-flag .iti-arrow{
  left: 30px;
}
.intl-tel-input.separate-dial-code .selected-flag {
  width: 43px;
}
.intl-tel-input {
  display: block;
}
.phone-error{
  color:red !important;
}
.btn--drop
{
  background-color: #fff !important;
  height: 48px !important;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.22px;
  text-align: left;
  color: #777777;
  width: 100%;
}
.btn-group-width{
  width: 185px !important;
}
#locs_show_selected{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-green{
  color: green !important;
}
//input:checked + .slider:before {
//  -webkit-transform: translateX(26px);
//  -ms-transform: translateX(26px);
//  transform: translateX(26px);
//}
////.ms-options > ul > li > .ms-opt-1:hover {
////  background: #ffd95a;
////  text-decoration: none;
////  border-radius: 2rem;
////}
//.ms-options > ul > li:hover {
//  background: #ffd95a;
//  text-decoration: none;
//  border-radius: 2rem;
//}
//.ms-options > ul > li {
//  background: #ffd95a;
//  text-decoration: none;
//  border-radius: 2rem;
//}
//.ms-options{
//  border-radius: 15px!important;
//  max-height: 452.547px;
//  overflow: hidden;
//  min-height: 0px;
//  position: absolute;
//  will-change: transform;
//  top: 0px;
//}
//.ms-options-wrap > .ms-options > ul label.focused, .ms-options-wrap > .ms-options > ul label:hover {
//  background-color: #ffd95a;
//  border-color: #ffd95a;
//}
//.ms-options-wrap > .ms-options > ul label:hover {
//  background-color: #ffd95a;
//  border-color: #ffd95a;
//  border-radius: 15px!important;
//}
//li > label{
//  background: white;
//}
//li > label:hover{
//  background-color: #ffd95a;
//  border-color: #ffd95a;
//  border-radius: 15px!important;
//}
//.selected > label {
//  background-color: white!important;
//}
//.selected  {
//  background-color: #ffd95a;
//  border-color: #ffd95a;
//  border-radius: 15px!important;
//}
//.selected > label {
//  background-color: #ffd95a;
//  border-color: #ffd95a;
//  border-radius: 15px!important;
//}
//.selected:hover  {
//  background-color: #ffd95a;
//  border-color: #ffd95a;
//  border-radius: 15px!important;
//}
//.selected:active  {
//  background-color:red;
//  border-color: #ffd95a;
//  border-radius: 15px!important;
//}
.invalid .fa-times{
  color: #fff;
  position: relative;
  font-size: 10px;
  bottom: 5.6px;
  /* left: 1.5px; */
  left: 0.4em;
}
.valid .fa-check{
  color: #fff;
  position: relative;
  font-size: 10px;
  bottom: 4.6px;
  left: 0.3em;
}
.tooltip_display{
  display: block !important;
}
.tooltip_display_hide{
  display: none !important;
}
.intl-tel-input.separate-dial-code .selected-dial-code{

}