.flex-line {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-a-center {
  align-items: center;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-9 {
  margin-left: 9px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-32 {
  margin-left: 32px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-24 {
  padding-left: 24px;
}

.m-btn--pill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.m-btn--pill img {
  margin-left: 10px;
  width: 24px;
}

#show--entries > .bootstrap-select .dropdown-menu.inner > li > a {
  padding: 0 !important;
  padding-bottom: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.bootstrap-select .dropdown-menu {
  border-radius: 25px !important;
  min-height: 0 !important;
}

.bootstrap-select .dropdown-menu .inner.show {
  min-height: 0 !important;
}

.daterangepicker.ltr .ranges {
  margin: 0;
}

.daterangepicker.dropdown-menu {
  border-radius: 25px !important;
  margin-bottom: 0;
  padding: 8px 8px 0 8px !important;
  margin-right: 9px !important;
}

.m-dropdown__inner {
  border-radius: 25px;
}

.login-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.new_logo_img {
  width: 90%;
}

.effect-top {
  width: 80%;
  position: fixed;
  top: -95%;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

.effect-top img {
  width: 100%;
}

.background_image_login {
  height: 100%;
  background-color: #f6f6f6;
  background-image: url("assets/images/merchant/new_login_gray_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  overflow: hidden;
}

.grey-left-side {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-right: 30%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.login-box {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("assets/images/merchant/yellow_bg_login.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 40px 60px 140px;
}

.login-box__form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.term-footer {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.term-footer p {
  margin-bottom: 0;
}

.m-login__logo {
  width: 100%;
  text-align: center;
}

.m-login__form-action {
  margin-top: 10px;
}

#login_div {
  width: 100%;
}

.form-group {
  padding: 8px 0;
  width: 100%;
}

.login-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.forgot-pass {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .login-box {
    width: 100%;
  }
  .grey-left-side {
    display: none;
  }
}

@media (max-height: 800px) {
  .background_image_login {
    min-height: 750px;
    overflow-y: auto;
  }
}

.actions-header {
  display: flex;
}

.btn-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-status i {
  margin-right: 10px;
}

.table td,
.table th {
  vertical-align: middle !important;
}

.row-key {
  display: flex;
  align-items: center;
}

.business_settings_section .normal-custom-text {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

.business_settings_section .normal-custom-text p {
  margin: 0;
}

.key_width {
  height: auto;
  margin-left: 0;
}

.price_chargeback {
  color: #707070 !important;
}

.charge_back_widget_v2 {
  margin-bottom: 24px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.charge_back_widget_v2 .charback_header_col {
  display: flex;
}

.charge_back_widget_v2 .charback_header_col .icon-div {
  width: 56px;
  margin-right: 8px;
}

.charge_back_widget_v2 .charback_header_col .text-charge {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.charge_back_widget_v2 .charback_header_col .text-charge .small_chargeback {
  width: 100%;
}

.charge_back_widget_v2 .charback_header_col .text-charge .price_chargeback {
  line-height: 1;
}

.m-time-bootstrap-select .dropdown-menu.show {
  border-radius: 25px !important;
}

.m-time-bootstrap-select .dropdown-menu.show .dropdown-item {
  display: flex;
  align-items: center;
  height: 48px;
}

.m-time-bootstrap-select .dropdown-menu.show .dropdown-item:hover {
  padding-left: 15px;
}

.charge_back_table .cutom_tootltip {
  position: relative;
  right: 12px;
}

.charge_back_table .right-12 {
  position: unset !important;
}

.chargeback_datatable .cutom_tootltip {
  position: relative;
  right: 0;
  padding: 0 5px;
}

.chargeback_datatable .right-12 {
  position: unset !important;
}

.invoices_dropdown .m-dropdown__body {
  padding: 10px !important;
}

.invoices_dropdown .m-nav__item,
.invoices_dropdown .cancel_invoice {
  width: 100%;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.grid-account {
  margin-top: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

@media (min-width: 1400px) and (max-width: 1700px) {
  .grid-account {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1701px) and (max-width: 1900px) {
  .grid-account {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1901px) and (max-width: 2100px) {
  .grid-account {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 2101px) and (max-width: 2300px) {
  .grid-account {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 2301px) {
  .grid-account {
    grid-template-columns: repeat(5, 1fr);
  }
}
