.login-bg {
  height: 100vh;
  //background-image: image_url("merchant/loader.svg");
  background-image: image_url("merchant/chrome_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.margin-top-64{
  margin-top: 64.6px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-116{
  margin-top: 116px;
}
.margin-top-111{
  margin-top: 111px;
}

.margin-top-46{
  margin-top: 46px;
}
.margin-top-50{
  margin-top: 50px;
}
.coming-soon-text{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.51px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
}

.coming-soon-text-detail{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.51px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
}

.position-7px{
  position: relative;
  bottom: 7px;
}
.position-5px{
  position: relative;
  top: 5px;
}

.download-part{
  width: 281px;
  height: 194px;
  border-radius: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  margin-right: 61px;

}

.margin-left-12{
  margin-left: 12px;
}

.download-text{
  font-family: 'Open Sans',Sans-Serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #4c4c4c;
}
.mt-27{
  margin-top: 27px;
}
.footer{
  margin-top: 119px;
}
.footer-text{
  font-family: 'SourceSansPro';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.5);
}
.splash_height{
  height: 100vh;
  overflow-y: scroll;
}