

#SystemNotificationModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#SystemNotificationModal .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    position: relative;
    right: 14px;
}
#SystemNotificationModal .whoops{
    font-size: 36px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #35bab6;
}
#SystemNotificationModal .wrong-here {
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
#SystemNotificationModal .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#SystemNotificationModal .log-out-modal {
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: right;
    color: #4c4c4c;
}
#WithdrawModal .drop-width{
    width: 93% !important;
}
.email-cvc{
    background-color: #ffffff !important;
}
.faq-page{
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 24px;
}
.tabs-width{
    width: 350px;
}
.nav-item-width{
    width: 345px !important;
}
.No-data-available {
    width: 222px;
    height: 23px;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: center;
    color: #777777;
}
.no-data{
    width: 251px;
    object-fit: contain;
    margin-top: 10%;
}
#ResetPasswordModel{
    background-color: rgba(0, 0, 0, 0.4);
}
#ResetPasswordModel .modal-content{
    border-radius: 8px;
}
#ResetPasswordModel .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}

#ResetPasswordModel .modal-body {
    padding: 6em 0 !important;
}
#ResetPasswordModel .form-group input{
    max-width: 392px;
    height: 48px;
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
#ResetPasswordModel .m-input-icon{
    max-width: 392px;
}
#ResetPasswordModel .modal-header{
    padding: 15px;
}
#ResetPasswordModel .modal-header .close{
    margin-top: 2px;
}
#ResetPasswordModel .modal_btn{
    margin-top: 3em;
}
#ResetPasswordModel .modal-body1{
    padding-top: 48px !important;
}
#ResetPasswordModel .modal-height{
    padding-bottom: 40px;
}
#ResetPasswordModel .sixty-days{
    width: 622px;
    height: 46px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
#ResetPasswordModel .btn-width-reset{
    width: 232px !important;
}
#ResetPasswordModel unseen-eye{
    width: 16px;
    height: 13px;
    object-fit: contain;
}
#ResetPasswordModel .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#ResetPasswordModel.log_out_maint{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
#SystemNotificationModal .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#SystemNotificationModal .log_out_maint{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
#ResetPasswordModel .Current-Password {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    padding-left: 12px;
    color: #4a4a4a;
}
.search-jump{
    margin-top: -5px;
}
#GeneralErrorMsgModal .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#GeneralErrorMsgModal .close-btn{
    width: 89px;
}
.trash-radius{
    border-radius: 30px !important;
}
.change-btn-pass{
    width: 204px;
    height: 48px;
    border-radius: 120px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #d6d6d6 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    border-color: #d6d6d6 !important; ;
}
 /*     profile new page   */
.account-id-profile {
    width: 145px;
    height: 22px;
    opacity: 0.5;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #adadad;
}
.active-pro {
    width: 44px;
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #00cc6e;
}

/*   End  profile new page   */

/*     ACH $   Echeck unpaid       */
.unpaid-padding{
    padding-left: 25px !important;
}
.unpaid-width{
    width: 56px;
}
.ach-echeck{
    flex: 0 0 20% !important;
    max-width: 20% !important;
}
/*      End ACH $ Echeck unpaid       */
/*         ACH in-process  */
.in-process{
    margin-top: -10px;
}
/*       End  ACH in-process  */
#maintenance-modal .close-btn{
    width: 89px;
}
#ResetPasswordModel .diff-pass{
    width: 369px;
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #d45858;
}
#ResetPasswordModel .password-mismatch {
    width: 123px;
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #d45858;
}

/*       Account details Customize dropdown   */
/*         transaction event           */
.customize-drop{
    width: 262px;
    margin-left: 15px;
}
.drop-width-cutomize{
    border-radius: 32px !important;
}
.drop-list{
    width: 87% !important;
}
.select-period{
    width: 123% !important;
}
.m-checkbox > input:checked ~ span {
    background-color: #ffffff;
}
.bold--text{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}
.dropdown-menu  > .dropdown-item:hover, .dropdown-menu  > li > a:hover >label {
    background: #ffd95a;
    font-weight: bold;
}
.drop-width-cutomize{
    width: 235px !important;
}
/*    End   Account details Customize dropdown   */
.chargeback-open-cases .cl_2 {
    border-left: 1px dotted #e2e2e2;
    border-left-width: 3px;
    height: 95%;
    margin-top: 1.25em;
    display: block;
}
.chargeback-open-cases .cl_3 {
    border-left: 1px dotted #e2e2e2;
    border-left-width: 3px;
    height: 95%;
    margin-top: 1.25em;
    display: block;
}
.charback-accepted-case1 {
    display: block;
}
.charback-accepted-case2 {
    display: block;
}
.refund_accept_images-block {
    margin-left: -23px;
    display: block;
}
.refund_accept_images-block1 {
    margin-left: -23px;
    display: block;
}
.chargeback-open-cases .cl_3 {
    border-left: 1px dotted #e2e2e2;
    border-left-width: 3px;
    height: 95%;
    margin-top: 1.25em;
    display: block;
}
.chargeback-open-cases .cl_4 {
    border-left: 1px dotted #e2e2e2;
    border-left-width: 3px;
    height: 95%;
    margin-top: 1.25em;
    display: block;
}
.case-won-section1 {
    display: block;
}
.refund_fcharge1_images1 {
    margin-left: -23px;
    display: block;
}
.hr-event{
    border-top: 1px solid #efefef !important;
}
 /*         End transaction event           */
 /*         Reset Password Pop up Model           */

#ResetPasswordPopModel{
    background-color: rgba(0, 0, 0, 0.4);
}
#ResetPasswordPopModel .modal-content{
    border-radius: 8px;
}
#ResetPasswordPopModel .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}

#ResetPasswordPopModel .modal-body {
    padding: 6em 0 !important;
}
#ResetPasswordPopModel .form-group input{
    max-width: 392px;
    height: 48px;
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
#ResetPasswordPopModel .m-input-icon{
    max-width: 392px;
}
#ResetPasswordPopModel .modal-header{
    padding: 15px;
}
#ResetPasswordPopModel .modal-header .close{
    margin-top: 2px;
}
#ResetPasswordPopModel .modal_btn{
    margin-top: 3em;
}
#ResetPasswordPopModel .modal-body1{
    padding-top: 48px !important;
}
#ResetPasswordPopModel .modal-height{
    padding-bottom: 40px;
}
#ResetPasswordPopModel .sixty-days{
    width: 622px;
    height: 46px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
#ResetPasswordPopModel .btn-width-reset{
    width: 232px !important;
}
#ResetPasswordPopModel .unseen-eye{
    width: 16px;
    height: 13px;
    object-fit: contain;
}
#ResetPasswordPopModel .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#ResetPasswordPopModel.log_out_maint{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}

#ResetPasswordPopModel .Current-Password {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    padding-left: 12px;
    color: #4a4a4a;
}

#ResetPasswordPopModel .diff-pass{
    width: 369px;
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #d45858;
}
#ResetPasswordPopModel .password-mismatch {
    width: 123px;
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #d45858;
}

/*       End  Reset Password Pop up Model           */

/*       Confirm logout Model           */
#ConfirmLogOutModel{
    background-color: rgba(0, 0, 0, 0.4);
}
#ConfirmLogOutModel .modal-content{
    border-radius: 8px;
}
#ConfirmLogOutModel .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}

#ConfirmLogOutModel .modal-body {
    padding: 6em 0 !important;
}
#ConfirmLogOutModel .form-group input{
    max-width: 392px;
    height: 48px;
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
#ConfirmLogOutModel .m-input-icon{
    max-width: 392px;
}
#ConfirmLogOutModel .modal-header{
    padding: 15px;
}
#ConfirmLogOutModel .modal-header .close{
    margin-top: 2px;
}
#ConfirmLogOutModel .modal_btn{
    margin-top: 3em;
}
#ConfirmLogOutModel .modal-body1{
    padding-top: 48px !important;
}
#ConfirmLogOutModel .modal-height{
    padding-bottom: 40px;
}
#ConfirmLogOutModel .leave-QuickCard {
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
    padding-top: 60px;
    padding-bottom: 50px;
}
#ConfirmLogOutModel  .hr-confirm{
    width: 730px;
    height: 1px;
    background-color: #d8d8d8;
}
#ConfirmLogOutModel .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#ConfirmLogOutModel .btn-no1{
    width: 89px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px var(--light-gold);
    background-color: #ffffff;
    margin-right: 24px;
}
#ConfirmLogOutModel .btn-yes1{
    width: 89px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px var(--light-gold);
    background-color: var(--light-gold);
}
#ConfirmLogOutModel .btn-text1 {
    font-family: 'Open Sans',sans-serif !important;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
/*       End  Confirm logout Model           */

/*          Google Chrome Model      */
#GoogleChromeModel .modal-content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
    height: 285px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 10px;
}
button.close1 {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close1 {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
#GoogleChromeModel .Google-Chrome {
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.29px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
#GoogleChromeModel .-click-here {
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #35bab6;
}
#GoogleChromeModel .link-set{
    margin-top: 32px;
}
#GoogleChromeModel .chrome-set{
    padding-right: 20px;
}
/*           End Google Chrome Model      */