.m-body .m-content {
    padding: 10px 30px 0 30px;
}
.m-content_space{
    padding: 40px 30px 0 30px !important;
}
/*------- Invoices css Start-------*/
.bootstrap-select > .dropdown-toggle:after{
    top: 40% !important;
    right: 1.5rem !important;
    font-size: 19px;
}
.select_number{
    display: inline-flex;
}
.m-portal_datatable{
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
}
.listing_datatable{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
.dataTables_length label{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
    display: inline-flex;
}
.btn_status{
    width: 110px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
}
.btn_status:active,.btn_status:focus{
    background-color: #ffd95a;
}
.status_label{
    width: 100%;
}
/*.m-checkbox .datatable_status_filter:after{*/
/*    top: 40% !important;*/
/*    left: 40% !important;*/
/*}*/
.m-dropdown__arrow--adjust_icon{
    margin-top: -11px !important;
}
.m-nav__item_hover_design{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #4c4c4c !important;
    text-align: center;
}
.m-nav__item_hover_design a:hover{
    background-color: #ffe795;
    border-radius: 20px;
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #4c4c4c !important;
    text-align: center;
}
.m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-arrow, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-icon, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-arrow, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-icon, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-text{
    color: #4c4c4c !important;
}
.invoices_dropdown{
    width: auto !important;
    height: auto !important;
}
.search_input_datatable{
    width: 280px;
    height: 48px;
    border-radius: 28px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
.m-input-icon_datatable{
    width: auto;
    float: right;
}
.filter-option-inner{
    line-height: 1.8;
}
.jump_to_div{
    width: 30%;
}
.pagination_dropdown{
    width: 94px !important;
    height: 48px !important;
}
.table{
    padding: 1rem;
}
.odd{
    background-color: rgba(216, 216, 216, 0.2);
}
.even{
    background-color: white;
}
.badge{
    width: 93px;
    height: 32px;
    padding: 0 !important;
    border-radius: 20px;
    /*border-radius: 15px;*/
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.paid{
    background-color: #76deae;
}
.pending{
    background-color: #77c5ef;
}
.draft{
    background-color: #dcdada;
    color: #828282;
}
.past_due{
    background-color: #f77474;
}
.canceled{
    background-color: #9fa2a7;
}
.table-bordered td, .table-bordered th{
    border: transparent;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.55rem + 2px) !important;
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
.show_record_number_datatable{
    font-family: 'Open Sans',Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
.dataTables_pager{
    display: -webkit-inline-flex;
}
.page-item.active .page-link{
    width: 32px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #777777;
    border-color: #777777;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: white;
}
.page-link{
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: #4c4c4c;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
}
.jump_to{
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: right;
    /*text-align: left;*/
    color: rgba(0, 0, 0, 0.5);
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100%;
}
.dropdown-toggle{
    width: 100% !important;
}
.bootstrap-select .dropdown-menu{
    width: 100% !important;
    z-index: 9;
}
.dropdown-menu{
    border-radius: 8px!important;
    max-height: 452.547px;
    overflow: hidden;
    min-height: 0px;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    /*transform: translate3d(0px, 37px, 0px);*/
}
.dropdown-menu.show{
}
.bootstrap-select .dropdown-menu.inner > li.selected > a, .bootstrap-select .dropdown-menu.inner > li:hover > a{
    border-radius: 24px;
    background-color: #ffd95a;
}
.paginate_button a:hover{
    color: #4c4c4c;
}
.filter{
    padding: 0;
    position: relative;
    right: 0;
    width: 110px;
    height: 40px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
}
.status_drop_down{
    width: 190px !important;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    height: auto !important;
}
.m-dropdown__wrapper{
    z-index: 101;
}
.filter .m-dropdown .m-dropdown--inline .m-dropdown--arrow .m-dropdown--align-right{
    background-color: transparent;
    border-radius: 25px;
}
.status_text{
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.action_dropdown{
    width: 147px !important;
}
.drop_down_width{
    width: 5.2vw !important;
}
.first_last{
    width: 74px;
    /*width: 71px;*/
    height: 32px;
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
}
.merchant_invoices_bg{
    /*min-width: 1216px;*/
    min-height: 190px;
    border-radius: 8px;
    background-image: linear-gradient(333deg, #ffe800 63%, #ffda00 29%);
}
.merchant_name p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: 0.48px;
    text-align: center;
    color: #4c4c4c;
}
.pay_with p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.58px;
    text-align: left;
    color: #4c4c4c;
}
.selection_box{
    min-height: 478px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2%;
}
.product_box{
    height: 478px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 6%;
}
.invoices_box {
    border-radius: 8px 0px 0px 8px;
    background-color: #f7f7f7;
    padding: 13px 17px 13px 17px;
}
.invoices_box_2 {
    border-radius: 0px 8px 8px 0px;
    background-color: #f7f7f7;
    padding: 13px 17px 13px 17px;
    border-right: 6px solid #35bab6;
}
.invoices_box .placeholder {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.invoices_box_2 .price{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.36px;
    text-align: right;
    color: #707070;
}
.btn_quick_card{
    width: 190px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.merchant_hr{
    width: 100%;
}

/*------- Invoices css End-------*/

/*------- Customer List Start-------*/
.customer_link{
    color: #35bab6;
    text-decoration: underline;
}
/*------- Customer List End-------*/

/*------- Charge Backs End-------*/
.charge_back_widget{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
.icon-div {
    padding: 10px 0px;
    text-align: center;
    border-radius: 4px;
    height: 56px;
    background-color: #f1f1f1;
}
.small_chargeback{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 2.5;*/
    letter-spacing: normal;
    text-align: left;
    color: rgba(112, 112, 112, 0.7);
}
.price_chargeback{
    font-family: "Open Sans",Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.dispute{
    background-color: #ffd95a;
    color: #4c4c4c;
}
.charge_back_badge{
    width: 140px;
    height: 32px;
}
.flaticon-interface-2{
    line-height: 2.1;
}
/*------- Charge Backs End-------*/

/*------- Exported start-------*/
.failed{
    background-color: #828282;
}
.new_message tbody tr td .new{
    width: 30px;
    height: 16px;
    border-radius: 8px;
    background-color: #d45858;
    font-family: "Open Sans",Sans-Serif;
    font-size: 8px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    /*line-height: 3.75;*/
    letter-spacing: 0.16px;
    text-align: center;
    color: #ffffff;
}
/*------- Exported End-------*/

/*------- Profile Start-------*/
.cutom_tootltip{
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff !important;
}
.m-tooltip.tooltip .tooltip-inner {
    /*font-size: 16px;*/
    padding: 7px !important;
    border-radius: 5px !important;
    min-width: 55px;
    height: 35.3px;
    background-color: #4c4c4c !important;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff !important;
}

/*------- Exported End-------*/

/*------- Funding Start-------*/
.label_funding{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c !important;
}
.select_account button{
    height: 48px !important;
    border-radius: 25px !important;
}
.search_exported{
    width: 111px;
    height: 48px;
    border-radius: 28px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
/*------- Funding End-------*/

/*------- Reserve Transaction End-------*/
.btn-exported{
    width: 149px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
}
.btn-exported-text{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.approved_badge_reserve{
    width: 142px;
    height: 32px;
    border-radius: 25px;
    background-color: #76deae;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.refund_badge{
    width: 142px;
    height: 32px;
    border-radius: 25px;
    background-color: #f77474;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.partial_refund{
    width: 142px;
    height: 32px;
    border-radius: 25px;
    background-color: #77c5ef;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.cr_approved{
    width: 48px;
    height: 32px;
    border-radius: 25px;
    /*border-radius: 15px;*/
    background-color: #76deae;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.cr_approved:hover,.cr_rejected:hover,.cr_default:hover,.cr_expired:hover{
    text-decoration: none;
}
.cr_rejected{
    width: 48px;
    height: 32px;
    border-radius: 25px;
    background-color: #f77474;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.cr_default{
    width: 48px;
    height: 32px;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffd95a;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
.for_day_left{
    font-family: "Open Sans",Sans-Serif;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #f77474;
}
.cr_expired{
    width: 48px;
    height: 32px;
    border-radius: 25px;
    background-color: #9fa2a7;
    font-family: "Open Sans",Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.block_icon{
    width: 48px;
    height: 32px;
}
.btn-search_table_head{
    width: 149px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.transaction_type{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}

/*------- Reserve Transaction End-------*/

/*------- Contact Info Start-------*/
.contact_info{
    font-family: "Open Sans",Sans-Serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.contact_info_box{
    width: 584px;
    height: 224px;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
}
.email_detail{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 0;
}
.contact_detail{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
/*------- Contact Info End-------*/

/*------- Accounts Start-------*/
.transaction_detail{
    /*min-width: 704px;*/
    min-height: 243px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 2%;
}
.transaction_heading{
    font-family: "Open Sans",Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: 0.24px;
    text-align: left;
    color: #4c4c4c;
}
.transaction_hr{
    width: 100%;
}
.customer_name_phone{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
    margin-bottom: 0;
}
.customer_detail_phone{
    font-family: "Open Sans",Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
    margin-bottom: 0;
}
.email_wallet{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 0;
}
.email_wallet span{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 0;
}
.customer_detail_phone span{
    font-weight: normal;
}
.product_detail_transaction{
    /*min-width: 496px;*/
    min-height: 645px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 4%;
}
.gateway_credit_card_info{
    /*min-width: 340px;*/
    min-height: 374px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 4%;
}
.product_heading{
    font-family: "Open Sans",Sans-Serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.18px;
    text-align: left;
    color: #777777;
}
.product_numbers{
    min-width: 40px;
    min-height: 32px;
    border-radius: 15px;
    background-color: #ffd95a;
}
.product_numbers p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    /*line-height: 1.71;*/
    letter-spacing: 1.4px;
    text-align: center;
    color: #4c4c4c;
    margin-bottom: 0;
}
.product_name p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.14px;
    text-align: left;
    color: #4c4c4c;
}
.product_price p{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.14px;
    text-align: right;
    color: #4c4c4c;
    padding-right: .5rem;
}
.tx_amount{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
.tx_numbers{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: 0.22px;
    text-align: right;
    color: #777777;
}
.left-total-fund {
    border-radius: 8px 0px 0px 8px;
    background-color: #f7f7f7;
    border-left: 6px solid #ffd95a;
    padding: 13px 25px 13px 17px;
}
.right-total-fund {
    border-radius: 0px 8px 8px 0px;
    background-color: #ffd95a;
    padding: 13px 25px 13px 17px;
}
.total_amount{
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.price_transaction{
    font-family: "Open Sans",Sans-Serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    /*line-height: 2;*/
    letter-spacing: 0.32px;
    text-align: right;
    color: #4c4c4c;
}
.product_listing_transaction{
    min-height: 250px;
    max-height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.product_listing_transaction::-webkit-scrollbar-track
{
    border-radius: 10px;
}
.product_listing_transaction::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.product_listing_transaction::-webkit-scrollbar-thumb
{
    border-radius: 40px;
    background-color: #919191;
}
.gateway{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    /*line-height: 2.14;*/
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
    padding: 1%;
    margin-bottom: 0;
}
.quickcard{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: 0.22px;
    text-align: right;
    color: #777777;
    padding: 1%;
    margin-bottom: 0;
}
.quickcard span{
    color: #35bab6;
    text-decoration: underline;
}
.gateway_credit_card_info .odd{
    border-radius: 8px;
}
.risk_analysis_box{
    /*min-width: 1224px;*/
    min-height: 776px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 1%;
}
.risk_heading{
    font-family: "Open Sans",Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: 0.24px;
    text-align: left;
    color: #4c4c4c;
}
.ip_address{
    font-family: "Open Sans",Sans-Serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.18px;
    text-align: left;
    color: #777777;
}
.dots_text{
    font-family: "Open Sans",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.btn_refund_transaction{
    width: 111px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #d45858;
    background-color: #d45858;
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #ffffff !important;
}
.btn_accepted_transaction{
    width: 111px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
/*------- Accounts End-------*/

/*------- Fixing Start-------*/
.echecks_modal{
    /*width: 840px;*/
    min-height: 85px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-left: 6px solid #d45858;
    padding: 2%;
}
.important_note_echecks{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #d45858;
    margin-bottom: 0;
}
.important_note_echecks span{
    font-weight: normal;
}
.calender_image{
    width: 48px;
    height: 40px;
    object-fit: contain;
}
.btn_transfer_fund{
    width: 171px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5 !important;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
@media (min-width: 105px){
    .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-aside-right, .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-wrapper {
        margin-bottom: 0 !important;
    }
}
@media screen and (max-width: 3000px) and (min-width: 2001px){
    .modal-range
    {
        top: 28% !important;
        right: 26% !important;
        left: 33% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 24.5% !important;*/
    /*}*/
}
@media screen and (max-width: 2000px) and (min-width: 1901px){
    .modal-range
    {
        top: 28% !important;
        right: 25% !important;
        left: 32% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 29.5% !important;*/
    /*}*/
}
@media screen and (max-width: 1900px) and (min-width: 1801px){
    .modal-range
    {
        top: 28% !important;
        right: 23% !important;
        left: 31% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 26.5% !important;*/
    /*}*/
}
@media screen and (max-width: 1800px) and (min-width: 1701px){
    .modal-range
    {
        top: 28% !important;
        right: 22% !important;
        left: 30% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 27.5% !important;*/
    /*}*/
}
@media screen and (max-width: 1700px) and (min-width: 1685px){
    .modal-range
    {
        top: 28% !important;
        right: 21% !important;
        left: 29% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 29% !important;*/
    /*}*/
}
@media screen and (max-width: 1684px) and (min-width: 1680px){
    .modal-range
    {
        top: 28% !important;
        right: 21% !important;
        left: 29% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 30.6% !important;*/
    /*}*/
}
@media screen and (max-width: 1679px) and (min-width: 1601px){
    .modal-range
    {
        top: 28% !important;
        right: 21% !important;
        left: 29% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 29% !important;*/
    /*}*/
}
@media screen and (max-width: 1600px) and (min-width: 1501px){
    .modal-range
    {
        top: 28% !important;
        right: 19% !important;
        left: 27.5% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 30% !important;*/
    /*}*/
}
@media screen and (max-width: 1500px) and (min-width: 1400px){
    .modal-range
    {
        top: 28% !important;
        right: 17% !important;
        left: 26% !important;
    }
    .daterangepicker .ranges .range_inputs {
        right: 29% !important;
    }
}
@media screen and (max-width: 1399px) and (min-width: 1300px){
    .modal-range
    {
        top: 28% !important;
        right: 13% !important;
        left: 24% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*    right: 31.5% !important;*/
    /*}*/
}
@media screen and (max-width: 1299px) and (min-width: 1200px){
    .modal-range
    {
        top: 28% !important;
        right: 10% !important;
        left: 21% !important;
    }
    /*.daterangepicker .ranges .range_inputs {*/
    /*!*    right: 32.5% !important;*!*/
    /*!*}*!*/

}
.export_button{
    position: absolute;
    right: 0;
}
.export-chargeback{
    width: 133px;
    height: 48px;
    border-radius: 24px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.credit_card_images{
    width: 97%;
}
.card_number_image{
    padding: 1rem 1.2rem !important;
}
.charge_back_table{
    background-color: white;
}
.charge_back_table.table td, .charge_back_table.table th{
    border-top: transparent;
}
.charge_back_table table thead tr th{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 2.86;*/
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.case_th{
    width: 8%;
}
.account_th{
    width: 12%;
}
.charge_back_hover:hover{
    border: 3px solid #ffda00;
    margin-top: 2%;
}
.datatable{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.table-bordered {
    border: unset;
}
.padding-top-20{
    padding-top: 20px !important;
}
.padding-top-15{
    padding-top: 15px !important;
}
.padding-bottom-20{
    padding-bottom: 20px !important;
}

.padding-bottom-15{
    padding-bottom: 15px !important;
}
/*end changes*/
#ach_detail .modal-header, #p2c_detail .modal-header,#echeck_detail .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    padding: 20px 32px 5px 32px !important;
}
.ach_heading{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
.sub_name{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.btn_ach_close{
    width: 91px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.select_card{
    background-color: #fff;
    height: 48px !important;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    border: 2px solid #ebedf2;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
    width: 100%;
}
.select_card:disabled,.agree_btn:disabled{
    background-color: #efefef !important
}
.detail_partener:hover,.detail_partener:focus{
    text-decoration: none;
}
/*------- fixing End-------*/

/*------- Welcome start-------*/
.term_services_welcome{
    width: 808px;
    min-height: 3132px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 48px 40px;
}
.term_of_service{
    font-family: 'Open Sans',sans-serif;
    font-size: 31px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffa701;
}
.send_email_term{
    width: 153px;
    height: 32px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.send_email_term:hover{
    text-decoration: none;
}
.welcome_hr{
    opacity: 0.2;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.para_term{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.first{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.32px;
}
.second{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.19px;
    color: #ffa701;
}
.third{
    font-weight: bold;
}
.four{
    color: #35bab6;
}
.agree_btn{
    width: 100px;
    /*height: 32px;*/
    font-family: 'Open Sans',sans-serif;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffd95a;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 2;*/
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
.mail_box_first,.mail_box_second{
    padding: 24px;
}
.first_heading{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 2;*/
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
.m-profile-input:focus{
    border:2px solid rgb(53, 186, 182) !important;
}
#mobile_phone_error,#email_error{
    display: none;
}
.responsive-profiles-label{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left !important;
    color: #4c4c4c;
}
.btn_send{
    width: 100px;
    font-family: 'Open Sans',sans-serif;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffd95a;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
.another_email{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
    text-decoration: underline;
}
.mail_box_second{
    display: none;
}
.m-wizard.m-wizard--2 .m-wizard__head{
    padding: 0 !important;
}
.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress{
    width: 100% !important;
}
.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step {
    width: auto !important;
    padding: 0 !important;
}
.welcome_faq{
    width: 808px;
    min-height: 749px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 24px;
}
.faq_heading{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
.nav-pills{
    float: left;
    display: block;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    width: 245px;
    min-height: 80px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 3px #ffd95a;
    background-color: transparent !important;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c !important;
}
.bulk_check_box{
    min-width: 1223px;
    min-height: 186px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 24px;
}
.bulk_check_heading{
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.38px;
    text-align: left;
    color: #4c4c4c;
}
.bulk_check_hr{
    width: 100%;
}
.account_detail_bulk{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    /*line-height: 1.38;*/
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.balance_div{
    width: 254px;
    min-height: 48px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
    background-color: #f7f7f7;
    border-right: 6px solid #35bab6;
    padding: 14px;
}
.balance_bulk{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4c4c4c;
}
.amount_bulk{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.18px;
    text-align: right;
    color: #4c4c4c;
}
.btn-status{
    width: 110px;
    height: 40px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-size: 14px;
    /*font-weight: normal;*/
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.btn-status:focus{
    background-color: #ffd95a;
}
.status_drop_down_new{
    width: 160px;
    min-height: 261px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    padding: 17px;
    margin-top: 3%;
    border-radius: 4px;
}
/*.m-checkbox > span:after{*/
/*    top: 40%;*/
/*    left: 40%;*/
/*}*/
.m-checkbox_chargeback > span:after{
    top: 50%;
    left: 50%;
}
.icon_charge_back{
    line-height: 0 !important;
    font-size: 16px;
}
/*------- Welcome End-------*/

/*------- Charge back save draft start -------*/
.save_draft{
    height: 145px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
.total_own{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 2.5;*/
    letter-spacing: normal;
    text-align: left;
    color: rgba(112, 112, 112, 0.7);
    margin-bottom: 0;
}
.total_own_price{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.progress_save_draft{
    border-radius: 16px;
    border: solid 1px #aeaeae !important;
    background-color: #f7f7f7 !important;
    padding: 1.5px;
}
.m--bg-draft{
    border-radius: 8px;
    background-color: #76deae;
    width: 50%;
}
.hover_draft_heading{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(112, 112, 112, 0.7);
}
.span_text{
    font-family: 'Open Sans',sans-serif !important;
}
/*------- Charge back save draft End -------*/

/*------- virtual terminal card start -------*/
/*#cardNo1{*/
/*    position: absolute;*/
/*    top: 28%;*/
/*    left: 8%;*/
/*    letter-spacing: 5px;*/
/*    width: 130%;*/
/*    background: transparent;*/
/*    border: 0;*/
/*    font-family: 'Source Sans Pro',sans-serif;*/
/*    font-size: 20px;*/
/*    font-weight: normal;*/
/*    font-stretch: normal;*/
/*    font-style: normal;*/
/*    line-height: 0.9;*/
/*    text-align: left;*/
/*    color: rgba(255, 255, 255, 0.85);*/
/*}*/
/*.credit-user-name{*/
/*    position: absolute;*/
/*    top: 40%;*/
/*    left: 8%;*/
/*    font-family: 'Source Sans Pro',sans-serif;*/
/*    font-size: 12px;*/
/*    font-weight: 300;*/
/*    font-stretch: normal;*/
/*    font-style: normal;*/
/*    line-height: 1.5;*/
/*    letter-spacing: 0.22px;*/
/*    text-align: left;*/
/*    color: rgba(255, 255, 255, 0.85);*/
/*}*/
/*.date-exp{*/
/*    position: absolute;*/
/*    top: 40%;*/
/*    left: 52%;*/
/*    font-family: 'Source Sans Pro',sans-serif;*/
/*    font-size: 17px;*/
/*    font-weight: 600;*/
/*    font-stretch: normal;*/
/*    font-style: normal;*/
/*    line-height: 1.06;*/
/*    letter-spacing: normal;*/
/*    text-align: right;*/
/*    color: rgba(255, 255, 255, 0.85);*/
/*}*/

/*------- virtual terminal card End -------*/

/*---------System Maintenance Msg Modal ---------*/
#maintenance-modal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#maintenance-modal .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    position: relative;
    right: 14px;
}
#maintenance-modal .whoops{
    font-size: 36px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #35bab6;
}
#maintenance-modal .wrong-here {
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
#maintenance-modal .following-text{
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
#maintenance-modal .error-body{
    width: 516px;
    height: 143px;
    border-radius: 8px;
    background-color: #ffffff;
}
#maintenance-modal .ERROR-3003 {
    height: 33px;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.38px;
    text-align: center;
    color: #4c4c4c;
    padding-top: 30px;
}
#maintenance-modal .error-box{
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    padding-top: 24px;
}
#maintenance-modal .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#maintenance-modal .contact--info {
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4c4c4c;
}
#maintenance-modal .phone-icon{
    width: 48px;
    height: 48px;
    object-fit: contain;
    text-align: right;
}
#maintenance-modal .Merchant-Support {
    width: 136px;
    height: 4px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-left: -5px;
}
#maintenance-modal .right-phone
{
    margin-left: 69px;
}
#maintenance-modal .copy-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4c4c4c;
    margin-left: 10px;
}
#maintenance-modal .clock-align{
    margin-left: 0px;
}
#maintenance-modal .Available-from {
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-left: -15px;
}
#maintenance-modal .time-error {
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-left: -15px;
}
#maintenance-modal .log_out_maint{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
/*----------System Maintenance modal End ------------*/

/*----------profile page update start ------------*/
.btn-update-profile{
    width: 150px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.gift_card_back{
    width: 111px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
/*----------profile page update End ------------*/

/*----------invoices modal preview start ------------*/
.Billing-Info {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}
.Customer-Address {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
    margin-bottom: 8px;
}
.Nowhere-Blvd {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: #777777;
    margin-bottom: 8px;
}
.Memo-text{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}
/*----------invoices modal preview End ------------*/

/*---------- new merchant design start ------------*/
.sub_total_name{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
    margin-bottom: 1rem;
}
.sub_total_value{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: #777777;
    margin-bottom: 1rem;
}
.last_text{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
    margin-top: 1rem;
}
.last_text span{
    color: #35bab6;
    text-decoration: underline;
}
.select_box_height{
    min-height: 360px;
    max-height: 360px;
}
/*---------- new merchant design end ------------*/

/*---------- virtual terminal card div start ------------*/
.card_box{
    width: 288px;
    height: 169px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(122deg, #040404 -2%, #414148 94%);
    margin-top: 8rem;
}
.VALID-THRU {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}
.dots{
    letter-spacing: 6px;
    width: 100%;
    background: transparent;
    border: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
}
.credit-user-name{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.22px;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
}
.date-exp{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}
.m-switch.m-switch--primary:not(.m-switch--outline) input:empty ~ span:after {
    opacity: 1 !important;
}
/*---------- virtual terminal card div end ------------*/

/*------------Permissions Create CSS Start----------*/
.new_permissions_box{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 24px;
}
.m-checkbox.m-checkbox--state-brand.permissions_checkbox > input:checked ~ span{
    border: 2px solid #ffbb01 !important;
}
.m-checkbox.m-checkbox--state-brand.permissions_checkbox > input:hover ~ span{
    border: 2px solid #ffbb01 !important;
}
ul{
    list-style-type: none;
}
.nested{
    border-left: 3px solid #dedede;
    margin-left: 8px;
    padding-left: 23px;
}
.simple_checks{
    font-weight: normal !important;
}
_design
.btn_create_permission{
    width: 195px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #e8e8e8;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #adadad;
    margin-left: 37%;
}
.l_shape{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 33.5%;
    left: 57px;
}
.l_shape_1{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 41%;
    left: 57px;
}
.l_shape_2{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 48.5%;
    left: 57px;
}
.l_shape_3{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 56%;
    left: 57px;
}
.l_shape_4{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 57.5%;
    left: 57px;
}
.l_shape_5{
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 65%;
    left: 57px;
}
.back_to_permission_list{
    width: 251px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    float: right;
}
.Update_Permission{
    width: 251px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.Accounting_Team_back{
    width: 250px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    margin-left: 35%;
}
/*------------Permissions Create CSS End----------*/

/*------------Transaction Detail New Design CSS Start----------*/
.transaction_detail_box{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffffff;
    margin-bottom: 3rem;
    padding: 24px;
}
.customer_info_box{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding:24px;
}
/*------------Transaction Detail New Design CSS End----------*/

/*------------ New transaction Detail Design CSS start----------*/
.mb-24{
    margin-bottom: 24px;
}
.page-title_transaction{
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 1.11;*/
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.risk_refund_button{
    font-family: "Open Sans", sans-serif;
    width: 126px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #d45858;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #ffffff;
}

.risk_accept_button{
    font-family: "Open Sans", sans-serif;
    width: 126px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.events-button_transaction{
    font-family: "Open Sans", sans-serif;
    width: 108px;
    height: 48px;
    border-radius: 120px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a !important;
    background-color: #ffffff !important;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(216, 216, 216, 0.2);
    border-radius: 4px;
}

.simple-12-bold-4c4c4c{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #4c4c4c;
}

.risk-score{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffa701;
}

.risk_dots_text{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}

.simple-18-bold-4c4c4c{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}

.go_to_risk_analysis_text{
    font-family: "Open Sans", sans-serif;
    width: 188px;
    height: 48px;
    border-radius: 120px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    bottom: 4em;
    right: 2em;
}
.display-flex{
    display: flex;
}
.risk-product-details{
    margin-top: 10px;
    border-radius: 4px;
    background-color: rgba(216, 216, 216, 0.2);
}

.risk-odd-product-details{
    margin-top: 10px;
    border-radius: 4px;
}

.box-padding{
    padding: 16px 0px 0px 0px;
}
.position-22{
    position: relative;
    left: 22px;
}



.green-progress-bar{
    width: 210px !important;
    height: 16px !important;
    border-radius: 8px;
    border: solid 1px #ffffff;
    background-color: #00cc6e;
}
.orange-progress-bar{
    margin-left: 10px;
    width: 134px !important;
    height: 16px !important;
    border-radius: 8px;
    border: solid 1px #ffffff;
    background-color: #ffa701;
}
.pink-progress-bar{
    width: 75px !important;
    height: 16px!important;
    border-radius: 8px;
    border: solid 1px #ffffff;
    background-color: rgba(255, 167, 1, 0.25);
}

.dark-pink-progress-bar{
    margin-left: 10px;
    width: 215px !important;
    height: 16px !important;
    border-radius: 8px;
    border: solid 1px #ffffff;
    background-color: rgba(212, 88, 88, 0.25);
}

.progress_bar_toggle{
    position: absolute;
    left: 50%;
    top: 6.5%;
}
.risk_analysis_progress_bar{
    width: 654px;
    height: 24px;
    border-radius: 81px;
    -webkit-backdrop-filter: blur(30px);
    border: solid 1px #e8e8e8;
    background-color: #f7f7f7;
}

.risk_analysis_progress_bar .progress-bar{
    margin-top: 3px;
    margin-left: 3px;
}
.position-2x{
    position: relative;
    top: 2px;
}
.position-right-22{
    position: relative;
    right: 22px;
}
.simple-24-bold-text-dark span{
    color: #d45858;
}
.risk_imp_note{
    height: 201px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 24px;
    border-left: 8px solid #ffd95a;
}
.risk_note_heading{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: 0.26px;
    text-align: left;
    color: #4a4a4a;
}
.risk_note_detail{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
.transaction_heading_risk{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 0;
}
.transaction_bottom_risk{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
.Payment-Information{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.16px;
    text-align: left;
    color: #adadad;
}
.Total_Amount_risk{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
.Total_Amount_risk_number{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.22px;
    text-align: right;
    color: #4c4c4c;
}
.Total_Amount_risk_red{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.22px;
    text-align: right;
    color: #f77474;
}
.Total_Net_risk{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
.card_info_name{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 0;
}
.card_info_user_name{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.22px;
    text-align: left;
    color: #4c4c4c;
}
.bottom_hr{
    border-top: 2px solid #adadad;
    width: 100%;
}
.transaction_product_box{
    height: 300px;
    overflow: hidden;
    padding-right: 20px;
}
.transaction_product_box:hover{
    overflow-y: scroll;
}
.transaction_product_box::-webkit-scrollbar-track
{
    border-radius: 10px;
}
.transaction_product_box::-webkit-scrollbar
{
    width: 5px;
    background-color: transparent;
}

.transaction_product_box::-webkit-scrollbar-thumb
{
    border-radius: 40px;
    background-color: #919191;
}
/*------------New transaction Detail Design CSS End----------*/
