.email-parent-div{
  width: 640px;
  height: 1618px;
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  padding: 32px;
}

.bg-ffd95a{
  background-color:#ffd95a;
  padding: 26px;
  background-image: url("../merchant/email_bg.svg");
  height: 205px;
}