@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

:root{
  --black-70:rgba(0,0,0,0.7);
  --brown-grey: #adadad;
  --white-two: #ffffff;
  --black-50: rgba(0, 0, 0, 0.5);
  --tealish: #35bab6;
}
body{
  font-family: "Open Sans",sans-serif !important;
}
#password_show{
  margin-top: 2rem;
}
#password{
  font-size: 1rem !important;
}

.try-another-acc{
  background: none;
  border: 0px !important;
}
.margin-top-5{
  margin-top: 5%;
}
.link-font-size{
  font-size: 12px !important;
}
.cursor-pointer{
  cursor: pointer;
}
.two-step-field{
  margin-top: 10%;
  margin-bottom: 5%;
  width: 296px;
}
.background_image{
  background-color: #f6f6f6;
  background-image: url("../../../assets/images/merchant/new_login_gray_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile_logo{
  display: none;
}
.desktop_logo{
  display: inline-block;
}
.m-login__title{
  font-family: "Open Sans",sans-serif;
  font-size: 1rem !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.8px;
  text-align: center !important;
  color: var(--black-70) !important;
}

.m-login__title span{
  font-weight: bold;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control{
  background: var(--white-two) !important;
  color: var(--black-70) !important;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control::placeholder{
  background-color: var(--white-two) !important;
  color: #000000 !important;
  opacity: 0.2;

}
.z_cart_logo{
  margin-top: 30%;
}
.m-login.m-login--2 .m-login__wrapper{
  padding: 10rem 2rem 2rem 2rem !important;
}

.label_text{
  font-family: "Open Sans",sans-serif;
  font-size: 1em !important;
  font-weight: bold !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: left;
  color: #4a4a4a;
  //color: var(--black-50);
  margin-left: 3%;
}
.m-form__group{
  margin-bottom: 10% !important;
  max-width: 360px;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary{
  background-color: #35bab6 !important;
  font-family: "Open Sans",sans-serif;
  font-size: 1em !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: var(--white-two);
  border-color: #35bab6 !important;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn{
  padding: 0 !important;
}
.m--align-right{
  text-align: center;
}
.m-link{
  font-family: "Open Sans",sans-serif;
  font-size: 0.750em !important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 0.19px;
  color: var(--black-50) !important;
  text-decoration: underline;
}
.term_service a{
  font-family: "Open Sans",sans-serif;
  font-size: 0.875em !important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.22px;
  color: rgba(40, 40, 40, 0.5) !important;
  text-decoration: underline;
}
.term_service{
  text-align: center;
}
.powerd_by{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1em !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-50);
}
.term-div{
  position: absolute;
  bottom: 2%;
  left: 48%;
}
.term_service_text{
  width: 68vw;
  padding-left: 10%;
  padding-top: 5%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  clip-path: polygon(92% 0%, 0% 0%, 0% 692%);
  z-index: 11;
  opacity: 0.9;
}

.term_service_heading{
  margin: 1.5em 0;
  font-family: "Open Sans",sans-serif;
  font-size: 2em !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-70);

}
.term_service_body{
  font-family: "Open Sans",sans-serif;
  font-size: 1em !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-70);
  min-height: 250px;
  max-height: 600px;
  overflow: auto;
  padding-right: 2%;
}
.term_service_body::-webkit-scrollbar{
  width: 10px;
}
/* Handle */
.term_service_body::-webkit-scrollbar-thumb{
  background: #BBBBBB;
  border-radius: 5px;
  opacity: .8;

}

/* Handle on hover */
.term_service_body::-webkit-scrollbar-thumb{
  background: #BBBBBB;
  opacity:1;
  cursor: pointer;
}

#alert-message{
  width: 100%;
  border-radius: 8px;
  border: 2px solid #d45858;
  background-color: #ffffff;
  display: none;
  justify-content: flex-start;
}
.alert-text{
  color: #d45858;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  margin-top: 1rem;
  text-align: center;
}

#alert-message.show {
  display: flex;
}

/*#close-alert-message{*/
/*position: relative;*/
/*left: 40rem;*/
/*bottom: 2rem;*/
/*}*/
.email_alert{
  width: 629px;
  height: 80px;
  position: absolute;
  border-radius: 8px !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  left: 35%;
  top:10%;
  z-index: 111;

}
/*.alert.m-alert--icon .m-alert__icon{*/
/*padding: 0 1% 0 2%;*/
/*}*/
.m-alert__text{
  font-family: "Open Sans",sans-serif;
  font-size: 1em !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: left;
  color: var(--black-70);
}
.alert .close{
  color: transparent !important;
}
.error-border{
  border: 2px solid rgb(212, 88, 88) !important;
}
.email_error{
  margin-left: 10px;
  color: #d45858;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 0.19px;
  text-align: left;
}
.m_login_two_step_submit {
  width: 180px !important;
  height: 48px !important;
  border-radius: 120px !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #35bab6 !important;
}

.login-error{
  font-family: "Open Sans",sans-serif;
  padding-left: 1em;
  font-size: 0.75em !important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 0.19px;
  text-align: left;
  color: #d45858;
  position: absolute;
}

.email-login-error{
  display:none;
}

.password-login-error{
  display: none;
}
.password-confirm-error{
  display: none;
}

.login-eye{
  float: right!important;
  position: relative;
  bottom: 2.5em!important;
  right: 1em!important;
}

.login-confirm-eye{
  float: right!important;
  position: relative;
  bottom: 2.5em!important;
  right: 1em!important;
}

.login-confirm-open-eye{
  float: right!important;
  position: relative;
  bottom: 2.5em!important;
  right: 1em!important;
  display: none;
}

.login-open-eye{
  float: right!important;
  position: relative;
  bottom: 2.5em!important;
  right: 1em!important;
  display: none;
}
.btn-login{
  width: 180px;
  height: 48px;
}
.m-login__form.m-form{
  width: 75% !important;
}
.form-control-feedback{
  display: none !important;
}
.btn-forgot{
  width: 230px;
  height: 48px;
}
.btn-access{
  width: 224px;
  height: 48px;
}
.input-group-append{
  position: absolute;
  right: 0;
  top: 6px;
}
.input-group-text{
  background-color: transparent !important;
  border-color: transparent !important;
}
.accepted_term{
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.22px;
  text-align: left;
  color: #282828;
}
.accepted_term span a{
  font-weight: bold;
  text-decoration: underline;
  color: #282828;
}
.m-checkbox.m-checkbox--success > span{
  border-radius: 4px ;
  border: solid 2px #707070;
}
.m-checkbox.m-checkbox--success > input:checked ~ span{
  border: solid 2px var(--tealish);
}
.m-checkbox-list{
  margin-left: 5%;
}

#m_login_signin_submit{
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #35bab6 !important;
  font-family: "Open Sans",sans-serif;
  font-size: 1em !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: var(--white-two);
  border: none;
}
.original_btn{display: none !important;}
#m_login_two_step_submit{
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #35bab6;
  font-family: "Open Sans",sans-serif;
  font-size: 1em !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: var(--white-two);
  border: none;
}

#tooltips{
  position: absolute;
  width: 243px;
  z-index: 1111;
  margin: 5px 24px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #dfdfdf;
  background-color: #ffffff;
  display: none;
  padding: 10px;
}

.password-suggesstions{
  display: flex;
  margin-bottom: 5px;
}


#tooltips .invalid{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  border: solid 1px #dfdfdf;
  /*background-color:#ffffff;*/
}

#tooltips .valid{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color:green;
  border: solid 1px #dfdfdf;
}

#tooltips .require-format{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px #dfdfdf;
}


#tooltips .pwd-suggestion-message{
  position: relative;
  bottom: 0.3em;
  left: 1em;
  font-family: "Open Sans",sans-serif;
  font-size: 0.75em !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-70);
}

#tooltips .pwd-suggestion-title{
  font-family: "Open Sans",sans-serif;
  font-size: 0.75em !important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align:left;
  color: var(--black-70);
}

.invalid .fa-times{
  color: #fff;
  position: relative;
  font-size: 10px;
  top: 1px;
  left: 0;
}

.valid .fa-check{
  color: #fff;
  position: relative;
  font-size: 10px;
  top: 1px;
  left: 0;
}

.password-suggesstions .empty{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border:solid 1px #dfdfdf;
  background-color: var(--white-two);
}

.email-input{

  font-family: "Open Sans",sans-serif;
  font-size: 1em !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: left;
  color: #000000 !important;
}

.m-login-password{

  font-family: "Open Sans",sans-serif;
  font-size: 1.5em !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: left;
  color: #000000 !important;
}

.m-confirm-password-input{
  font-family: "Open Sans",sans-serif;
  font-size: 1.5em !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: left;
  color: #000000 !important;
}

.tip:after{
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-bottom-color: #ffffff;
  border-style: solid;
  border-width: 10px;
  top:-20px;
  left:45%;
}
#email_toast{
  display: none;
}

.close_terms_services{
  margin-right: 2em;
}

.btn-reset-pass{
  width: 230px;
  height: 48px;
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--tealish);
}
.term_service_text{
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 100% !important;
}
/*//input#password {*/
/*//    border-radius: 40px !important;*/
/*//}*/
/*//input#username {*/
/*//    border-radius: 40px !important;*/
/*//}*/

.qc_loader{
  margin-top: 14%;
  height: 500px;
}


.login-bg {
  height: 100vh;
  background-image: image_url("merchant/loader.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
}
@media (max-width: 769px){
  .left-side-ipad {
    height: 100vh;
    flex:auto !important;
    max-width:100% !important;
  }
  .left-side-ipad-forgot{
    height: 100vh;
    flex:auto !important;
    max-width:100% !important;
  }

  .right-side-ipad {
    display: none;
  }

  .left-side-ipad .m--align-right .m-link{
    display: block;
    text-align: center !important;
  }
}
.bottom-power-by-gbox{
  /*//position: absolute;*/
  /*//bottom: 0 !important;*/
  padding-bottom: 1rem;
}
@media only screen and (min-width: 1280px) and (max-width: 1800px){
  .bottom-power-by-gbox .term-div{
    margin-left:20%;
  }
}
@media only screen and (min-width: 5001px) and (max-width: 6000px){
  .new_logo_design{
    position: absolute;
    bottom: 2%;
    left: 210px;
    width: 85%;
  }
  .m-login.m-login--2 .m-login__wrapper{
    margin-top: 50rem;
  }
  .m-login__form.m-form {
    width: 16% !important;
  }
  .term-div {
    position: absolute;
    bottom: 2%;
    left: 48%;
  }
  #send_code,#forgot_password_div1 {
    height: auto !important;
  }
}
@media only screen and (min-width: 3001px) and (max-width: 5000px){
  .new_logo_design{
    position: absolute;
    bottom: 2%;
    left: 210px;
    width: 85%;
  }
  .m-login.m-login--2 .m-login__wrapper{
    margin-top: 45rem;
  }
  .m-login__form.m-form {
    width: 22% !important;
  }
  .term-div {
    position: absolute;
    bottom: 2%;
    left: 48%;
  }
  #send_code,#forgot_password_div1 {
    height: auto !important;
  }
}
@media only screen and (min-width: 2560px) and (max-width: 3000px){
  .new_logo_design{
    position: absolute;
    bottom: 2%;
    left: 210px;
    width: 85%;
  }
  .m-login.m-login--2 .m-login__wrapper{
    margin-top: 16rem;
  }
  .m-login__form.m-form {
    width: 33% !important;
  }
  .term-div {
    position: absolute;
    bottom: 2%;
    left: 48%;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2000px){
  .new_logo_design{
    position: absolute;
    bottom: 0;
    left: 10%;
  }
  .m-login.m-login--2 .m-login__wrapper{
    padding: 16rem 2rem 2rem 2rem !important;
  }
  .m-login__form.m-form {
    width: 45% !important;
  }
  .rc-anchor-normal .rc-anchor-pt{
    right: 35px !important;
  }
  .term-div {
    position: absolute;
    bottom: 2%;
    left: 45%;
  }
  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form{
    margin: 4rem auto 0 auto;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1919px){
  .m-login__form.m-form {
    width: 65% !important;
  }
  .new_logo_design{
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 100%;
  }
  .term-div {
    position: absolute;
    bottom: 2%;
    left: 48%;
  }

  #login_div{
    height: 45vh;
  }
  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form{
    margin: 4rem auto 0 auto;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1599px){
  .new_logo_design{
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 100%;
  }
  .rc-anchor-normal .rc-anchor-pt{
    right: 35px !important;
  }
  .background_image{
    margin-left: -75px;
    overflow: hidden;
  }
  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
    margin: 0 auto !important;
  }
  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
    text-align: center;
    margin: 0 auto 2rem auto !important;
  }
  .term-div {
    position: absolute;
    bottom: 2%;
    left: 48%;
  }
}
@media only screen and (max-width: 1439px) and (min-width: 1331px){
  .new_logo_design{
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 100%;
  }
  .rc-anchor-normal .rc-anchor-pt{
    right: 35px !important;
  }
  .background_image{
    margin-left: -75px;
    overflow: hidden;
  }
  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
    margin: 0 auto !important;
  }
  .m-login__form.m-form {
    width: 85% !important;
  }
  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
    text-align: center;
    margin: 0 auto 2rem auto !important;
  }
  .term-div {
    position: absolute;
    bottom: 2%;
    left: 48%;
  }
  #send_code{
    margin-bottom: 6rem !important;
  }
  /*//#forgot_password_div, #forgot_password_div1,#send_code {*/
  /*//  height: 50vh !important;*/
  /*//}*/
}
@media only screen and (max-width: 1330px) and (min-width: 1200px){
  .new_logo_design{
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 100%;
  }
  .rc-anchor-normal .rc-anchor-pt{
    right: 35px !important;
  }
  .background_image{
    margin-left: -75px;
    //overflow: auto;
    //height: 107vh;
  }
  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
    margin: 0 auto !important;
  }
  .m-login__form.m-form {
    width: 85% !important;
  }
  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
    text-align: center;
    margin: 0 auto 2rem auto !important;
  }
  .term-div {
    position: absolute;
    bottom: 2%;
    left: 48%;
  }

  /*//#forgot_password_div, #forgot_password_div1,#send_code {*/
  /*//  height: 50vh !important;*/
  /*//}*/
}

.display_none{
  display: none !important;
}
.display_show{
  display: block !important;
}


/***  --------- New Login Design CSS Start --------- ***/
.welcome_text{
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.welcom_text{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 40px;
}
/*//.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {*/
/*//  margin: 0 !important;*/
/*//}*/
#forgot_password_btn:hover,#back_btn:hover{
  cursor: pointer;
  text-decoration: underline;
}
#forgot_password_btn,#back_btn{
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 0.19px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
.m-login__signin{
  margin: 0 auto;
}
.mrgn25{
  margin-top: -20px !important;
}
.width87{
  width: 90% !important;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control{
  width: 296px;
  height: 48px;
  border-radius: 25px !important;
  border: solid 2px #efefef;
  background-color: #f7f7f7;
}
.help_us_text{
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.bootstrap-select .dropdown-menu.inner > li.selected > a span.check-mark{
  display: none;
}
.bootstrap-select > .dropdown-toggle:after{
  display: none;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control{
  padding: 0rem 1rem;
}
.bootstrap-select .dropdown-menu.inner > li.selected > a {
  background: #ffd95a !important;
  font-family: "Open Sans",sans-serif;
  border-radius: 24px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  //line-height: 3.43;
  letter-spacing: 0.22px;
  text-align: left;
  color: #777777;
}
.dropdown-menu > .dropdown-item:hover, .dropdown-menu > li > a:hover{
  background: #ffd95a !important;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
  background-color: transparent !important;
  border-color: transparent !important;
}
#forgot_password_div{
  height: 50vh;
}
#forgot_password_div1{
  height: 45vh;
}
#send_code{
  margin-bottom: 5rem;
}
#reset_password{
  height: 50vh;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-light,.bootstrap-select > .dropdown-toggle{
  height: 48px;
  border: transparent !important;
}
.filter-option-inner{
  padding-top: .5rem;
}
.btn_send_code{
  width: 180px;
  height: 48px;
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  font-family: "Open Sans",sans-serif;
  background-color: #35bab6;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  //line-height: 1.38;
  line-height: 1.7;
  letter-spacing: 0.26px;
  text-align: center;
  color: #ffffff;
}
.btn_send_code:hover,.btn_send_code:focus{
  color: #ffffff;
}
.Verification_Code_label{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: left;
  color: #4a4a4a;
}
.verification_code,.confirm_text{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.btn_send_code_verfiy{
  width: 210px;
  height: 48px;
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #35bab6;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  //line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #ffffff;
}
.btn_send_code_verfiy:hover,.btn_send_code_verfiy:focus{
  color: #ffffff;
}
.resend_code{
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 0.19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}
.resend_code_email{
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 0.19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}
.link_snd a:hover{
  color: rgba(0, 0, 0, 0.5);
}
#new_password_show,#confrim_password_show{
  margin-top: 55%;
}
.new_password_text{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.verify_credentials{
  width: 210px;
  height: 48px;
  border-radius: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #35bab6;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  text-align: center;
  color: #ffffff;
}
#send_code .m-form__group{
  max-width: 296px !important;
}
#tooltips{
  position: absolute;
  width: 280px;
  z-index: 1111;
  margin: 5px 24px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #dfdfdf;
  background-color: #ffffff;
  display: none;
  padding: 10px;
}
.password-suggesstions{
  display: flex;
  margin-bottom: 5px;
}
#tooltips .invalid{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  border: solid 1px #dfdfdf;
  /*background-color:#ffffff;*/
}
#tooltips .valid{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color:green;
  border: solid 1px #dfdfdf;
}
#tooltips .require-format{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px #dfdfdf;
}
#tooltips .pwd-suggestion-message{
  position: relative;
  bottom: 0.3em;
  left: 1em;
  font-family: "Open Sans",sans-serif;
  font-size: 0.75em !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-70);
}
#tooltips .pwd-suggestion-title{
  font-family: "Open Sans",sans-serif;
  font-size: 0.75em !important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align:left;
  color: var(--black-70);
}
.invalid .fa-check{
  color: #fff;
  position: relative;
  font-size: 10px;
  margin-top: 0.10em;
}
.valid .fa-check{
  color: #fff;
  position: relative;
  font-size: 10px;
  margin-top: 0.10em;
}
.tip:after{
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-bottom-color: #ffffff;
  border-style: solid;
  border-width: 10px;
  top:-20px;
  left:45%;
}
.filter-option-inner{
  padding-bottom: 10px;
}
.m-bootstrap-select.bootstrap-select.m-bootstrap-select--pill > .dropdown-toggle{
  font-family: "Open Sans",sans-serif;
}
.hide_image {
  display: none;
}
.verification_code_text{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
#verification_code_support{
  height: 55vh;
  margin-top: 30%;
}
.forgot_password_login{
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 0.19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}
.forgot_pwd_text{
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
#reset_password_mail{
  height: 55vh;
}
.reset_password_height{
  height: 100vh;
}
.resend_confirmation_color{
  color: #f4516c !important;
}
.two_step_verification_text{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}
.two_step_verification_text span{
  font-weight: bold;
}
.resend_code_div a{
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 0.19px;
  text-align: center;
  color: #707070;
  text-decoration: underline;
}
.resend_code_div span{
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: 0.19px;
  text-align: center;
  color: #707070;
}
.resend_code_div{
  margin-top: 32px;
}
#resend_btn_email {
  display: none;
}
.m-login__logo{
  margin-bottom: 2rem !important;
}
.hide_confirm_image {
  display: none;
}

.block_account_text{
  font-family: "SegoeUI",sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
  margin-top: 80px;
  margin-bottom: 40px;
  width: 106%;
}
.block_account_text span,.block_account_text_two span,.block_account_text_three span{
  font-weight: bold;
}
.block_account_text_two{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
  margin-bottom: 40px;
}
.block_account_text_three{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
  margin-bottom: 50%;
}
.block_hide{
  display: none;
}
.block_show{
  display: block;
}
/***  --------- New Login Design CSS End --------- ***/
.bootstrap-select>.dropdown-toggle:after {
  font-family: FontAwesome !important;
  content: "\f0dd" !important;
  font-size: 19px !important;
  position: absolute !important;
}
.bootstrap-select>.dropdown-toggle.change:after {
  font-family: FontAwesome !important;
  content: "\f0de" !important;
  font-size: 19px !important;
  position: absolute !important;
}
.btn.dropdown-toggle.change:after{
  top: 1.5em;
}
.btn.dropdown-toggle:after, .nav-link.dropdown-toggle:after {
  text-align: center;
  display: inline;
  border: 0;
  font-family: "Line Awesome",sans-serif;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "";
  font-size: .8rem;
  line-height: 0;
  vertical-align: middle;
  top: 1.2em;
  position: relative;
}
