/*------- 2000 to 1901 screen resolution ---------------*/
@media screen and (max-width: 3000px) and (min-width: 1801px){
    .background_image{
        height: inherit;
    }
    .term_service_text{
        width: 65vw;
        clip-path: polygon(92% 0%, 0% 0%, 0% 1070%);
        height: auto;
    }
    .term_service_body{
        max-height: 710px;
    }
    #inbox-sidebar{
        min-height: 680px;
    }
    .inbox-messages{
        min-height: 515px;
        max-height: 515px;
    }
    .chat-sender-messages .sending-date{
        margin-right: 10.5em;
    }
    .custom_pannel{
        display: none !important;
    }
    .refund_date_text{
        width: 50%;
    }
    .logo-up {
        left: 36%;
    }
    /*#cardNo1{*/
    /*    left: 6%;*/
    /*    letter-spacing: 5.5px;*/
    /*}*/
    /*.credit-user-name{*/
    /*    left: 6%;*/
    /*}*/
    /*.date-exp{*/
    /*    left: 39%;*/
    /*}*/

}
/*------- 1800 to 1601 screen resolution ---------------*/
@media screen and (max-width: 1800px) and (min-width: 1601px){
    .m-portlet{
        margin-bottom: 0;
    }
    .Billing-Address,.Billing-Address-trans{
        margin-left: 32px;
    }

    .custom_pannel{
        display: none !important;
    }
    .right_side_div{
        max-width: 98.66667% !important;
        flex: 0 0 96.6667% !important;
    }
    .email_alert{
        left: 20%;
    }
    .m-login.m-login--2{
        margin-left: 15%;
        margin-top: 5%;
    }
    .cancel_vl {
        height: 228px !important;
    }
    .cancel_full_vl {
        height: 185px !important;
    }
    .custom_pannel{
        display: none !important;
    }
    .term_service_text{
        clip-path: polygon(92% 0%, 0% 0%, 0% 860%);
    }
    .term_service_body{
        max-height: 625px;
    }
    .waiting_vl{
        height: 80px !important;
    }
    .full_refund_vl {
        height: 198px !important;
    }
    .cancel_partial_vl {
        height: 230px !important;
    }
    .agreement_vl {
        height: 170px !important;
    }
    .counter_offer_vl {
        height: 140px;
    }
    .vl_accept_dec {
        height: 240px;
    }

}

/*------- 1600 to 1401 screen resolution ---------------*/
@media screen and (max-width: 1600px) and (min-width: 1401px){
    .m-portlet{
        margin-bottom: 0;
    }
    .Billing-Address,.Billing-Address-trans{
        margin-left: 32px;
    }

    .custom_pannel{
        display: none !important;
    }
    .right_side_div{
        max-width: 98.66667% !important;
        flex: 0 0 96.6667% !important;
    }
    .email_alert{
        left: 20%;
    }
    .m-login.m-login--2{
        margin-left: 15%;
        margin-top: 5%;
    }
    .cancel_vl {
        height: 228px !important;
    }
    .cancel_full_vl {
        height: 185px !important;
    }
    .custom_pannel{
        display: none !important;
    }
    .term_service_text{
        clip-path: polygon(92% 0%, 0% 0%, 0% 860%);
    }
    .term_service_body{
        max-height: 625px;
    }
    .waiting_vl{
        height: 80px !important;
    }
    .full_refund_vl {
        height: 198px !important;
    }
    .cancel_partial_vl {
        height: 230px !important;
    }
    .agreement_vl {
        height: 170px !important;
    }
    .counter_offer_vl {
        height: 140px;
    }
    .vl_accept_dec {
        height: 240px;
    }

}

/*------- 1400 to 1351 screen resolution ---------------*/
@media screen and (max-width: 1400px) and (min-width: 1351px){
    .m-portlet{
        margin-bottom: 0;
    }
    .full_refund_vl {
        height: 190px;
    }
    .waiting_vl{
        height: 80px;
    }
    .form-group-width{
        width: 35% !important;
    }
    .form-group-refund-width{
        width: 35% !important;
    }
    .Billing-Address,.Billing-Address-trans{
        margin-left: 32px;
    }
    .product_lists_cancel{
        height: auto;
    }
    .long-product-cancel{
        margin-left: 2%;
    }
    .side_bar_line{
        max-width: 1.3333% !important;
        flex: 1.333% !important;
    }
    .right_side_div{
        max-width: 95.66667% !important;
        flex: 0 0 96.6667% !important;
    }
    .email_alert{
        left: 20%;
    }
    .m-login.m-login--2{
        margin-left: 15%;
        margin-top: 5%;
    }
    .cancel_full_vl {
        height: 185px;
    }
    .custom_pannel{
        display: none !important;
    }
    .term_service_text{
        clip-path: polygon(92% 0%, 0% 0%, 0% 860%);
    }
    .term_service_body{
        max-height: 625px;
    }
    .forgot_term_service_body{
        max-height: 530px;
    }
    .full_refund_vl {
        height: 198px !important;
    }
    .cancel_partial_vl {
        height: 230px !important;
    }
    .agreement_vl {
        height: 170px !important;
    }
    .counter_offer_vl {
        height: 140px;
    }

}

/*------- 1350 to 1280 screen resolution ---------------*/
@media screen and (max-width: 1350px) and (min-width: 1280px){
    .m-login.m-login--2 .m-login__wrapper{
        margin: 0 !important;
    }
    .term_service_text{
        clip-path: polygon(92% 0%, 0% 0%, 0% 860%);
    }

    .powerd_by{
        margin-top: 8%;
        margin-bottom: 0;
    }
    .term_service_body{
        min-height: 250px;
        max-height: 470px;
    }
    .m-portlet{
        margin-bottom: 0;
    }
    .Billing-Address,.Billing-Address-trans{
        margin-left: 32px;
    }
    .product_lists_cancel{
        height: auto;
    }
    .m-portlet{
        margin-bottom: 0;
    }
    .full_refund_vl {
        height: 190px;
    }
    .waiting_vl{
        height: 80px;
    }
    .form-group-width{
        width: 35% !important;
    }
    .form-group-refund-width{
        width: 35% !important;
    }
    .Billing-Address,.Billing-Address-trans{
        margin-left: 32px;
    }
    .product_lists_cancel{
        height: auto;
    }
    .long-product-cancel{
        margin-left: 2%;
    }
    .grand_total_value{
        font-size: 1.5em !important;
    }
    .side_bar_line{
        max-width: 1.3333% !important;
        flex: 1.333% !important;
    }
    .right_side_div{
        max-width: 98.66667% !important;
        flex: 0 0 96.6667% !important;
    }
    .email_alert{
        left: 20%;
    }
    .m-login.m-login--2{
        margin-left: 15%;
        margin-top: 5%;
    }
    .cancel_full_vl {
        height: 185px;
    }
    .custom_pannel{
        display: none !important;
    }
    .term_service_text{
        clip-path: polygon(92% 0%, 0% 0%, 0% 860%);
    }
    .term_service_body{
        max-height: 625px;
    }
    .full_refund_vl {
        height: 198px !important;
    }
    .cancel_partial_vl {
        height: 230px !important;
    }
    .agreement_vl {
        height: 170px !important;
    }
    .counter_offer_vl {
        height: 140px;
    }
    .vl_accept_dec {
        height: 240px;
    }
}

/*------- 1280 to 1150 screen resolution ---------------*/
@media screen and (max-width: 1280px) and (min-width: 1150px){
    .m-portlet{
        margin-bottom: 0;
    }
    .Billing-Address,.Billing-Address-trans{
        margin-left: 32px;
    }
    .custom_pannel {
        display: none !important;
    }

}
/*------- 1280 to 1150 screen resolution ---------------*/
@media screen and (max-width: 1024px) and (min-width: 768px){
    .doller {
        position: absolute;
        top: 54%;
        right: 42%;
        z-index: 999;
    }
    .wd_loader_img {
        position: absolute;
        top: 55%;
        right: 42%;
        z-index: 999;
    }
}

/*------- landscape mobile sizes ---------------*/
@media screen and (max-width: 700px) and (min-width: 577px) {
    .active_menue{
        background-color: transparent !important;
    }
    .side_bar{
        border-right: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 8px;
    }
    .order-details{
        margin-bottom: 10%;
        padding: 20px 25px;
    }
    .payment_section{
        margin-top: 0;
    }
    .amount{
        text-align: right;
        width: 50%;
        float: right;
    }
    .order_id{
        text-align: left;
    }
    .order_number{
        text-align: left;
    }
    .progress_stauts{
        padding-right: 0;
        padding-left: 0;
    }
    /*.m-separator.m-separator--dashed{*/
    /*width: 92%;*/
    /*}*/
    .date_responsive{
        width: 50%;
    }
    .btn-more-detail{
        margin-top: 5%;
        padding: 1rem 3rem !important;
        background-color: #ffd95a !important;
    }
    .col-4-respon{
        width: 33.33%;
    }
    .on_respon{
        display: none;
    }
    .progess_sections{
        width: 50%;
    }
    .succes-image-middle{
        left: 110%;
    }
    .tab-content{
        overflow: hidden;
        min-height: 100%;
        max-height: 100%;
    }
    .edit-profile-form .form-group .save-btn{
        width: 100%;
        padding: 6%;
        border-radius: 35px;
        margin-top: 5%;
    }
    .m-content .profile-row {
        padding: 10px 0 35px 0;
    }

    .my-order-nav,.order-active,.m-nav__separator img{
        display: none;
    }

    .m-subheader .m-subheader__title{
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        display: block;
    }

    .m-subheader .final_counter_offers_subheader__title{
        display: none;
    }

    #help_menu{
        margin-left:250px;
    }

    .order_detail_id{
        text-align: left;
        font-weight: normal;
    }

    .order_detail_id span{
        text-align: right;
        font-weight: bold;
    }

    .order_detail_price{
        display: none;
    }

    .order_detail_id span{
        position: relative;
        float: right;
        left: 96%;
        /*top: -47%;*/
    }

    .m-separator.m-separator--dashed {
        /*margin-left: 5% !important;*/
        width: 90%;
        position: absolute;
        top: 20%;
    }

    /*.m-progress--sm{*/
    /*width: 150%;*/
    /*}*/

    .order_and_deliverydates{
        margin: 0;
    }

    .btn-cancel-order,.btn-track-order{
        margin-bottom: 5%;
        margin-left: 19%;
    }

    .Rectangle-1811{
        margin-bottom: 0;
    }

    .long_product{
        top: -18%;
        position: absolute;
        font-size: 1em !important;
    }

    .amount-transit{
        position: relative;
        right: 5em;
    }
    /*.Rectangle-1812{*/
    /*width: 25%;*/
    /*height: 35%;*/
    /*margin-left: -5%;*/
    /*float: left;*/
    /*}*/

    .too_long_product {
        position: relative;
        top:-5%;
        line-height: 1.25;
        font-size: 16px!important;
        float: left;
        max-width: 186px;
    }

    /*.amount-transit{*/
    /*margin-top: 36px;*/
    /*}*/

    .shipping_amount-tans{
        /*position: relative;*/
        /*top: -109%;*/
        font-weight: bold;
    }

    .grand-total{
        font-size: 1em !important;
        /*margin-top: -12%;*/
    }

    .m-subheader__help{
        position: relative;
        left: -7%;
        bottom:30px;
        font-size: 20px!important;
        margin-left: -14%!important;
        font-weight: 600;
    }
    .refund-amount{
        text-align: left !important;
        width: 50% !important;
        float: left !important;
        font-size: 1em !important;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.26px;
    }
    .refund-center-responsive{
        width: 35%;
        float: right;
    }
    .refund_date_text{
        line-height: 1.80;
    }
    .refund_date_text{
        width: 100%;
    }
    .amount-refund{
        text-align: left;
    }
    .amount-refund-text{
        text-align: left;
    }
    /* Message Responsive Css */
    .r_content_body{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .r-m-content{
        padding: 20px 0 !important;
    }
    #search-bar{
        width: 90%!important;
        left:0!important;
    }
    .r-sidebar-detail{
        position: relative;
        left: 5.6rem;
    }

    .short-message-detail{
        position: relative;
        bottom: 3.5rem;
        left:5.7rem;
    }

    .user-photo{
        left: 1em;
    }

    .company_name .time{
        position: absolute;
        right: 7.5rem;
    }

    #inbox-body{
        display: none;
    }

    .inbox-messages{
        background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
    }

    .inbox-header .company_name{
        top:10px !important;
        left:4.5em !important;
    }

    .inbox-header .order-id{
        top:2px!important;
        text-align: left !important;
        left: 5em !important;
        padding-bottom: 10px;
    }

    .available-time{
        margin-top: 1em;
    }

    #footer-searchbar{
        width: 75% !important;
        top: 1.4rem;
        left: 1em;
    }
    .inbox-footer .find-attatch{
        top: 1.3em;
        right: 5em;
    }

    .inbox-footer .send-btn{
        float: right;
        bottom: 1.8em;
        top:auto;
        right: 1em;
    }

    .inbox-messages .chat-sender-messages{
        width: 100%;
    }
    #inbox-sidebar{
        max-height: initial;
        overflow: unset;
        overflow-x: unset;
        /*background-color: transparent;*/
    }

    #inbox-body{
        display: none;
    }

    .m-brand__logo{
        display: none !important;
    }
    .logo_section{
        background-color: transparent !important;
        visibility: hidden;
    }
    .side_bar_menue{
        position: absolute;
    }
    .r_aside_left_minimize_toggle{
        display: block!important;
        float: left;
        position: absolute;
        left: 1.5em;
        top: 1.1em;
    }
    .background_image{
        background-image: url("../../../../assets/img/FullBG_Mobile.svg");
        background-repeat: repeat;
        background-size: cover;
    }
    .m-portlet-full-height{
        display: none !important;
    }
    .desktop_logo{
        display: none;
    }
    .mobile_logo{
        display: block;
    }

    .res-product{
        margin-top: 15px;
    }

    .r-product-title{
        float: right;
        position: relative;
        right: 2em;
        bottom: 2.8em;
    }

    .r-amount-transit{
        position: relative;
        bottom: 4em;
        left: 3em;
    }
    .hr_cancel_order{
        position: relative;
        /*bottom: 7em;*/
        margin: 0 0 15px 0;
    }

    .r-select-refund-reason{
        width: 200%;
        position: relative;
        bottom: 6em;
    }
    .bootstrap-select.form-control:not([class*=col-]) {
        width: 296px;
        height: 48px;
        position: relative;
        /*bottom: 6.5em;*/
    }



    .home_image{
        left: 102%;
    }
    .responsive-group{
        margin-top: 12%;
    }
    .btn-more-detail-refund{
        width: 156px;
        height: 48px;
    }
    .content_boday{
        margin-right: 2%;
    }
    .m-subheader{
        padding: 20px 10px;
    }
    .m-body .m-content{
        padding: 20px 10px;
    }
    .cross_image{
        left: 102%;
    }
    .success-responsive{
        width: 75% !important;
    }
    .success-responsive-2{
        width: 65% !important;
    }
    .text-center-responsive{
        text-align: center;
    }
    .m-sparate-dotted-resp{
        margin-left: 0% !important;
    }
    .col-xs {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xs-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-xs-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }

    .col-xs-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .col-xs-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xs-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .col-xs-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xs-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .col-xs-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xs-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .col-xs-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
    .payemt_store_height{
        padding: 20px 10px;
        min-height: auto;
        max-height: none;
    }
    .Billing-Address,.Billing-Address-trans{
        margin-left: 10%;
        word-break: break-all;
    }
    .order-detail-responsive{
        padding: 20px 20px;
    }
    .copy_past{
        padding-top: 30px;
    }
    .shipping_info_transit{
        margin-bottom: 0;
    }
    .side_bar_line{
        max-width: 1.3333% !important;
        flex: 1.333% !important;
    }
    .right_side_div{
        max-width: 89.66667% !important;
        flex: 0 0 89.6667% !important;
    }
    .attment_doc_box{
        width: 240px;
        height: 48px;
    }
    .waiting_vl{
        height: 100px;
    }
    .counter_offer_vl{
        height: 150px;
    }
    .vl_accept_dec{
        height: 260px;
    }
    .full_refund_vl{
        height: 186px;
    }
    .partial_refund_vl{
        height: 230px;
    }
    .order_review_box{
        display: none;
    }
    .declined_store{
        margin-top: 1rem !important;
    }
    .case_heading,.refund_body,.attachment_heading,.declined_store{
        font-size: 1em !important;
    }
    .btn-accepted{
        width: 110px;
        height: 48px;
        border-radius: 120px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        background-color: var(--light-gold);
        font-size: 1em !important;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.26px;
        text-align: center;
        color: var(--black-70);
        padding: 0 !important;
    }
    .btn-decline{
        width: 110px;
        height: 48px;
        border-radius: 120px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        border: solid 2px var(--light-gold);
        background-color: var(--white-two);
        font-size: 1em !important;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.26px;
        text-align: center;
        color: var(--black-70);
        padding: 0 !important;
    }
    .Rectangle-1784{
        width: 140px;
        height: 48px;
    }
    .m-portlet{
        margin-bottom: 10%;
    }
    .m-grid__item.m-footer{
        margin-top: -60px;
    }
    .modal-content{
        width: 328px;
        border-radius: 8px !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
        background-color: var(--white) !important;
        margin: 0 auto;
    }
    #order_icon{
        left: 7.5em;
        top: 0.3125em;
    }
    .cancel_text{
        text-align: center;
    }
    .email_alert{
        width: 343px;
        height: 80px;
        left: 2.5%;
        top: 3%;
    }

    .responsive-faq-maximize{
        float: right;
        position: absolute;
        right: 2.5em;
        bottom: 0.8em;
    }

    .responsive-faq-minimize{
        float: right;
        position: absolute;
        right: 2.5em;
        bottom:  0.8em;
    }

    #faq-search-bar{
        width:84% !important;
        padding:0.8em;
        left:0;
    }
    .remove_tags{
        display: none;
    }

    .faq-search-icon{
        left:2.6em !important;
        font-size: 18px;
    }
    .refund_left_padding{
        padding-left: 15px;
    }

    .filter{
        padding: 6px 10px;
    }

    .filter:hover{
        border-radius: 50%;
    }

    .filter-text{
        display: none;
    }
    .filter_down_arrow{
        display: none;
    }
    .filter_up_arrow{
        display: none;
    }
    /*Faq Css*/
    .faq-m-subheader{
        padding: 0 10px;
    }
    .faq-secion{
        background-color:transparent;
    }

    .faq-complete-question-answers{
        display:none;
    }

    .m-responsive-subheader__title{
        display: block;
        font-family: 'OpenSans',sans-serif;
        font-size: 2.25em !important;
        padding-top: 1.5em;
        padding-left: 0.9rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: normal;
        text-align: left;
        color: var(--black-70);
    }


    .faq-search-section{
        margin-top: -1.5em;
    }
    .faq-questions{
        padding-left: .6rem;
        color: #494949;
    }
    .faq-search{
        position: relative;
        left: -0.5em;
    }
    .custom_pannel{
        font-family: 'OpenSans',sans-serif;
        font-size: 1em !important;
        padding-left: 1.6em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #494949;
    }
    .faq_answer{
        width: 90%;
    }
    .faq-line{
        width:88%;
    }
    .m-login__form.m-form{
        margin-left: 0 !important;
        width: 100% !important;
    }
    .container-fluid{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .m-login.m-login--2 .m-login__wrapper{
        padding: 2rem 0 0 0;
        margin: 0;
    }
    .m-login__title{
        /*font-size: 16px !important;*/
        margin-bottom: 2.4rem;
    }
    .br1{
        display: none;
    }
    .label_text{
        font-weight: bold !important;
    }
    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo{
        margin: 1rem auto 3rem auto;
    }
    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-login__form-right{
        padding-left: 15px;
    }
    .powerd_by{
        margin-top: 5%;
    }
    .term_service{
        padding-top: 5%;
    }
    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control{
        width: 100%;
    }
    .forgot_term{
        padding-top: 40%;
    }
    /*.create_power_by{*/
    /*margin-top: 23%;*/
    /*}*/
    .btn-reset-pass{
        width: 230px;
        height: 48px;
        color: white !important;
    }
    .reset_term{
        padding-top: 28%;
    }
    .btn-cancel-no-order,.btn-cancel-yes-order{
        padding: 0 !important;
        width: 136px;
        height: 48px;
        line-height: 2.50;
    }
    .modal .modal-content .modal-footer,.modal .modal-content .modal-header,.modal .modal-content .modal-body{
        padding: 1rem !important;
    }
    .modal_hr{
        width: 100%;
        margin: 20px 0;
    }
    .phone_number_digit a img{
        float: right;
    }
    .merchant_image {
        float: left;
        margin-left: 0;
        margin-right: 8%;
    }
    .product_lists_cancel{
        min-height: 100%;
    }
    .cancel_order_buttons{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
    }
    .buttons-request{
        position: fixed;
        bottom: 0;
        background: white;
        left: 0;
        padding-left: 0.9375em;
        margin-bottom: 0;
        z-index: 99;
    }
    .btn__cancel-order,.btn-submit-order{
        width: 156px;
        height: 48px;
        margin-bottom: 1rem;
        margin-left: 3.5%;
    }
    .order_icon_success{
        padding-left: 38%;
    }

    .order_icon {
        position: relative;
        left: 7.5em;
        top: 30px;
    }

    .btn-submit-refund{
        margin-top:1.0625em;
    }
    .cancel_vl{
        height: 330px;
    }
    .responsive-profiles-label{
        padding-left: 0.5em;
    }
    .modal-footer > :not(:first-child) {
        margin-left: 1.5rem !important;
    }


    .term_service_text {
        width: auto;
        padding-left: 10%;
        padding-top: 5%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        clip-path: polygon(140% 0%, 0% 0%, 0% 692%);
        z-index: 11;
        opacity: 1;
    }

    .m-header--fixed-mobile .m-header{
        top:-56px !important;
    }

    .go-back{
        display: flex;
        position: absolute;
        left: 1em;
        top: 1.3em;
    }

    .go-back .la-arrow-left{
        font-size: 2.3em;
        color: #ffa701;
    }

    .back_to_my_order_text{
        font-family: 'OpenSans',sans-serif;
        margin:0.5em;
        font-size: 1em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #4c4c4c;
    }
    #r_m_aside_left_minimize_toggle .small_responsive_sidebar{
        display: block;
        width: 16px !important;
        height: 2px !important;
        border-radius: 4px;
        background-color: #ffa701!important;
    }


    .order-review{
        display: flex;
        position: relative;
        top:2em;
    }

    .review-order-on-right{
        position: relative;
        left: 5em;
        top:0.1875em;
    }

    .order-id-text{
        font-family: 'OpenSans',sans-serif;
        font-size: 1.25em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        color: #4c4c4c;
    }

    .review-order-link{
        display: flex;
    }

    .order-review .la-angle-right{
        font-size: 1em;
        margin: 0.2em 0.4em;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.5) !important;
    }

    .review-order-text{
        font-family: 'Open Sans',sans-serif;
        font-size: 1em;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: right;
        color:rgba(0, 0, 0, 0.5);
    }

    .offer-declined-responsive-text{
        position: absolute;
        padding-left: 7em;
    }

    #alert-message{
        width:330px !important;
    }
    .print-label-hr{
        width: 296px !important;
    }

    .btn-open{
        margin-left: 4em;
        margin-bottom: 1em;
    }

    .send-email-btn{
        margin-left: 4em;
        margin-bottom: 1em;
    }

    .cross_align{
        position: absolute !important;
        right: 2em;
        bottom: 4em !important;
    }
    .m-login.m-login--2 .m-login__wrapper{
        padding: 2rem 2rem 0 2rem !important;
    }
    .w3-sidebar{
        width: 264px !important;
    }
    .m-quick-notification-sidebar-overlay{
        right: 264px;
    }

}

/*------- Nexus 5X,Nexus 6P,Iphone 7 Plus,Iphone 8 Plus ---------------*/
@media screen and (max-width: 576px) and (min-width: 401px){
    .active_menue{
        background-color: transparent !important;
    }
    .side_bar{
        border-right: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 8px;
    }
    .order-details{
        margin-bottom: 10%;
        /*padding: 20px 25px;*/
        border-radius: 8px;
    }
    .payment_section{
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .amount{
        text-align: right;
        width: 50%;
        float: right;
    }
    .order_id{
        text-align: left;
    }
    .order_number{
        text-align: left;
    }
    .progress_stauts{
        padding-right: 0;
        padding-left: 0;
    }
    /*.m-separator.m-separator--dashed{*/
    /*width: 92%;*/
    /*}*/
    .date_responsive{
        width: 50%;
    }
    .btn-more-detail{
        margin-top: 5%;
        padding: 1rem 3rem !important;
        background-color: #ffd95a !important;
    }
    .col-4-respon{
        width: 33.33%;
    }
    .on_respon{
        display: none;
    }
    .progess_sections{
        width: 50%;
    }
    .succes-image-middle{
        left: 110%;
    }
    .tab-content{
        overflow: hidden;
        min-height: 100%;
        max-height: 100%;
    }
    .edit-profile-form .form-group .save-btn{
        width: 100%;
        padding: 6%;
        border-radius: 35px;
        margin-top: 5%;
        position: relative;
        left: 1.2em;
    }
    .m-content .profile-row {
        padding: 10px 0 35px 0;
    }

    .my-order-nav,.order-active,.m-nav__separator img{
        display: none;
    }

    .m-subheader .m-subheader__title{
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        display: block;
    }

    .m-subheader .final_counter_offers_subheader__title{
        display: none;
    }

    #help_menu{
        margin-left:250px;
    }

    .order_detail_id{
        text-align: left;
        font-weight: normal;
    }

    .order_detail_id span{
        text-align: right;
        font-weight: bold;
    }

    .order_detail_price{
        display: none;
    }

    .order_detail_id span{
        position: relative;
        float: right;
        left: 96%;
        /*top: -47%;*/
    }

    .m-separator.m-separator--dashed {
        /*margin-left: 5% !important;*/
        width: 90%;
        position: absolute;
        top: 20%;
    }

    /*.m-progress--sm{*/
    /*width: 150%;*/
    /*}*/

    .order_and_deliverydates{
        margin: 0;
    }

    .btn-cancel-order,.btn-track-order{
        margin-bottom: 5%;
        margin-left: 23%;
    }
    .inbox-messages{
        min-height: 496px;
    }
    .Rectangle-1811{
        margin-bottom: 0;
    }

    .long_product{
        top: -18%;
        position: absolute;
        font-size: 1em !important;
    }

    .amount-transit{
        position: relative;
        right: 8.3em;
    }
    /*.Rectangle-1812{*/
    /*width: 25%;*/
    /*height: 35%;*/
    /*margin-left: -5%;*/
    /*float: left;*/
    /*}*/

    .too_long_product {
        position: relative;
        top:-5%;
        line-height: 1.25;
        font-size: 16px!important;
        float: left;
        max-width: 186px;
    }

    /*.amount-transit{*/
    /*margin-top: 36px;*/
    /*}*/

    .shipping_amount-tans{
        /*position: relative;*/
        /*top: -109%;*/
        font-weight: bold;
    }

    .grand-total{
        font-size: 1em !important;
        /*margin-top: -12%;*/
    }

    .m-subheader__help{
        position: relative;
        left: -7%;
        bottom:30px;
        font-size: 20px!important;
        margin-left: -14%!important;
        font-weight: 600;
    }
    .refund-amount{
        text-align: left !important;
        width: 50% !important;
        float: left !important;
        font-size: 1em !important;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.26px;
    }
    .refund-center-responsive{
        width: 35%;
        float: right;
    }
    .refund_date_text{
    line-height: 1.80;
}
    .refund_date_text{
        width: 100%;
    }
    .amount-refund{
        text-align: left;
    }
    .amount-refund-text{
        text-align: left;
    }
    /* Message Responsive Css */
    .r_content_body{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .r-m-content{
        padding: 20px 0 !important;
    }
    #search-bar{
        width: 90%!important;
        left:0!important;
    }
    .r-sidebar-detail{
        position: relative;
        left: 5.6rem;
    }

    .short-message-detail{
        position: relative;
        bottom: 3.5rem;
        left:5.7rem;
    }
    .user-photo{
        left: 1em;
    }

    .company_name .time{
        position: absolute;
        right: 7.5rem;
    }

    #inbox-body{
        display: none;
    }

    .inbox-messages{
        background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
        min-height: 600px;
    }

    .inbox-header .company_name{
        top:10px !important;
        left:4.5em !important;
    }

    .inbox-header .order-id{
        top:2px!important;
        text-align: left !important;
        left: 5em !important;
        padding-bottom: 10px;
    }

    .available-time{
        margin-top: 1em;
    }

    #footer-searchbar{
        width: 75% !important;
        top: 1.4rem;
        left: 1em;
    }
    .inbox-footer .find-attatch{
        top: 1.3em;
        right: 5em;
    }

    .inbox-footer .send-btn{
        float: right;
        bottom: 1.8em;
        top:auto;
        right: 1em;
    }

    .inbox-messages .chat-sender-messages{
        width: 100%;
    }
    #inbox-sidebar{
        max-height: initial;
        overflow: unset;
        overflow-x: unset;
        /*background-color: transparent;*/
        margin-bottom: 15%;
    }

    #inbox-body{
        display: none;
    }

    .m-brand__logo{
        display: none !important;
    }
    .logo_section{
        background-color: transparent !important;
        visibility: hidden;
    }
    .side_bar_menue{
        position: fixed;
    }
    .r_aside_left_minimize_toggle{
        display: block!important;
        float: left;
        position: absolute;
        left: 1.5em;
        top: 1.1em;
    }
    .background_image{
        background-image: url("../../../../assets/img/FullBG_Mobile.svg");
        background-repeat: repeat;
        background-size: cover;
    }
    .m-portlet-full-height{
        display: none !important;
    }
    .desktop_logo{
        display: none;
    }
    .mobile_logo{
        display: block;
    }

    .res-product{
        margin-top: 15px;
    }
    .r-product-title{
        float: right;
        position: relative;
        right: 7em;
        bottom: 2.8em;
    }

    .r-amount-transit{
        position: relative;
        bottom: 4em;
        left: 3em;
    }
    .hr_cancel_order{
        position: relative;
        /*bottom: 7em;*/
        margin: 0 0 15px 0;
    }

    .r-select-refund-reason{
        width: 200%;
    }
    .bootstrap-select.form-control:not([class*=col-]) {
        width: 296px;
        height: 48px;
        position: relative;
        /*bottom: 6.5em;*/
    }

    .home_image{
        left: 102%;
    }
    .responsive-group{
        margin-top: 12%;
    }
    .btn-more-detail-refund{
        width: 156px;
        height: 48px;
        margin: 5%;
    }
    .content_boday{
        margin-right: 2%;
        margin-top: 5%;
    }
    .m-subheader {
        padding: 20px 10px 0 10px;
    }
    .serach_responsive{
        display: block;
    }
    .search_input{
        height: 54px;
        border-radius: 28px;
    }
    .m-input-icon>.m-input-icon__icon [class*=" fa-"], .m-input-icon>.m-input-icon__icon [class^=fa-]{
        line-height: 2 !important;
    }
    .m-body .m-content{
        padding: 20px 10px;
    }
    .cross_image{
        left: 102%;
    }
    .success-responsive{
        width: 75% !important;
    }
    .success-responsive-2{
        width: 65% !important;
    }
    .text-center-responsive{
        text-align: center;
    }
    .m-sparate-dotted-resp{
        margin-left: 0% !important;
    }
    .col-xs {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xs-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-xs-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }

    .col-xs-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .col-xs-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xs-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .col-xs-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xs-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .col-xs-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xs-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .col-xs-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .col-xs-12 {
        flex: 0 0 100%;

    }
    .payemt_store_height{
        padding: 20px 10px;
        min-height: auto;
        max-height: none;
    }
    .Billing-Address,.Billing-Address-trans{
        margin-left: 10%;
        word-break: break-all;
    }
    .order-detail-responsive{
        padding: 20px 20px;
    }
    .copy_past{
        padding-top: 30px;
    }
    .shipping_info_transit{
        margin-bottom: 0;
    }
    .side_bar_line{
        max-width: 1.3333% !important;
        flex: 1.333% !important;
    }
    .right_side_div{
        max-width: 89.66667% !important;
        flex: 0 0 89.6667% !important;
    }
    .attment_doc_box{
        width: 240px;
        height: 48px;
    }
    .waiting_vl{
        height: 100px;
    }
    .counter_offer_vl{
        height: 150px;
    }
    .vl_accept_dec{
        height: 260px;
    }
    .full_refund_vl{
        height: 186px;
    }
    .partial_refund_vl{
        height: 230px;
    }
    .order_review_box{
        display: none;
    }
    .declined_store{
        margin-top: 1rem !important;
    }
    .case_heading,.refund_body,.attachment_heading,.declined_store{
        font-size: 1em !important;
    }
    .btn-accepted{
        width: 110px;
        height: 48px;
        border-radius: 120px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        background-color: var(--light-gold);
        font-size: 1em !important;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.26px;
        text-align: center;
        color: var(--black-70);
        padding: 0 !important;
    }
    .btn-decline{
        width: 110px;
        height: 48px;
        border-radius: 120px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        border: solid 2px var(--light-gold);
        background-color: var(--white-two);
        font-size: 1em !important;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.26px;
        text-align: center;
        color: var(--black-70);
        padding: 0 !important;
    }
    .Rectangle-1784{
        width: 140px;
        height: 48px;
    }
    .m-portlet{
        margin-bottom: 10%;
    }
    .m-grid__item.m-footer{
        margin-top: -60px;
    }
    .modal-content{
        width: 328px;
        border-radius: 8px !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
        background-color: var(--white) !important;
        margin: 0 auto;
    }
    #order_icon{
        left: 7.5em;
        top: 0.3125em;
    }
    .cancel_text{
        text-align: center;
    }
    .email_alert{
        width: 343px;
        height: 80px;
        left: 2.5%;
        top: 3%;
    }

    .responsive-faq-maximize{
        float: right;
        position: absolute;
        right: 2.5em;
        bottom: 0.8em;
    }

    .responsive-faq-minimize{
        float: right;
        position: absolute;
        right: 2.5em;
        bottom:  0.8em;
    }

    #faq-search-bar{
        width:84% !important;
        padding:0.8em;
        left:0;
    }
    .remove_tags{
        display: none;
    }

    .faq-search-icon{
        left:2.6em !important;
        font-size: 18px;
    }
    .refund_left_padding{
        padding-left: 15px;
    }

    .filter{
        padding: 6px 10px;
    }

    .filter:hover{
        border-radius: 50%;
    }

    .filter-text{
        display: none;
    }
    .filter_down_arrow{
        display: none;
    }
    .filter_up_arrow{
        display: none;
    }
    /*Faq Css*/
    .faq-m-subheader{
        padding: 0 10px;
    }
    .faq-secion{
        background-color:transparent;
    }

    .faq-complete-question-answers{
        display:none;
    }

    .m-responsive-subheader__title{
        display: block;
        font-family: 'OpenSans',sans-serif;
        font-size: 2.25em !important;
        padding-top: 1.5em;
        padding-left: 0.9rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: normal;
        text-align: left;
        color: var(--black-70);
    }


    .faq {
        position: relative;
        padding: 16px 16px 28px 16px;
        box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.05);
        background-color: var(--white-two);
    }

    .m-subheader__faqtitle{
        diplay:none;
    }

    .m-subheader__title{
        display: none;
    }

    .m-responsive-subheader__title{
        display: none!important;
    }

    .faq-search-section{
        margin-top: -1.5em;
    }
    .faq-questions{
        padding-left: .6rem;
        color: #494949;
    }
    .faq-search{
        position: relative;
        left: -0.5em;
    }
    .custom_pannel{
        font-family: 'OpenSans',sans-serif;
        font-size: 1em !important;
        padding-left: 1.6em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #494949;
    }
    .faq_answer{
        width: 90%;
    }
    .faq-line{
        width:88%;
    }
    .m-login__form.m-form{
        margin-left: 0 !important;
        width: 100% !important;
    }
    .container-fluid{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .m-login.m-login--2 .m-login__wrapper{
        padding: 2rem 0 0 0;
        margin: 0;
    }
    .m-login__title{
        /*font-size: 16px !important;*/
        margin-bottom: 2.4rem;
    }
    .br1{
        display: none;
    }
    .label_text{
        font-weight: bold !important;
    }
    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo{
        margin: 1rem auto 3rem auto;
    }
    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-login__form-right{
        padding-left: 15px;
    }
    .powerd_by{
        margin-top: 5%;
    }
    .term_service{
        padding-top: 5%;
    }
    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control{
        width: 100%;
    }
    .forgot_term{
        padding-top: 40%;
    }
    /*.create_power_by{*/
    /*margin-top: 23%;*/
    /*}*/
    .btn-reset-pass{
        width: 230px;
        height: 48px;
        color: white !important;
    }
    .reset_term{
        padding-top: 28%;
    }
    .btn-cancel-no-order,.btn-cancel-yes-order{
        padding: 0 !important;
        width: 136px;
        height: 48px;
        line-height: 2.50;
    }
    .modal .modal-content .modal-footer,.modal .modal-content .modal-header,.modal .modal-content .modal-body{
        padding: 1rem !important;
    }
    .modal_hr{
        width: 100%;
        margin: 20px 0;
    }
    .phone_number_digit a img{
        float: right;
    }
    .merchant_image {
        float: left;
        margin-left: 0;
        margin-right: 8%;
    }
    .product_lists_cancel{
        min-height: 100%;
    }
    .cancel_order_buttons{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
    }
    .buttons-request{
        position: fixed;
        bottom: 0;
        background: white;
        left: 0;
        padding-left: 2.5em;
        margin-bottom: 0;
        z-index: 99;
    }
    .btn__cancel-refund .btn-cancer-text,.btn-submit-refund .btn-submit-text{
        line-height: 1.6;
    }
    .btn__cancel-order,.btn-submit-order{
        width: 156px;
        height: 48px;
        margin-bottom: 1rem;
        margin-left: 3.5%;
    }
    .order_icon_success{
        padding-left: 38%;
    }

    .order_icon {
        position: relative;
        left: 7.5em;
        top: 30px;
    }

    .btn-submit-refund{
        margin-top:1.0625em;
    }
    .cancel_vl{
        height: 330px;
    }
    .responsive-profiles-label{
        padding-left: 0.5em;
    }
    .modal-footer > :not(:first-child) {
        margin-left: 1.5rem !important;
    }


    .term_service_text {
        width: auto;
        padding-left: 10%;
        padding-top: 5%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        clip-path: polygon(140% 0%, 0% 0%, 0% 692%);
        z-index: 11;
        opacity: 1;
    }

    .m-header--fixed-mobile .m-header{
        top:-56px !important;
    }

    .go-back{
        display: flex;
        position: absolute;
        left: 1em;
        top: 1.3em;
    }

    .go-back .la-arrow-left{
        font-size: 2.3em;
        color: #ffa701;
    }

    .back_to_my_order_text{
        font-family: 'OpenSans',sans-serif;
        margin:0.5em;
        font-size: 1em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #4c4c4c;
    }
    #r_m_aside_left_minimize_toggle .small_responsive_sidebar{
        display: block;
        width: 16px !important;
        height: 2px !important;
        border-radius: 4px;
        background-color: #ffa701!important;
    }


    .order-review{
        display: flex;
        position: relative;
        top:2em;
    }

    .order-review-para-text{
        display: none;
        font-family: 'OpenSans',sans-serif;
        font-size: 1.25em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        color:#4c4c4c;
    }

    .review-order-on-right{
        position: relative;
        left: 8em;
        top:0.1875em;
    }

    .order-id-text{
        font-family: 'OpenSans',sans-serif;
        font-size: 1.25em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        color: #4c4c4c;
    }

    .review-order-link{
        display: flex;
        text-decoration: none;
    }

    .review-order-link:active{
        text-decoration: none;
    }

    .review-order-link:visited{
        text-decoration: none;
    }

    .order-review .la-angle-right{
        font-size: 1em;
        margin: 0.2em 0.4em;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.5) !important;
    }

    .review-order-text{
        font-family: 'Open Sans',sans-serif;
        font-size: 1em;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: right;
        color:rgba(0, 0, 0, 0.5);
    }

    .offer-declined-responsive-text{
        position: absolute;
        padding-left: 7em;
    }

    #alert-message{
        width:330px !important;
    }
    .print-label-hr{
        width: 296px !important;
    }

    .btn-open{
        margin-left: 4em;
        margin-bottom: 1em;
    }

    .send-email-btn{
        margin-left: 4em;
        margin-bottom: 1em;
    }

    .cross_align{
        position: absolute !important;
        right: 2em;
        bottom: 4em !important;
    }
    .m-login.m-login--2 .m-login__wrapper{
        padding: 2rem 2rem 6rem 2rem !important;
    }
    .w3-sidebar{
        width: 264px !important;
    }
    .m-quick-notification-sidebar-overlay{
        right: 264px;
    }
    .col-lg-10.col-md-11{
        padding-right: 0;
        padding-left: 0;
    }
    #tooltips{
        margin: 5px 8px;
    }
    #m_login_signin_submit,.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary{
        margin: 3%;
    }

    .col-lg-10.col-md-11{
        padding-right: 0;
        padding-left: 0;
    }
    #tooltips{
        margin: 5px 8px;
    }
    #m_login_signin_submit,.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary{
        margin: 3%;
    }
    .cancel_order{
        font-size: 1.25rem !important;
    }
    .tran-amount{
        font-size: 2em !important;
    }
    .One-Time-Counteroffer_para{
        width: 100%;
    }
    .refund_logo{
        height: 73px;
    }
    .close_logo{
        height: 231px;
    }
    .partial_close{
        height: 310px;
    }
    .agree_close{
        height: 161px;
    }

    .m-header--fixed-mobile .m-responsive-topbar {
        margin-top: 0;
        top: 0px !important;
    }

    .responsive_order_review-box{
        width: 350px !important;
    }

    .chat-box{
        display:block !important;
        position: relative;
        bottom: 3.3em;
    }

    .chatbox-topbar{
        webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0);
    }

    .hide-chatbox{
        display: none;
    }

    .return-chatbox{
        display: flex!important;
    }

    .chatbox-responsive-title{
        display: none;
    }

    .m-responsive-subheader__faqtitle{
        display: block !important;
        font-family: 'OpenSans',sans-serif;
        font-size: 2.25em;
        font-weight: 600;
        padding: 32px 0px 3px 15px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.7);
    }

    .chatbox-sidebar{
        display: none!important;
    }
    .chatbox-footer{
        display: none !important;
    }
    .chat-container{
        margin-left: 1.25em !important;
    }
    .chat-respond{
        width: 267.7px;
        height: 60px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        background-color: var(--white-two);
    }

    .inbox-footer{
        position: fixed;
        bottom: 0;
        width: 430px;
    }
    .m-subheader__faqtitle{
        display: none !important;
    }

    #reason-dd-1{
        position: relative;
        bottom: 3em;
    }
    #reason-dd-2{
        position: relative;
        bottom: 4em;
    }
    .hr_cancel_refund_responsive{
        position: relative;
        bottom: 3em;
    }

    .hr_after_response_select{
        position: relative;
        bottom: 4em;
    }

    .m-form__responsegroup{
        position: relative;
        bottom: 5em;
    }
    .hr_after_attatchment{
        display: none;
    }

    .hr_cancel_refund_in_responsive{
        display: none;
    }

    .amount-transit-responsive{
        position: relative;
        right: 7.5em;
        top:-3em;
    }

    /*.total_products_section{*/
        /*position: relative;*/
        /*bottom: 2.8em;*/
    /*}*/

    .product-short-name{
        position: relative;
        bottom: 10px;
        right: 3.5em;
    }
    .profile_hr {
        width: 1208px;
        margin-left: 20px;
        margin-right: 20px;
        border-top: 2px solid #eee!important;
        position: relative;
        bottom: 8em;
    }
    .profile-form-group{
        width: 110%;
        margin-left: 3px;
    }

    .refund-amount-transit{
        position: relative;
        top: 11px;
        right: 10.2em;
    }

    .cancel_order_transit_amount{
        position: relative;
        right: 10.25em;
    }
    .cancel_order_product_amount_transit{
        position: relative;
        right: 8.75em;
    }
    .new_order_transit_amount{
        position: relative;
        right: 9.8em;
    }

    /*.inactive-users{*/
        /*margin-bottom: -50px;*/
    /*}*/

    .res_instruction_text{
        position: relative;
        left: 4em;
    }

    .print_label_btn{
        margin-left: 66px;
    }
    .label_images {
        position: relative;
        bottom: 1em;
    }

    .print_label_close_btn{
        position: relative;
        bottom: 1.3em;
    }
    .grand-total span{
        font-size: 1em;
    }

    .total_products {
        background-color: transparent;
        border-style: hidden;
    }

    .m-grid__item.m-faq-footer{
        margin-top: 0px;
        background: #dee4e4!important;
    }
    .message_search_input {
        max-width: 328px;
        margin-left: 38px;
    }
    .m-header--fixed-mobile .m-refundtopbar {
        margin-top: 0;
        top: -42px !important;
    }
    .message_searchbox{
        margin:0.75em 0;
        padding-left: 7%;
    }
    .chatbox-mobile-responsive{
        margin-left: 3%;
    }
    .order-details-no-padding {
        padding: 20px 10px 10px 10px;
    }
    .vl{
        height: 97%;
    }
    .total_products_section{
        margin-top: -4rem;
    }
    .btn-accepted-responsive{
        margin-left: 21%;
    }
    .fixed_side{
        top:5rem;
    }
    .m-brand.mt-0{
        padding-top: 2rem;
    }
    .side_bar_pattern{
        position: absolute;
        bottom: 0;
    }
    .side_bar_close_image,.desk_top_side_img{
        display: none !important;
    }
    .mobile_side_img{
        display: block !important;
        position: absolute;
        top:25rem;
    }
    .filter-form{
        display: none !important;
    }
}

/*------- Galaxy S5,Iphone 7,Iphone 8,Iphone X ---------------*/
@media screen and (max-width: 400px) {
    .active_menue {
        background-color: transparent !important;
    }

    .side_bar {
        border-right: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 8px;
    }

    .order-details {
        margin: 0% 2% 10% 2%;

        border-radius: 8px;
    }

    .payment_section {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .amount {
        text-align: right;
        width: 50%;
        float: right;
    }

    .order_id {
        text-align: left;
    }

    .order_number {
        text-align: left;
    }

    .progress_stauts {
        padding-right: 0;
        padding-left: 0;
    }

    /*.m-separator.m-separator--dashed{*/
    /*width: 92%;*/
    /*}*/
    .date_responsive {
        width: 50%;
    }

    .btn-more-detail {
        margin-top: 5%;
        padding: 1rem 3rem !important;
        background-color: #ffd95a !important;
    }

    .col-4-respon {
        width: 33.33%;
    }

    .on_respon {
        display: none;
    }

    .progess_sections {
        width: 50%;
    }

    .succes-image-middle {
        left: 110%;
    }

    .tab-content {
        overflow: hidden;
        min-height: 100%;
        max-height: 100%;
    }

    .edit-profile-form .form-group .save-btn {
        width: 100%;
        padding: 6%;
        border-radius: 35px;
        margin-top: 5%;
        position: relative;
        left: 1.2em;
    }

    .m-content .profile-row {
        padding: 10px 0 35px 0;
    }

    .my-order-nav, .order-active, .m-nav__separator img {
        display: none;
    }

    .m-subheader .m-subheader__title {
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        display: block;
    }

    .m-subheader .final_counter_offers_subheader__title {
        display: none;
    }

    #help_menu {
        margin-left: 250px;
    }

    .order_detail_id {
        text-align: left;
        font-weight: normal;
    }

    .order_detail_id span {
        text-align: right;
        font-weight: bold;
    }

    .order_detail_price {
        display: none;
    }

    .order_detail_id span {
        position: relative;
        float: right;
        left: 96%;
        /*top: -47%;*/
    }

    .m-separator.m-separator--dashed {
        /*margin-left: 5% !important;*/
        width: 90%;
        position: absolute;
        top: 20%;
    }

    /*.m-progress--sm{*/
    /*width: 150%;*/
    /*}*/
    .order_and_deliverydates {
        margin: 0;
    }

    .btn-cancel-order, .btn-track-order {
        margin-bottom: 5%;
        margin-left: 19%;
    }

    .Rectangle-1811 {
        margin-bottom: 0;
    }

    .long_product {
        top: -18%;
        position: absolute;
        font-size: 1em !important;
    }

    .amount-transit {
        position: relative;
        right: 5em;
    }

    /*.Rectangle-1812{*/
    /*width: 25%;*/
    /*height: 35%;*/
    /*margin-left: -5%;*/
    /*float: left;*/
    /*}*/
    .too_long_product {
        position: relative;
        top: -5%;
        line-height: 1.25;
        font-size: 16px !important;
        float: left;
        max-width: 186px;
    }

    /*.amount-transit{*/
    /*margin-top: 36px;*/
    /*}*/
    .shipping_amount-tans {
        /*position: relative;*/
        /*top: -109%;*/
        font-weight: bold;
    }

    .grand-total {
        font-size: 1em !important;
        /*margin-top: -12%;*/
    }

    .m-subheader__help {
        position: relative;
        left: -7%;
        bottom: 30px;
        font-size: 20px !important;
        margin-left: -14% !important;
        font-weight: 600;
    }

    .refund-amount {
        text-align: left !important;
        width: 50% !important;
        float: left !important;
        font-size: 1em !important;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.26px;
    }

    .refund-center-responsive {
        width: 35%;
        float: right;
    }

    .refund_date_text {
        line-height: 1.80;
    }

    .refund_date_text {
        width: 100%;
    }

    .amount-refund {
        text-align: left;
    }

    .amount-refund-text {
        text-align: left;
    }

    /* Message Responsive Css */
    .r_content_body {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .r-m-content {
        padding: 20px 0 !important;
    }

    #search-bar {
        width: 90% !important;
        left: 0 !important;
    }

    .r-sidebar-detail {
        position: relative;
        left: 5.6rem;
    }

    .short-message-detail {
        position: relative;
        bottom: 3.5rem;
        left: 5.7rem;
    }

    .user-photo {
        left: 1em;
    }

    .company_name .time {
        position: absolute;
        right: 2.5rem;
    }
    .company_name .text-time {
        position: absolute;
        right: 9.5rem;
    }

    #inbox-body {
        display: none;
    }

    .inbox-messages {
        background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
        min-height: 600px;
    }

    .inbox-header .company_name {
        top: 10px !important;
        left: 4.5em !important;
    }

    .inbox-header .order-id {
        top: 2px !important;
        text-align: left !important;
        left: 5em !important;
        padding-bottom: 10px;
    }

    .available-time {
        margin-top: 1em;
    }

    #footer-searchbar {
        width: 75% !important;
        top: 1.4rem;
        left: 1em;
    }

    .inbox-footer .find-attatch {
        top: 1.3em;
        right: 5em;
    }

    .inbox-footer .send-btn {
        float: right;
        bottom: 1.8em;
        top: auto;
        right: 1em;
    }

    .inbox-messages .chat-sender-messages {
        width: 100%;
    }

    #inbox-sidebar {
        max-height: initial;
        overflow: unset;
        overflow-x: unset;
        /*background-color: transparent;*/
        margin-bottom: 15%;
    }

    #inbox-body {
        display: none;
    }

    .m-brand__logo {
        display: none !important;
    }

    .logo_section {
        background-color: transparent !important;
        visibility: hidden;
    }

    .side_bar_menue {
        position: fixed;
    }

    .r_aside_left_minimize_toggle {
        display: block !important;
        float: left;
        position: absolute;
        left: 1.5em;
        top: 1.1em;
    }

    .background_image {
        background-image: url("../../../../assets/img/FullBG_Mobile.svg");
        background-repeat: repeat;
        background-size: cover;
    }

    .m-portlet-full-height {
        display: none !important;
    }

    .desktop_logo {
        display: none;
    }

    .mobile_logo {
        display: block;
    }

    .res-product {
        margin-top: 15px;
    }

    .r-product-title {
        float: right;
        position: relative;
        right: 4em;
        bottom: 2.8em;
    }

    .r-amount-transit {
        position: relative;
        bottom: 4em;
        left: 3em;
    }

    .hr_cancel_order {
        position: relative;
        /*bottom: 7em;*/
        margin: 0 0 15px 0;
    }

    .r-select-refund-reason {
        width: 200%;
    }

    .bootstrap-select.form-control:not([class*=col-]) {
        width: 296px;
        height: 48px;
        position: relative;
        /*bottom: 6.5em;*/
    }

    .home_image {
        left: 102%;
    }

    .responsive-group {
        margin-top: 12%;
    }

    .btn-more-detail-refund {
        width: 156px;
        height: 48px;
        margin: 5%;
    }

    .content_boday {
        margin-right: 2%;
        margin-top: 5%;
    }

    .m-subheader {
        padding: 20px 10px 0 10px;
    }

    .serach_responsive {
        display: block;
    }

    .search_input {
        height: 54px;
        border-radius: 28px;
    }

    .m-input-icon > .m-input-icon__icon [class*=" fa-"], .m-input-icon > .m-input-icon__icon [class^=fa-] {
        line-height: 2 !important;
    }

    .m-body .m-content {
        padding: 20px 10px;
    }

    .cross_image {
        left: 102%;
    }

    .success-responsive {
        width: 75% !important;
    }

    .success-responsive-2 {
        width: 65% !important;
    }

    .text-center-responsive {
        text-align: center;
    }

    .m-sparate-dotted-resp {
        margin-left: 0% !important;
    }

    .col-xs {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xs-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-xs-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }

    .col-xs-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .col-xs-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xs-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .col-xs-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xs-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .col-xs-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xs-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .col-xs-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .col-xs-12 {
        flex: 0 0 100%;

    }

    .payemt_store_height {
        padding: 20px 10px;
        min-height: auto;
        max-height: none;
    }

    .Billing-Address, .Billing-Address-trans {
        margin-left: 10%;
        word-break: break-all;
    }

    .order-detail-responsive {
        padding: 20px 20px;
    }

    .copy_past {
        padding-top: 30px;
    }

    .shipping_info_transit {
        margin-bottom: 0;
    }

    .side_bar_line {
        max-width: 1.3333% !important;
        flex: 1.333% !important;
    }

    .right_side_div {
        max-width: 89.66667% !important;
        flex: 0 0 89.6667% !important;
    }

    .attment_doc_box {
        width: 240px;
        height: 48px;
    }

    .waiting_vl {
        height: 80px;
    }

    .responsive_declined {
        height: 50px !important;
    }

    .accepted_store_resp {
        height: 230px !important;
    }

    .counter_accepted_first {
        height: 200px;
    }

    .counter_accepted_second {
        height: 120px;
    }

    .counter_offer_vl {
        height: 150px;
    }

    .vl_accept_dec {
        height: 260px;
    }

    .full_refund_vl {
        height: 200px;
    }

    .partial_refund_vl {
        height: 230px;
    }

    .order_review_box {
        display: none;
    }

    .declined_store {
        margin-top: 1rem !important;
    }

    .btn.btn-accepted.ml-4 {
        margin-left: 3% !important;
    }

    .case_heading, .refund_body, .attachment_heading, .declined_store {
        font-size: 1em !important;
    }

    .btn-accepted {
        width: 110px;
        height: 48px;
        border-radius: 120px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        background-color: var(--light-gold);
        font-size: 1em !important;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.26px;
        text-align: center;
        color: var(--black-70);
        padding: 0 !important;
    }

    .btn-decline {
        width: 110px;
        height: 48px;
        border-radius: 120px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        border: solid 2px var(--light-gold);
        background-color: var(--white-two);
        font-size: 1em !important;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.26px;
        text-align: center;
        color: var(--black-70);
        padding: 0 !important;
    }

    .Rectangle-1784 {
        width: 140px;
        height: 48px;
    }

    .m-portlet {
        margin-bottom: 10%;
    }

    .m-grid__item.m-footer {
        margin-top: -60px;
    }

    .m-grid__item.m-faq-footer {
        margin-top: 0px;
        background: #dee4e4!important;
    }

    .modal-content {
        width: 328px;
        border-radius: 8px !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
        background-color: var(--white) !important;
        margin: 0 auto;
    }

    #order_icon {
        left: 7.5em;
        top: 0.3125em;
    }

    .cancel_text {
        text-align: center;
    }

    .email_alert {
        width: 343px;
        height: 80px;
        left: 2.5%;
        top: 3%;
    }

    .responsive-faq-maximize {
        float: right;
        position: absolute;
        right: 2.5em;
        bottom: 0.8em;
    }

    .responsive-faq-minimize {
        float: right;
        position: absolute;
        right: 2.5em;
        bottom: 0.8em;
    }

    #faq-search-bar {
        width: 84% !important;
        padding: 0.8em;
        left: 0;
    }

    .remove_tags {
        display: none;
    }

    .faq-search-icon {
        left: 2.6em !important;
        font-size: 18px;
    }

    .refund_left_padding {
        padding-left: 15px;
    }

    .filter {
        padding: 6px 10px;
    }

    .filter:hover {
        border-radius: 50%;
    }

    .filter-text {
        display: none;
    }

    .filter_down_arrow {
        display: none;
    }

    .filter_up_arrow {
        display: none;
    }

    /*Faq Css*/
    .faq-m-subheader {
        padding: 0 10px;
    }

    .faq-secion {
        background-color: transparent;
    }

    .faq-complete-question-answers {
        display: none;
    }

    .m-responsive-subheader__title {
        display: block;
        font-family: 'OpenSans', sans-serif;
        font-size: 2.25em !important;
        padding-top: 1.5em;
        padding-left: 0.9rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: normal;
        text-align: left;
        color: var(--black-70);
    }


    .faq {
        position: relative;
        padding: 16px 16px 28px 16px;
        box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.05);
        background-color: var(--white-two);
    }

    .m-subheader__faqtitle {
        diplay: none;
    }

    .m-subheader__title {
        display: none;
    }

    .m-responsive-subheader__title {
        display: none !important;
    }

    .faq-search-section {
        margin-top: -1.5em;
    }

    .faq-questions {
        padding-left: .6rem;
        color: #494949;
    }

    .faq-search {
        position: relative;
        left: -0.5em;
    }

    .custom_pannel {
        font-family: 'OpenSans', sans-serif;
        font-size: 1em !important;
        padding-left: 1.6em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #494949;
    }

    .faq_answer {
        width: 90%;
    }

    .faq-line {
        width: 88%;
    }

    .m-login__form.m-form {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .container-fluid {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .m-login.m-login--2 .m-login__wrapper {
        padding: 2rem 0 0 0;
        margin: 0;
    }

    .m-login__title {
        /*font-size: 16px !important;*/
        margin-bottom: 2.4rem;
    }

    .br1 {
        display: none;
    }

    .label_text {
        font-weight: bold !important;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
        margin: 1rem auto 3rem auto;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-login__form-right {
        padding-left: 15px;
    }

    .powerd_by {
        margin-top: 5%;
    }

    .term_service {
        padding-top: 5%;
    }

    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
        width: 100%;
    }

    .forgot_term {
        padding-top: 40%;
    }

    /*.create_power_by{*/
    /*margin-top: 23%;*/
    /*}*/
    .btn-reset-pass {
        width: 230px;
        height: 48px;
        color: white !important;
    }

    .reset_term {
        padding-top: 28%;
    }

    .btn-cancel-no-order, .btn-cancel-yes-order {
        padding: 0 !important;
        width: 136px;
        height: 48px;
        line-height: 2.50;
    }

    .modal .modal-content .modal-footer, .modal .modal-content .modal-header, .modal .modal-content .modal-body {
        padding: 1rem !important;
    }

    .modal_hr {
        width: 100%;
        margin: 20px 0;
    }

    .phone_number_digit a img {
        float: right;
    }

    .merchant_image {
        float: left;
        margin-left: 0;
        margin-right: 8%;
    }

    .product_lists_cancel {
        min-height: 100%;
    }

    .cancel_order_buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
    }

    .buttons-request {
        position: fixed;
        bottom: 0;
        background: white;
        left: 0;
        padding-left: 0.9375em;
        margin-bottom: 0;
        z-index: 99;
    }

    .btn__cancel-order, .btn-submit-order {
        width: 156px;
        height: 48px;
        margin-bottom: 1rem;
        margin-left: 3.5%;
    }

    .order_icon_success {
        padding-left: 38%;
    }

    .order_icon {
        position: relative;
        left: 7.5em;
        top: 30px;
    }

    .btn-submit-refund {
        margin-top: 1.0625em;
    }

    .cancel_vl {
        height: 330px;
    }

    .responsive-profiles-label {
        padding-left: 0.5em;
    }

    .modal-footer > :not(:first-child) {
        margin-left: 1.5rem !important;
    }


    .term_service_text {
        width: auto;
        padding-left: 10%;
        padding-top: 5%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        clip-path: polygon(140% 0%, 0% 0%, 0% 692%);
        z-index: 11;
        opacity: 1;
    }

    .m-header--fixed-mobile .m-header {
        top: -56px !important;
    }

    .go-back {
        display: flex;
        position: absolute;
        left: 1em;
        top: 1.3em;
    }

    .go-back .la-arrow-left {
        font-size: 2.3em;
        color: #ffa701;
    }

    .back_to_my_order_text {
        font-family: 'OpenSans', sans-serif;
        margin: 0.5em;
        font-size: 1em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #4c4c4c;
    }

    #r_m_aside_left_minimize_toggle .small_responsive_sidebar {
        display: block;
        width: 16px !important;
        height: 2px !important;
        border-radius: 4px;
        background-color: #ffa701 !important;
    }


    .order-review {
        display: flex;
        position: relative;
        top: 2em;
    }

    .order-review-para-text {
        display: none;
        font-family: 'OpenSans', sans-serif;
        font-size: 1.25em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        color: #4c4c4c;
    }

    .review-order-on-right {
        position: relative;
        left: 4.3em;
        top: 0.1875em;
    }

    .order-id-text {
        font-family: 'OpenSans', sans-serif;
        font-size: 1.25em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        color: #4c4c4c;
    }

    .review-order-link {
        display: flex;
        text-decoration: none;
    }

    .review-order-link:active {
        text-decoration: none;
    }

    .review-order-link:visited {
        text-decoration: none;
    }

    .order-review .la-angle-right {
        font-size: 1em;
        margin: 0.2em 0.4em;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5) !important;
    }

    .review-order-text {
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: right;
        color: rgba(0, 0, 0, 0.5);
    }

    .offer-declined-responsive-text {
        position: absolute;
        padding-left: 7em;
    }

    #alert-message {
        width: 330px !important;
    }

    .print-label-hr {
        width: 296px !important;
    }

    .btn-open {
        margin-left: 4em;
        margin-bottom: 1em;
    }

    .send-email-btn {
        margin-left: 4em;
        margin-bottom: 1em;
    }

    .cross_align {
        position: absolute !important;
        right: 2em;
        bottom: 4em !important;
    }

    .m-login.m-login--2 .m-login__wrapper {
        padding: 2rem 2rem 0 2rem !important;
    }

    .w3-sidebar {
        width: 264px !important;
    }

    .m-quick-notification-sidebar-overlay {
        right: 264px;
    }

    .col-lg-10.col-md-11 {
        padding-right: 0;
        padding-left: 0;
    }

    #tooltips {
        margin: 5px 8px;
    }

    #m_login_signin_submit, .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary {
        margin: 3%;
    }

    .col-lg-10.col-md-11 {
        padding-right: 0;
        padding-left: 0;
    }

    #tooltips {
        margin: 5px 8px;
    }

    #m_login_signin_submit, .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary {
        margin: 3%;
    }

    .cancel_order {
        font-size: 1.25rem !important;
    }

    .tran-amount {
        font-size: 2em !important;
    }

    .One-Time-Counteroffer_para {
        width: 100%;
    }

    .refund_logo {
        height: 73px;
    }

    .close_logo {
        height: 231px;
    }

    .partial_close {
        height: 310px;
    }

    .agree_close {
        height: 161px;
    }

    .m-header--fixed-mobile .m-responsive-topbar {
        margin-top: 0;
        top: 0px !important;
    }

    .responsive_order_review-box {
        margin-left: 1em;
    }

    .chat-box {
        display: block !important;
        position: relative;
        bottom: 3.3em;
    }

    .chatbox-topbar {
        webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0);
    }

    .hide-chatbox {
        display: none;
    }

    .return-chatbox {
        display: flex !important;
    }

    .chatbox-responsive-title {
        display: none;
    }

    .m-responsive-subheader__faqtitle {
        display: block !important;
        font-family: 'OpenSans', sans-serif;
        font-size: 2.25em;
        font-weight: 600;
        padding: 32px 0px 3px 15px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.7);
    }

    .chatbox-sidebar {
        display: none !important;
    }

    .chatbox-footer {
        display: none !important;
    }

    .chat-container {
        margin-left: 1.25em !important;
    }

    .chat-respond {
        width: 267.7px;
        height: 60px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        background-color: var(--white-two);
    }



    .inbox-footer {
        position: fixed;
        bottom: -1em;
        width: 400px;
    }

    .m-subheader__faqtitle {
        display: none !important;
    }

    #reason-dd-1 {
        position: relative;
        bottom: 3em;
    }

    #reason-dd-2 {
        position: relative;
        bottom: 4em;
    }

    .hr_cancel_refund_responsive {
        position: relative;
        bottom: 3em;
    }

    .hr_after_response_select {
        position: relative;
        bottom: 4em;
    }

    .m-form__responsegroup {
        position: relative;
        bottom: 5em;
    }

    .hr_after_attatchment {
        display: none;
    }

    .hr_cancel_refund_in_responsive {
        display: none;
    }

    .amount-transit-responsive {
        position: relative;
        right: 5em;
        top: -3em;
    }

    /*.total_products_section {*/
        /*position: relative;*/
        /*bottom: 2.8em;*/
    /*}*/

    .product-short-name {
        position: relative;
        bottom: 10px;
        right: 2.3em;

    }

    .file-alert {
        height: 48px;
        padding: 1rem .3rem !important;
    }

    .profile_hr {
        width: 1208px;
        margin-left: 20px;
        margin-right: 20px;
        border-top: 2px solid #eee !important;
        position: relative;
        bottom: 8em;
    }

    .profile-form-group {
        width: 110%;
        margin-left: 3px;
    }

    .refund-amount-transit {
        position: relative;
        top: 11px;
        right: 7.8em;
    }


    .cancel_order_transit_amount {
        position: relative;
        top: 11px;
        right: 7.25em;
    }

    .cancel_order_product_amount_transit {
        position: relative;
        top: 11px;
        right: 5.75em;
    }

    .new_order_transit_amount {
        position: relative;
        right: 6.5em;
    }



    .res_instruction_text {
        position: relative;
        left: 4em;
    }

    .print_label_btn {
        margin-left: 66px;
    }

    .label_images {
        position: relative;
        bottom: 1em;
    }

    .print_label_close_btn {
        position: relative;
        bottom: 1.3em;
    }

    .grand-total span {
        font-size: 1em;
    }

    .dropdown-toggle {
        width: 295px !important;
    }

    .bootstrap-select .dropdown-menu {
        width: 310px !important;
    }

    .dropdown-menu {
        border: 0;
        margin: 0;
        /* border-radius: 0; */
        border-radius: 0px !important;
    }

    .message_search_input {
        max-width: 328px;
        margin-left: 10px;
    }

    .message_searchbox{
        margin:0.75em 0;
        padding-left: 7%;
    }
    .chatbox-mobile-responsive{
        margin-left: 3%;
    }

    .chatbox_responsive_row{
        margin-right: 0px !important;
    }
    .order-details-no-padding {
        padding: 20px 10px 10px 10px;
    }
    .vl{
        height: 97%;
    }
    .total_products_section{
        margin-top: -4rem;
    }
    .m-aside-menu .m-menu__nav{
        padding-top: 10px !important;
    }
    .btn-accepted-responsive{
        margin-left: 21%;
    }
    .fixed_side{
        top:4rem;
    }
    .m-brand.mt-0{
        padding-top: 2rem;
    }
    .side_bar_pattern{
        position: absolute;
        bottom: 0;
    }
    .side_bar_pattern{
        position: absolute;
        bottom: 0;
    }
    .side_bar_close_image,.desk_top_side_img{
        display: none !important;
    }
    .mobile_side_img{
        display: block !important;
        position: absolute;
        top:20rem;
    }
    .filter-form{
        display: none !important;
    }
}
